@import play.i18n._
@(lang:String="cn",user:entity.User,uploadURL:String,imageURL:String)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<script src="/assets/js/jquery.min.js"></script>
<script>window.uploadURL = '@uploadURL'</script>
<script>window.imageURL = '@imageURL'</script>
<script>
    $(function(){
        //当前系统时间
        var date = new Date();
        var dateStr = ''+date.getFullYear()+(date.getMonth()+1>=10?date.getMonth()+1:'0'+(date.getMonth()+1))+(date.getDate()>=10?date.getDate():'0'+date.getDate());
        /** 上传图片 **/
        $(document).on('change','.upload-logo',function() {
            var file = $(this);
            file.after(file.clone().val(""));
            file.remove();
            var files = this.files;
            var label_img = $('<span>').css({"width":"300","display":"inline-block"}).appendTo($('.img-logo'));
            $(this).parent().css("display","none");
            $("<button>").addClass("close").attr("type", "button").attr("aria-lable", "Close").html('<span aria-hidden="true">' +
                    '&times;' +
                    '</span>').appendTo(label_img);
            for (var i = 0; i < files.length; i++) {
                previewImage1(label_img, this.files[i]);
            }
        });

        function previewImage1(obj, file) {
            var gallery = obj;
            var imageType = /image.*/;

            if (!file.type.match(imageType)) {
                throw "File Type must be an image";
            }
            var img = document.createElement("img");
            img.file = file;
            $(img).width('100%');
            $(img).height('100%');
            $(gallery).append($(img));
            $('.upload-logo').parent().css("display","none");
            upload(gallery, file);
            // Using FileReader to display the image content
            var reader = new FileReader();
            reader.onload = (function (aImg) {
                return function (e) {
                    aImg.src = e.target.result;
                }
            })(img);
            reader.readAsDataURL(file);
        }

        function upload(thumb, file, id) {
            document.getElementById("mask").style.display = 'block';
            var formdata = new FormData();
            var prefix = "brand/logo/" + dateStr + "/";
            formdata.append("photo", file);
            formdata.append("params", "minify");
            formdata.append("prefix", prefix);
            var http = new XMLHttpRequest();
            var url = window.uploadURL + "/upload";
            http.open("POST", url, true);
            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    document.getElementById("mask").style.display = 'none';
                    var data = JSON.parse(http.responseText);
                    <!--console.log(data.minify_url);-->
                    imgName = data.imgid;
                    $(thumb).find("img").attr('src', data.oss_prefix+data.oss_url);
                    <!--alert(data.message);-->
                }
            }
            http.send(formdata);
        }

        /** 移除图片 **/
        $(document).on('click','.img-logo .close',function(){
            $(this).parent().remove();
            $('.upload-logo').parent().css("display","block");
        })
    })
</script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"新增品牌")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>品牌管理</span>
        <span class="icon-path">&gt;</span>
        <span>新增品牌</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">新增品牌</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">未更改</div>
        <div id="brandSubmit" class="btn-blue btn-form fr ml15">保存</div>
        <div id="cancel" class="btn-white btn-form fr ml20">取消</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">品牌名称</label>
            <div class="col-sm-10">
                <input id="brandName" type="text" class="form-control form-data-area" placeholder="品牌名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">品牌描述</label>
            <div class="col-sm-10">
                <input type="text" id="brandDesc" class="form-control form-data-area" placeholder="品牌描述">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品logo</label>
            <div class="col-sm-10">
                <div class="img-logo">
                    <button type="button" class="btn btn-primary btn-sm" style="position: relative">
                        上传图片
                        <input id="logo" type="file" class="upload-logo form-data-area">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<script>

    var imageURL = window.imageURL;

    /** 数据改变的提示 **/
    $(document).on('change', '.form-data-area', function() {
		$('.usercenter-option > .user-state').css('background-position', '20px -73px');
		$('.usercenter-option > .user-state').text('已更改');
	});

    /** 数据提交 **/
    $("#brandSubmit").click(function(){
        var isPost = true;
        if($("#brandName").val() == "")
        {
           isPost = false;
           $("#js-userinfo-error").html("品牌名称不能为空!");
        }

        var brandName = $("#brandName").val();
        var brandDesc = $("#brandDesc").val();
        var url = $(".img-logo").find("img").attr("src");
        var logoUrl = url.split(imageURL)[1];
        console.log(logoUrl);
        var brand = new Object();
        brand.brandNm = brandName;
        brand.brandDesc = brandDesc;
        brand.logo = logoUrl;
        if (isPost) {
            $.ajax({
                    type :  "POST",
                    url : "/comm/brand/brandSave",
                    contentType: "application/json; charset=utf-8",
                    data : JSON.stringify(brand),
                    error : function(request) {
                        if (window.lang = 'cn') {
                            $('#js-userinfo-error').text('保存失败');
                        } else {
                            $('#js-userinfo-error').text('Save error');
                        }
                        setTimeout("$('#js-userinfo-error').text('')", 2000);
                    },
                    success: function(data) {
                        if (data!="" && data!=null) {
                            $('#js-userinfo-error').text('保存成功').css('color', '#2fa900');
                            $('.usercenter-option > .user-state').css('background-position', '20px -174px');
                            $('.usercenter-option > .user-state').text('未更改');
                            //品牌录入, 成功后返回到品牌录入页面
                            setTimeout("location.href='/"+window.lang+"/comm/brand/add'", 1000);
                        }
                        else {
                           $('#js-userinfo-error').text('保存失败');
                        }
                        setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 1000);
                    }
                });
            }
        });



</script>
}