@import play.i18n._
@(lang:String="cn",user:entity.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<script src="/assets/js/jquery.min.js"></script>
<script>
    $(function(){
        function previewImage1(obj, file) {
            var gallery = obj;
            var imageType = /image.*/;

            if (!file.type.match(imageType)) {
                throw "File Type must be an image";
            }
            var img = document.createElement("img");
            img.file = file;
            $(img).width('100%');
            $(img).height('100%');
            $(gallery).append($(img));
            upload(gallery, file);
            // Using FileReader to display the image content
            var reader = new FileReader();
            reader.onload = (function (aImg) {
                return function (e) {
                    aImg.src = e.target.result;
                }
            })(img);
            reader.readAsDataURL(file);
        }

        function upload(thumb, file, id) {
            var formdata = new FormData();
            formdata.append("photo", file);
            formdata.append("params", "minify");
            var http = new XMLHttpRequest();
            var url = "http://172.28.3.18:3008/upload";
            http.open("POST", url, true);
            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    var data = JSON.parse(http.responseText);
                    console.log(data.minify_url);
                    var input = document.createElement("input");
                    imgName = data.imgid;
                    input.id = imgName.substr(0, imgName.lastIndexOf("."));
                    input.type = "hidden";
                    input.name = data.imgid;
                    input.value = data.path;
                    $(thumb).find("img").attr('src', data.minify_url);
                    $(thumb).append(input);
                    alert(data.message);
                }
            }
            http.send(formdata);
        }
        $('.upload-logo').change(function(){
            var files = this.files;
            var label_img = $('<span>').css({"width":"300","display":"inline-block"}).appendTo($('.img-logo'));
            $(this).parent().css("display","none");
            $("<button>").addClass("close").attr("type", "button").attr("aria-lable", "Close").html('<span aria-hidden="true">' +
                    '&times;' +
                    '</span>').appendTo(label_img);
            for (var i = 0; i < files.length; i++) {
                previewImage1(label_img, this.files[i]);
            }
        })
        $(document).on('click','.img-logo .close',function(){
            $(this).parent().remove();
            $('.upload-logo').parent().css("display","block");
        })
    })
</script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"新增品牌")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>品牌管理</span>
        <span class="icon-path">&gt;</span>
        <span>新增品牌</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">新增品牌</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">未更改</div>
        <div id="brandSubmit" class="btn-blue btn-form fr ml15">保存</div>
        <div id="cancel" class="btn-white btn-form fr ml20">取消</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">品牌名称</label>
            <div class="col-sm-10">
                <input id="brandName" type="text" class="form-control" placeholder="品牌名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">品牌描述</label>
            <div class="col-sm-10">
                <input type="text" id="brandDesc" class="form-control" placeholder="品牌描述">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品logo</label>
            <div class="col-sm-10">
                <div class="img-logo">
                    <button type="button" class="btn btn-primary btn-sm" style="position: relative">
                        上传图片
                        <input id="logo" type="file" class="upload-logo">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<script>
    $("#brandSubmit").click(function(){
        var isPost = true;
        if($("#brandName").val() == "")
        {
           isPost = false;
           $("#js-userinfo-error").html("品牌名称不能为空!");
        }

        var brandName = $("#brandName").val();
        var brandDesc = $("#brandDesc").val();
        var url = $("img").attr("src");
        var logoUrl = url.substring(url.indexOf('/',url.indexOf('/')+2));

        var brand = new Object();
        brand.brandNm = brandName;
        brand.brandDesc = brandDesc;
        brand.logo = logoUrl;
        if (isPost) {
                        $.ajax({
                                type :  "POST",
                                url : "/comm/brand/brandSave",
                                contentType: "application/json; charset=utf-8",
                                data : JSON.stringify(brand),
                                error : function(request) {
                                    if (window.lang = 'cn') {
                                        $('#js-userinfo-error').text('保存失败');
                                    } else {
                                        $('#js-userinfo-error').text('Save error');
                                    }
                                    setTimeout("$('#js-userinfo-error').text('')", 2000);
                                },
                                success: function(data) {
                                    if (window.lang = 'cn') {
                                        $('#js-userinfo-error').text('保存成功').css('color', '#2fa900');
                                    } else {
                                        $('#js-userinfo-error').text('Save success');
                                    }
                                    setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 1000);
                                    //主题录入, 成功后返回到主题录入页面
                                    setTimeout("location.href='/"+window.lang+"/comm/brand/add'", 1000);
                                }
                            });
                        }
    })



</script>
}