@import play.i18n._
@(lang:String="cn",user:entity.User)

@scripts = {

<link rel="stylesheet" href="/assets/css/slider.css"/>

}

@import java.lang.String; var title="添加运费模板"

@layout(lang=lang,title=title,user=user)(scripts) {

<<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>运费模板</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">添加运费模板</span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">


        </form>
    </div>
</div>

}