@import play.i18n._
@(lang:String="cn",catesParentList:List[entity.Cates],user:entity.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<script src="/assets/js/search.js"></script>

<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"新增类别")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>商品类别</span>
        <span class="icon-path">&gt;</span>
        <span>新增类别</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">新增商品类别</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">未更改</div>
        <div id="cateSubmit" class="btn-blue btn-form fr ml15">保存</div>
        <div id="cancel" class="btn-white btn-form fr ml20">取消</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">父类</label>
            <div class="col-sm-10">
                <select id="pcateId" class="form-control form-data-area">
                    <option value=""></option>
                   @for(pcates <- catesParentList){
                    <option value="@pcates.getCateId()">@pcates.getCateNm()</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">类别名称</label>
            <div class="col-sm-10">
                <input id="cateName" type="text" class="form-control form-data-area" placeholder="类别名">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">类别描述</label>
            <div class="col-sm-10">
                <input id="cateDesc" type="text" class="form-control form-data-area" placeholder="类别描述">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">类别Code</label>
            <div class="col-sm-10">
                <select id="cateCode" class="form-control form-data-area">
                    <option value=""></option>
                    <option value="153">化妆品</option>
                    <option value="172">配饰</option>
                    <option value="165">服饰</option>
                </select>
            </div>
        </div>
    </form>
</div>
<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<script>

    /** 数据改变的提示 **/
    $(document).on('change', '.form-data-area', function() {
		$('.usercenter-option > .user-state').css('background-position', '20px -73px');
		$('.usercenter-option > .user-state').text('已更改');
	});

    $("#cateSubmit").click(function(){
        var isPost = true;
        if($("#cateName").val() == ""){
            isPost = false;
            $("#js-userinfo-error").html("类别名称不能为空!");
         }
         var pcateId = $("#pcateId option:selected").val();
         var cateName = $("#cateName").val();
         var cateDesc = $("#cateDesc").val();
         var cateCode = $("#cateCode option:selected").val()

         var cates = new Object();
         cates.pcateId = pcateId;
         cates.cateNm = cateName;
         cates.cateDesc = cateDesc;
         cates.cateCode = cateCode;
         if (isPost) {
            $.ajax({
                type :  "POST",
                url : "/comm/cate/cateSave",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(cates),
                error : function(request) {
                    if (window.lang = 'cn') {
                        $('#js-userinfo-error').text('保存失败');
                    } else {
                        $('#js-userinfo-error').text('Save error');
                    }
                    setTimeout("$('#js-userinfo-error').text('')", 2000);
                },
                success: function(data) {
                   if (data!="" && data!=null) {
                        $('#js-userinfo-error').text('保存成功').css('color', '#2fa900');
                        $('.usercenter-option > .user-state').css('background-position', '20px -174px');
                        $('.usercenter-option > .user-state').text('未更改');
                        //类别录入, 成功后返回到类别录入页面
                        setTimeout("location.href='/"+window.lang+"/comm/cate/add'", 2000);
                    }
                    else {
                       $('#js-userinfo-error').text('保存失败');
                    }
                    setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
                }
            });
         }
    });

</script>

}