@import play.i18n._
@(lang:String="cn",user:entity.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<script src="/assets/js/search.js"></script>

<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"品牌管理")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>商品类别</span>
    </div>
</div>
<div class="content-1">
    <input type="button" value="新增商品类别" onclick="javascript:window.location.href='/@lang/comm/cate/add'"/>
    <form class="form-horizontal">
        <div class="form-group">

            <label class="col-sm-1 control-label">类别Id</label>
            <div class="col-sm-3">
                <input type="number" min="10000" max="99999999" class="form-control"/>
            </div>

            <label class="col-sm-1 control-label">父类Id</label>
            <div class="col-sm-3">
                <input type="number" min="10000" max="99999999" class="form-control"/>
            </div>

            <label class="col-sm-1 control-label">类别名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">类别Code</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="btn-s">
            <input type="reset" class="btn btn-primary btn-s-2" value='@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.reset.bt")'/>
            <a id="topic-search-bt" href="javascript:void(0)" class="btn btn-primary btn-s-2">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.search.bt")</a>
        </div>
    </form>
    <div class="table-content">
        <div class="param">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>类别Id</th>
                    <th>父类Id</th>
                    <th>类别名</th>
                    <th>类别描述</th>
                    <th>类别Code</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1000423</td>
                    <td>啊等</td>
                    <td>234</td>
                    <td>cs123</td>
                    <td>2015/11/23 12:21:31</td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            <li><a href="javascript:void(0)">&laquo;</a></li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">&raquo;</a></li>
        </ul>
    </div>
</div>
<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
}