@import play.i18n._
@(item:domain.Item,invList:List[Array[Object]],cates:domain.Cates,pCateNm:String, brands:domain.Brands,url:String, lang:String="cn", user:domain.User, customs:Map[String,String], area:Map[String,String])

@scripts = {

<!-- UEdit -->
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.all.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/lang/en/en.js"></script>

<link rel="stylesheet" href="/assets/css/slider.css"/>
<link rel="stylesheet" href="/assets/css/item.css"/>
<script>
     /** 图片放大和关闭的功能 **/
    $(document).on("click", ".main-img", function(e) {
        $(".goods-img-bg").css({
            "height": $(window).height(),
            "display": "block"
        });
        $(".goods-img").css("left", ($(window).width() - 800) / 2);
        $(this).clone().appendTo($(".goods-img")).css({
            "width": "70%",
            "height":"600px",
            "z-index": 1000
        });
    });
    $(document).on("click", ".goods-img-bg .close", function(e) {
        $(".goods-img-bg img").remove();
        $(".goods-img-bg").css({
            "display": "none"
        });
    });
    $(document).on("click", ".goods-bg", function(e) {
        $(".goods-img-bg img").remove();
        $(".goods-img-bg").css({
            "display": "none"
        });
    });

</script>
}

@import java.lang.String; var title="商品详情"

@layout(lang=lang,title=title,user=user)(scripts) {
<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>商品详情</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">商品详情</span>
    </div>
    <div class="usercenter-option">
        <div  id="updateItem" class="btn-blue btn-form fr ml15">修改</div>
        <div id="return" class="btn-white btn-form fr ml20">返回</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post"   enctype="multipart/form-data">
        <div class="upinfo">
            <input type="hidden" id="itemId" name="itemId" value="@item.getId()"/>
            <!-- 商品基本信息 -->
            <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.basics")</h4>
            <div class="form-group">
                <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</div></label>
                <div class="col-sm-2">
                    <input class="form-control" value="@pCateNm" readonly/>
                </div>
                <div class="col-sm-2" id="divDynamicSubCates">
                    <input class="form-control" value="@cates.getCateNm()" readonly/>
                </div>
                <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</div></label>
                <div class="col-sm-2">
                    <input class="form-control" value="@brands.getBrandNm()" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">商品标题</div></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="itemTitle" name="itemTitle" value="@item.getItemTitle()" readonly>
                </div>
            </div>
            <!-- 商品库存信息-->
            <h4 class="h4-custom-hmm">商品库存信息</h4>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="goods-info1">
                        <table class="table table-bordered qubian inv" id="inventory">
                            <tr>
                                <th>是否主商品</th>
                                <!--<th>颜色分类</th>-->
                                <th>规格</th>
                                <th>规格编号</th>
                                <th>主图(一张)</th>
                                <th>上架时间</th>
                                <th>下架时间</th>
                                <th>状态</th>
                                <th>现价(￥)</th>
                                <th>原价(￥)</th>
                                <th>折扣</th>
                                <th>库存总量</th>
                                <th>剩余库存</th>
                                <th>已售数量</th>
                                <th>限购数量</th>
                                <th>重量(整数:毫克)</th>
                                <!--<th>运费设置</th>-->
                                <th>库存区域</th>
                                <!--<th>税率</th>-->
                                <!--<th>行邮税号</th>-->
                                <th>报关单位</th>
                                <th>海关商品备案号</th>
                                <th>详情页预览图(最多6张)</th>
                                <th>是否存在多样化价格</th>
                            </tr>
                            @for(obj <-  invList) {
                                <tr>
                                    <td>
                                        <input type="radio" name="orMasterInv" checked="checked" class="master-radio" value="@obj(0)" disabled/>
                                    </td>
                                    <td>@obj(2)</td>
                                    <td>@obj(19)</td>
                                    <td class="list-img">
                                        <div >
                                            <div>
                                                <img class="main-img" src='@url@obj(14)'>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@(obj(20).toString().substring(0,18))</td>
                                    <td>@(obj(21).toString().substring(0,18))</td>
                                    <td>
                                        @if(obj(16)== "Y") {正常}
                                        @if(obj(16)== "D") {下架}
                                        @if(obj(16)== "P") {预售}
                                    </td>
                                    <td>@obj(5)</td>
                                    <td>@obj(6)</td>
                                    <td>@obj(8)</td>
                                    <td>@obj(4)</td>
                                    <td>@obj(18)</td>
                                    <td>@obj(22)</td>
                                    <td>@obj(9)</td>
                                    <td>@obj(3)</td>
                                    <td>
                                        @for(a <- area) {
                                        @if(obj(12)==a.toString.substring(1,a.toString.length-1).split(",")(0)) {
                                        @a.toString.substring(1,a.toString.length-1).split(",")(1)
                                        }
                                        }
                                    </td>
                                    @if(obj(12).toString().indexOf("K")<0) {
                                        <td>
                                            @for(c <- customs) {
                                            @if(obj(13)==c.toString.substring(1,c.toString.length-1).split(",")(0)) {
                                            @c.toString.substring(1,c.toString.length-1).split(",")(1)
                                            }
                                            }
                                        </td>
                                        <td>
                                            @if(obj(17)!="{}") {
                                                @for(recordCode <- obj(17).toString().substring(1,obj(17).toString().length-1).split(", ")) {
                                                @for(c <- customs) {
                                                @if(recordCode.substring(1,recordCode.indexOf(":")-1)==c.toString.substring(1,c.toString.length-1).split(",")(0)) {
                                                <div class="record"><span>@c.toString.substring(1,c.toString.length-1).split(",")(1) <input type="text" value='@recordCode.substring(recordCode.indexOf(":")+3,recordCode.length-1)' name="recordHZ" style="width:70%;border:0px;"></span></div>
                                                }
                                                }
                                                }
                                            }
                                        </td>
                                    }
                                    @if(obj(12).toString().indexOf("K")>=0) {
                                        <td>无</td>
                                        <td>无</td>
                                    }
                                    <td width="146" class="preview-img">
                                        <div >
                                            @for(pre <- obj(15).toString().substring(1,obj(15).toString().length()-2).split("}, ")) {
                                                <div>
                                                    <img class="main-img" src='@url@pre.substring(1,pre.length).split(", ")(0).substring(8,pre.substring(1,pre.length).split(", ")(0).length-1)' alt="">
                                                </div>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        @if(obj(23)== true) {<a class="vp" style="color:blue;cursor:pointer;" onmouseover="showVP()">是</a>}
                                        @if(obj(23)== false) {否}
                                        <div style="display:none;">
                                            <table>
                                                @if(obj(23)==true && obj(24)!="") {
                                                <tr>
                                                    <th>状态</th>
                                                    <th>销售价格</th>
                                                    <th>限制数量</th>
                                                </tr>
                                                @for(pa <- obj(24).toString().split("_")) {
                                                <tr>
                                                    <td>
                                                        @if(pa.toString.split(",")(0)=="P"){预售}
                                                        @if(pa.toString.split(",")(0)=="Y"){正常}
                                                        @if(pa.toString.split(",")(0)=="D"){下架}
                                                    </td>
                                                    <td>@pa.toString.split(",")(1) 元</td>
                                                    <td>@pa.toString.split(",")(2) 件</td>
                                                </tr>
                                                }
                                                }
                                            </table>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <h4 class="h4-custom-hmm">商品设置及详情</h4>
            <div class="form-group" style="margin-top:20px;">
                <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">商品参数</div></label>
                <div class="col-sm-7" >
                    <input type="hidden" class="form-control" id="features" name="features">
                    <input type="hidden" id="del" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")'>
                    <table class="table table-bordered qubian feature" id="tabFea">
                        <tr>
                            <td>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureName")</td>
                            <td width=500px>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureValue")</td>
                        </tr>
                        @for(itemFeature <- item.getItemFeatures.substring(1,item.getItemFeatures.length-1).split(", ")) {
                        <tr>
                            <td><input type="text" name="attrN" value='@itemFeature.substring(1,itemFeature.indexOf(":")-1)'/></td>
                            <td><input type="text" name="attrV" value='@itemFeature.substring(itemFeature.indexOf(":")+3,itemFeature.length-1)'/></td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
            @if(item.getPublicity().toString()!="[]") {
            <div class="form-group">
                <label class="col-sm-1 control-label">优惠信息</label>
                <div class="col-sm-3">
                    <table class="table table-bordered pub" id="publicityTab">

                        @for(pub <- item.getPublicity().substring(1,item.getPublicity().length()-1).split(", ")) {
                        <tr>
                            <td>@(pub.substring(1,pub.length()-1))</td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
            }
            @if(item.getItemDetailImgs()!=null && item.getItemDetailImgs()!="") {
            <div class="form-group">
                <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</div></label>
                <div class="col-sm-4">
                    <div class="detail-img" style="border:1px solid #ccc;">
                        <div id="galleryD" style="margin-bottom:10px;margin-top:15px;">
                            @for(detail <- item.getItemDetailImgs().substring(1,item.getItemDetailImgs().length()-2).split("], ")) {
                            <div style="display:inline-block; border:1px solid #ccc" >
                                @for(d <- detail.substring(1,detail.length()).split(", ")) {
                                <img src="@url@d.substring(1,d.length()-1)" alt="" style="border:0px;height:13.3px;display:block;margin-top:0px;margin-bottom:0px;">
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
            @if(item.getItemNotice()!=null && item.getItemNotice()!="") {
            <div class="form-group">
                <label class="col-sm-1 control-label" ><div class="r">重要通告</div></label>
                <div class="col-sm-3">
                    <textarea rows="6"  class="form-control" id="itemNotice" name="itemNotice"  readonly>@item.getItemNotice()</textarea>
                </div>
            </div>
            }
            @if(item.getItemDetail()!=null && item.getItemDetail()!="") {
            <div class="form-group">
                <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">商品详情</div></label>
                <div class="col-sm-7">
                    <script id="editor" type="text/plain" style="height:500px;" ></script>
                    <input type="hidden" id="itemDetail" value="@item.getItemDetail()">
                </div>
            </div>
            }
        </div>
        </form>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}

<script>

    /**页面加载时UEdit初始化数据**/
     window.onload=function() {
        setTimeout("UE.getEditor('editor').setContent(itemDetail, false)",500);
        ue.setDisabled();   //设置UEditor不可编辑
        $("#edui1_wordcount").css("display", "none");//UEditor输入提示信息隐藏
     };

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    var itemDetail = $("#itemDetail").val();

    /** 点击修改按钮,进入修改页面 **/
	$("#updateItem").on("click", function() {
	    location.href="/"+window.lang+"/comm/updateById/"+$("#itemId").val();
	});

	/** 点击返回按钮,返回到列表查询页面 **/
	$("#return").on("click", function() {
	    location.href="/"+window.lang+"/comm/search";
	});

    function showVP() {
        <!--var aa = $(this).next();-->
        <!--console.log($(this));-->
        <!--console.log($(this).html());-->
        <!--console.log($(this).next());-->
        <!--$(this).next().css("display","block");-->
    }

    $(".vp").hover(function() {
        $(this).next().css("display","block");
    },
    function() {
         $(this).next().css("display","none");
    });
</script>