@(uploadURL:String, imageUrl:String, customs:Map[String,String], area:Map[String,String])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>规格编辑</title>
    <link rel="stylesheet" href="/assets/css/spin.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/item.css">
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/Sortable.js"></script>
    <script src="/assets/js/add-guige.js"></script>
    <!-- 日历 -->
    <link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/moment-with-locales.js"></script>
    <script src="/assets/js/bootstrap-datetimepicker1.js"></script>
    <script src="/assets/js/rili.js"></script>
    <script>window.uploadURL = '@uploadURL'</script>
    <script>window.imageUrl = '@imageUrl'</script>
    <style type="text/css">
        .start{color:red;}
    </style>
    <script>
        $(function () {

            var now = new Date();
            var e_year = now.getFullYear();
            var s_month = now.getMonth()+1>=10?now.getMonth()+1:'0'+(now.getMonth()+1);
            var e_month = now.getMonth()+7>=10?now.getMonth()+7:'0'+(now.getMonth()+7);
            if (e_month>12) {
                e_year = now.getFullYear()+1;
                e_month = '0'+(e_month-12);
            }

            var day = now.getDate()>=10?now.getDate():'0'+(now.getDate());
            //获取结束日期所在月份的最大天数
            var max_day = new Date(e_year,e_month,0).getDate();
            //结束日期不能大于该月的最大天数
            if (day > max_day) var e_day = max_day;
            var hour = now.getHours()>=10?now.getHours():'0'+(now.getHours());
            var minute = now.getMinutes()>=10?now.getMinutes():'0'+(now.getMinutes());
            var second = now.getSeconds()>=10?now.getSeconds():'0'+(now.getSeconds());
            var startAt = now.getFullYear() + "-" + s_month + "-" + day + " " + hour + ":" + minute + ":" + second;
            var endAt =  e_year + "-" + e_month + "-" + e_day + " 00:00:00";

            $("#startAt").val(startAt);
            $("#endAt").val(endAt);

        });
</script>
</head>
<body onload="Init()">
<div class="panel panel-primary">
    <div class="panel-heading">
        添加规格
    </div>
    <div id="warn" style="color:red;font-weight:600;font-size:15px;text-align:center;"></div>
    <div class="panel-body">
        <form class="form-horizontal">
            <!-- 记录编辑时是第几条sku -->
            <input type="hidden" id="index" value="">
            <input type="hidden" id="itemId" value="">
            <!--sku id-->
            <div class="form-group" style="display:none;">
                <label class="col-sm-2 control-label thval">SKU ID</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="invId" name="invId" value="">
                </div>
            </div>
            <!-- 颜色 -->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">颜色</div></label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="color">-->
                        <!--<label class="radio-inline">-->
                            <!--<input type="radio" name="itemColor" value="白色" checked> <span>白色</span>-->
                        <!--</label>-->
                        <!--<label class="radio-inline">-->
                            <!--<input type="radio" name="itemColor" value="蓝色"> <span>蓝色</span>-->
                        <!--</label>-->
                        <!--<label class="radio-inline">-->
                            <!--<input type="radio" name="itemColor" value="紫色"> <span>紫色</span>-->
                        <!--</label>-->
                        <!--<label class="radio-inline">-->
                            <!--<input type="radio" name="itemColor" value="青色"> <span>青色</span>-->
                        <!--</label>-->
                        <!--<label class="radio-inline">-->
                            <!--<input type="radio" name="itemColor" value="金色"> <span>金色</span>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<button type="button" class="btn btn-primary btn-xs add-color">添加</button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <!-- 规格 -->
                <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">规格</div></label>
                <div class="col-sm-10">
                    <div class="size">
                        <label class="radio-inline">
                            <input type="radio" name="itemSize" value="均码" checked> <span>均码</span>
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary btn-xs add-size">添加</button>
                </div>
            </div>
            <div class="form-group">
                <!-- sku编号 -->
                <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">规格编号</div></label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="invCode" name="invCode">
                </div>
                <!-- 状态 -->
                <div id="skuState">
                    <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">状态</div></label>
                    <div style="margin-top:5px;" class="col-sm-3" >
                        <input type="radio" checked="checked" name="state" class="master-radio" value="Y" style="margin-right:5px;"/>正常
                        <input type="radio" name="state" class="master-radio" value="P" style="margin-left:5px;margin-right:5px;"/>预售
                        <input type="radio" name="state" class="master-radio" value="D" style="margin-left:5px;margin-right:5px;"/>下架
                        <input type="radio" name="state" class="master-radio" value="K" style="margin-left:5px;margin-right:5px;"/>售空
                        <!--<select class="form-control" id="state" name="state">-->
                            <!--<option value="Y">正常</option>-->
                            <!--<option value="D">下架</option>-->
                            <!--<option value="P">预售</option>-->
                            <!--&lt;!&ndash;<option value="K">售空</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="N">删除</option>&ndash;&gt;-->
                        <!--</select>-->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!-- 销售期限 -->
                <label class="col-sm-2 control-label l-pad"><div class="r start" style="padding:3px;"> *</div><div class="r thval">上架时间</div></label>
                <!--<label class="col-sm-2 control-label l-pad thval">上架时间</label>-->
                <div class="col-sm-2" style="padding-right: 0; width:212px;">
                    <div class="input-group date" id='datetimepicker1'>
                        <input class="form-control col-sm-2"  type="text"  id="startAt" name="startAt">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <label class="col-sm-2 control-label l-pad"><div class="r start" style="padding:3px;"> *</div><div class="r thval">下架时间</div></label>
                <div class="col-sm-2" style="padding-left: 0; width:212px;">
                    <div class="input-group date" id='datetimepicker2'>
                        <input class="form-control col-sm-2"  type="text"  id="endAt" name="endAt">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div id="warn-date" style="color:red; margin-left:220px;margin-top:-25px; width:200px;"></div>
                </div>
            </div>
            <div class="form-group">
                <!-- 原价 -->
                <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">原价</div></label>
                <div class="col-sm-2">
                    <input type="text" class="form-control price" id="itemSrcPrice" name="itemSrcPrice">
                </div>
                <!-- 现价 -->
                <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">现价</div></label>
                <div class="col-sm-2">
                    <input type="text" class="form-control price" id="itemPrice" name="itemPrice">
                </div>
                <div style="margin-top:5px;font-weight:500;">
                (注意:价格为整数或两位小数)
                </div>
            </div>
            <!--<div class="form-group">-->
                <!-- 成本价 -->
                <!--<label class="col-sm-2 control-labell" ><div class="r start" style="padding:3px;"> *</div><div class="r thva">成本价</div></label>-->
                <!--<div class="col-sm-2">-->
                    <!--<input type="text" class="form-control" id="itemCostPrice" name="itemCostPrice">-->
                <!--</div>-->
                <!-- 折扣 -->
                <!--<label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">折扣</div></label>-->
                <!--<div class="col-sm-2">-->
                    <!--<input type="text" class="form-control" id="itemDiscount" name="itemDiscount" placeholder="例:5.5表示5.5折">-->
                <!--</div>-->
                <!-- 重量 -->
            <!--</div>-->
            <div class="form-group">
                <!-- 限购数量 -->
                <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">限购数量</div></label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="restrictAmount" name="restrictAmount" value="0">
                </div>
                <!-- 剩余库存量 -->
                <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">库存量</div></label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="restAmount" name="restAmount">
                </div>
                <div id="warn-amount" style="color:red;margin-left:500px;margin-top:10px;"></div>
            </div>
            <div class="form-group">
                <!-- 重量 -->
                <label class="col-sm-2 control-label"><div class="r thval">重量(整数/小数:克)</div></label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="invWeight" name="invWeight">
                </div>
                <!-- 商品海关编码 -->
                <label class="col-sm-2 control-label"><div class="r thval">商品海关编码</div></label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="postalTaxCode" name="postalTaxCode">
                </div>
            </div>
            <div class="form-group">
                <!-- 库存总量 -->
                <!--<label class="col-sm-2 control-label thval"><div class="r" style="padding:3px;"> *</div><div class="r">库存总量</div></label>-->
                <!--<div class="col-sm-2">-->
                    <!--<input type="text" class="form-control" id="amount" name="amount">-->
                <!--</div>-->
                <!-- 库存区域 -->
                <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">库存区域</div></label>
                <div class="col-sm-2">
                    <select class="form-control" id="invArea" name="invArea">
                        @for(a <- area) {
                        <option value='@a.toString.substring(1,a.toString.length-1).split(",")(0)'>@a.toString.substring(1,a.toString.length-1).split(",")(1)</option>
                        }
                    </select>
                </div>
                <!-- 报关单位 -->
                <label class="col-sm-2 control-label K"><div class="r start" style="padding:3px;"> *</div><div class="r thval ">报关单位</div></label>
                <div class="col-sm-2 K">
                    <select class="form-control" id="invCustoms" name="invCustoms">
                        @for(cus <- customs) {
                        <option value='@cus.toString.substring(1,cus.toString.length-1).split(",")(0)'>@cus.toString.substring(1,cus.toString.length-1).split(",")(1)</option>
                        }
                    </select>
                </div>
                <div id="warn-cus" style="color:red; margin-top:5px;"></div>
            </div>
            <!--</div>-->
            <!--<div class="form-group K">-->
                <!--&lt;!&ndash; 税率设置 &ndash;&gt;-->
                <!--<label class="col-sm-2 control-label thval">税率设置</label>-->
                <!--<div class="col-sm-2">-->
                    <!--<select class="form-control rateSet" id="rateSet" name="rateSet">-->
                        <!--<option value="">请选择</option>-->
                        <!--<option value="S">标准税率</option>-->
                        <!--<option value="F">免税</option>-->
                        <!--<option value="D">自定义</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--&lt;!&ndash; 税率 &ndash;&gt;-->
                <!--<label class="col-sm-2 control-label thval">税率(整数/小数)</label>-->
                <!--<div class="col-sm-2">-->
                    <!--<input type="text" class="form-control" id="postalTaxRate" name="postalTaxRate" readonly>-->
                <!--</div>-->
                <!--&lt;!&ndash; 行邮税号 &ndash;&gt;-->
                <!--<label class="col-sm-1 control-label thval">行邮税号</label>-->
                <!--<div class="col-sm-2">-->
                    <!--<input type="text" class="form-control" id="postalTaxCode" name="postalTaxCode" readonly>-->
                <!--</div>-->
                <!--<div id="warn-rate" style="color:red; margin-top:5px;"></div>-->
            <!--</div>-->
            <div class="form-group K">
                <!-- 海关商品备案号 -->
                <label class="col-sm-2 control-label thval">海关商品备案号</label>
                <div id="recordCode">
                    @for(cus <- customs) {
                    <label class="col-sm-1 control-label" style="width:100px;padding-right: 0;">@cus.toString.substring(1,cus.toString.length-1).split(",")(1)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control record-code" name='@cus.toString.substring(1,cus.toString.length-1).split(",")(0)' id='@cus.toString.substring(1,cus.toString.length-1).split(",")(0)'>
                    </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <!-- sku主图 -->
                <label class="col-sm-2 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r thval">主图(一张)<div id="warn-m" style="color:red;font-weight:200;"></div></div></label>
                <div class="col-sm-2">
                    <div class="list-img clearfix" style="border:1px solid #ccc;">
                        <span class="add" id="masterImgAddM" style="float: left">＋
                            <input type="file" id="M" name="invImg" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                        </span>
                        <div id="galleryM" style="float: left">
                        </div>
                    </div>
                </div>
                <!-- 详情页预览图 -->
                <label class="col-sm-2 control-label" ><div class="r start" style="padding:3px;"> *</div><div class="r thval">预览图(最多六张)<div id="warn-p" style="color:red;font-weight:200;"></div></div></label>
                <div class="col-sm-4">
                    <div class="preview-img clearfix" style="border:1px solid #ccc;">
                        <div id="galleryP" style="float: left">
                        </div>
                        <span class="add" id="preImgAddP">＋
                            <input type="file" id="P" name="itemPreviewImgs" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png" multiple="multiple"/>
                        </span>
                    </div>
                </div>
                <div style="margin-top:20px;font-weight:500;">
                    (预览图可拖动排序)
                </div>
            </div>
            <!-- 多样化价格 -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" style="height:22px;">
                    <label class="thval">
                        <input type="checkbox" class="YN" id="openVaryPrice"> 开启多样化价格
                        <span id="warn-vary-price" style="color:red;font-weight:200; margin-left:10px;"></span>
                        <span id="warn-vary-amount" style="color:red;font-weight:200; margin-left:10px;"></span>
                        <span id="warn-vary-status" style="color:red;font-weight:200; margin-left:10px;"></span>
                    </label>
                </div>
                <label class="thval" style="display:none;">多样化价格</label>
                <div class="col-sm-offset-2 col-sm-10">
                    <table class="table table-bordered qubian guige" id="varyPriceTab">
                        <tr>
                            <th style="display:none;">多样化价格id</th>
                            <th>状态</th>
                            <th>销售价格</th>
                            <th>限制销售量</th>
                            <th class="addTr add">添加</th>
                        </tr>
                        <tr>
                            <td style="display:none;"><input type="text" name="vpId"></td>
                            <td>
                                <select class="status">
                                    <option value="Y">正常</option>
                                    <option value="D">下架</option>
                                    <option value="P">预售</option>
                                    <!--<option value="K">售空</option>-->
                                    <!--<option value="N">删除</option>-->
                                </select>
                            </td>
                            <td><input type="text" name="price"></td>
                            <td><input type="text" name="limitAmount"></td>
                            <td class="delTr del">删除</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <!-- 保存 -->
                <div class="col-sm-offset-2 col-sm-8" style="text-align:center;">
                    <button type="button" class="btn btn-primary" onclick="saveCurr()" style="margin-left:20px;">保存当前</button>
                    <button type="button" class="btn btn-primary saveNew" onclick="saveNew()" style="margin-left:20px;">存为新规格</button>
                    <button type="button" class="btn btn-primary" onclick="saveClose()" style="margin-left:20px;">保存并关闭</button>
                    <button id="return" type="button" class="btn btn-primary" style="margin-left:20px;">关闭窗口</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<div id="mask" class="ui-mask" style="display: none;">
    <div id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
    </div>
</div>
</body>
</html>