@import play.i18n._
@(item:entity.Item,invList:List[Array[Object]],cates:entity.Cates,pCateNm:String, brands:entity.Brands,url:String, lang:String="cn", brandsList:List[entity.Brands], catesParentList:List[entity.Cates],modelList:List[entity.Carriage],user:entity.User)

@scripts = {

<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/slider.css"/>
<link rel="stylesheet" href="/assets/css/item.css"/>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/item.js"></script>
<script>
    $(function(){
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'zh-cn',
                format:'YYYY-MM-DD HH:mm:ss'
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'zh-cn',
                format:'YYYY-MM-DD HH:mm:ss'
            });
        });
    })
</script>

}

@import java.lang.String; var title="商品修改"

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread" style="width:80%">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>商品修改</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">商品修改</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div  id="submitItem" class="btn-blue btn-form fr ml15">更新</div>
        <div id="return" class="btn-white btn-form fr ml20">返回</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post"   enctype="multipart/form-data">
            <div class="upinfo">
                <input type="hidden" id="itemId" name="itemId" value="@item.getId()"/>
                <input type="hidden" id="shareCount" name="shareCount" value="@item.getShareCount()"/>
                <input type="hidden" id="collectCount" name="collectCount" value="@item.getCollectCount()"/>
                <input type="hidden" id="browseCount" name="browseCount" value="@item.getBrowseCount()"/>
                <input type="hidden" id="orDestroy" name="orDestroy" value="@item.getOrDestroy()"/>
                <input type="hidden" id="themeId" name="themeId" value="@item.getThemeId()"/>
                <!-- 商品基本信息 -->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.basics")</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control" id="categorySelect">
                            <option value="@cates.getPcateId()">@pCateNm</option>
                            @for(cate <- catesParentList) {
                            <option value="@cate.getCateId()">@cate.getCateNm()
                            </option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" id="divDynamicSubCates">
                        <select class="form-control" id='categorySubSelect' name="cateId">
                            <option value="@cates.getCateId()">@cates.getCateNm()</option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control" id="bandSelect" name="brandId">
                            <option value="@item.getBrandId()">@brands.getBrandNm()</option>
                            @for(b <- brandsList) {
                            <option value="@b.getBrandId()">@b.getBrandNm()
                            </option>
                            }
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.merchName")</div></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="supplyMerch" name="supplyMerch" value="@item.getSupplyMerch()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">商品标题</div></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="itemTitle" name="itemTitle" value="@item.getItemTitle()">
                    </div>
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">销售期限</div></label>
                    <div class="col-sm-2">
                        <div class="input-group date" id='datetimepicker1'>
                            <input class="form-control col-sm-2"  type="text"  id="onShelvesAt" name="onShelvesAt" value="@(item.getOnShelvesAt().toString().substring(0,19))">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-1" style="font-size: 24px;width:40px;margin-left:40px;margin-right:40px;">~</div>
                    <div class="col-sm-2">
                        <div class="input-group date " id='datetimepicker2'>
                            <input class="form-control col-sm-2"  type="text"  id="offShelvesAt" name="offShelvesAt" value="@(item.getOffShelvesAt().toString().substring(0,19))">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <div id="warn-date" style="color:red; margin-left:260px;margin-top:-30px; width:100px;"></div>
                    </div>
                </div>
                <!-- 商品库存信息-->
                <h4 class="h4-custom-hmm">商品库存信息</h4>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="goods-info1">
                            <table class="table table-bordered qubian inv" id="inventory">
                                <tr>
                                    <th width="60">设为主商品</th>
                                    <th width="50">颜色分类</th>
                                    <th width="50">尺寸分类</th>
                                    <th width="50">重量(克)</th>
                                    <th width="30">库存数量</th>
                                    <th width="50">现价(￥)</th>
                                    <th width="50">原价(￥)</th>
                                    <th width="60">成本价(￥)</th>
                                    <th width="40">折扣</th>
                                    <th width="30">限购数量</th>
                                    <th width="30">运费设置</th>
                                    <th width="30">税率设置</th>
                                    <th width="50">税率(整数)</th>
                                    <th width="60">行邮税号</th>
                                    <th width="100">库存区域</th>
                                    <th width="80">报关单位</th>
                                    <th width="80">主图(一张)</th>
                                    <th width="260">详情页预览图(最多6张)</th>
                                    <th width="30">状态</th>
                                    <th width="30" class="add-goods add">添加商品</th>
                                </tr>
                                @for(obj <-  invList) {
                                <tr>
                                    <td>
                                        <input type="radio" name="orMasterInv" class="master-radio" checked="checked" value="@obj(14)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="itemColor" value="@obj(2)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="itemSize" value="@obj(3)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="invWeight" value="@obj(21)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="amount" value="@obj(4)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="itemPrice" value="@obj(6)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="itemSrcPrice" value="@obj(5)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="itemCostPrice" value="@obj(7)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="itemDiscount" value="@obj(8)"/>
                                    </td>
                                    <td>
                                        <input type="text" name="restrictAmount" value="@obj(17)"/>
                                    <td>
                                        <select name="carriageModelCode">
                                            <option value="@obj(22)">@obj(23)</option>
                                            @for(m <- modelList) {
                                            <option value="@m.getModelCode()">@m.getModelName()
                                            </option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select class="trset" id="1">
                                            <option value="">请选择</option>
                                            <option value="S">标准税率</option>
                                            <option value="F">免税</option>
                                            <option value="D">自定义</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="postalTaxRate" value="@obj(20)" readonly/>
                                    </td>
                                    <td>
                                        <input type="text" name="postalTaxCode" value="@obj(19)" readonly/>
                                    </td>
                                    <td>
                                        @if(obj(16)== "Z") {
                                        <select name="invArea">
                                            <option value="Z">韩国直邮</option>
                                            <option value="H">杭州保税仓</option>
                                            <option value="G">广州保税仓</option>
                                            <option value="K">海外直邮</option>
                                        </select>
                                        }
                                        @if(obj(16)== "H") {
                                        <select name="invArea">
                                            <option value="H">杭州保税仓</option>
                                            <option value="Z">韩国直邮</option>
                                            <option value="G">广州保税仓</option>
                                            <option value="K">海外直邮</option>
                                        </select>
                                        }
                                        @if(obj(16)== "G") {
                                        <select name="invArea">
                                            <option value="G">广州保税仓</option>
                                            <option value="Z">韩国直邮</option>
                                            <option value="H">杭州保税仓</option>
                                            <option value="K">海外直邮</option>
                                        </select>
                                        }
                                        @if(obj(16)== "K") {
                                        <select name="invArea">
                                            <option value="K">海外直邮</option>
                                            <option value="Z">韩国直邮</option>
                                            <option value="H">杭州保税仓</option>
                                            <option value="G">广州保税仓</option>
                                        </select>
                                        }
                                    </td>
                                    <td>
                                        @if(obj(18)== "shanghai") {
                                        <select name="invCustoms">
                                            <option value="shanghai">上海海关</option>
                                            <option value="hangzhou">杭州海关</option>
                                            <option value="guangzhou">广州海关</option>
                                        </select>
                                        }
                                        @if(obj(18)== "guangzhou") {
                                        <select name="invCustoms">
                                            <option value="guangzhou">广州海关</option>
                                            <option value="shanghai">上海海关</option>
                                            <option value="hangzhou">杭州海关</option>
                                        </select>
                                        }
                                        @if(obj(18)== "hangzhou") {
                                        <select name="invCustoms">
                                            <option value="hangzhou">杭州海关</option>
                                            <option value="shanghai">上海海关</option>
                                            <option value="guangzhou">广州海关</option>
                                        </select>
                                        }
                                    </td>
                                    <td class="list-img">
                                        <div >
                                            <div>
                                                <img class="main-img" src="@url@obj(11)" alt="">
                                                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                        </div>
                                        <span class="add"  style="display:none" >＋
                                            <input type="file"  name="invImg" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                                        </span>
                                    </td>
                                    <td width="146" class="preview-img">
                                        <div >
                                            @for(pre <- obj(12).toString().substring(1,obj(12).toString().length()-1).split(", ")) {
                                            <div>
                                                <img class="main-img" src="@url@pre.substring(1,pre.length()-1)" alt="">
                                                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            }
                                        </div>
                                        <span class="add" >＋
                                            <input type="file"  name="itemPreviewImgs" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png">
                                        </span>
                                    </td>
                                    <td>
                                        <select name="state">
                                            @if(obj(15)=="Y"){
                                            <option value="Y">正常</option>
                                            <option value="D">下架</option>
                                            <option value="K">售空</option>
                                            }
                                            @if(obj(15)=="D"){
                                            <option value="D">下架</option>
                                            <option value="Y">正常</option>
                                            <option value="K">售空</option>
                                            }
                                            @if(obj(15)=="K"){
                                            <option value="K">售空</option>
                                            <option value="Y">正常</option>
                                            <option value="D">下架</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="del">
                                        删除
                                        <input type="hidden" value="@obj(0)"/>
                                        <input type="hidden" value="@obj(9)"/>
                                        <input type="hidden" value="@obj(10)"/>
                                        <input type="hidden" value="@obj(13)"/>
                                    </td>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:-100px;">
                    <label class="col-sm-1 control-label" ><div id="warn-inv" style="color:red;width:200px;margin-left:-80px;"></div></label>
                </div>
                <h4 class="h4-custom-hmm">商品设置</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r">商品状态</div></label>
                    <div class="col-sm-3">
                        <select class="form-control" id="state" name="state">
                            @if(item.getState()=="Y"){
                            <option value="Y">正常</option>
                            <option value="D">下架</option>
                            <option value="K">售空</option>
                            }
                            @if(item.getState()=="D"){
                            <option value="D">下架</option>
                            <option value="Y">正常</option>
                            <option value="K">售空</option>
                            }
                            @if(item.getState()=="K"){
                            <option value="K">售空</option>
                            <option value="Y">正常</option>
                            <option value="D">下架</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r">重要通告</div></label>
                    <div class="col-sm-3">
                        <textarea rows="6"  class="form-control" id="itemNotice" name="itemNotice">@item.getItemNotice()</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div>优惠信息</label>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <table class="table table-bordered pub" id="publicityTab">
                                <tr>
                                    <td><input type="text" id="publicity"/></td>
                                    <td class="add1">添加</td>
                                </tr>
                                @for(pub <- item.getPublicity().substring(1,item.getPublicity().length()-1).split(", ")) {
                                <tr>
                                    <td>@(pub.substring(1,pub.length()-1))</td>
                                    <td class="del">删除</td>
                                </tr>
                                }
                            </table>
                        </div>
                        <div id="warn-pub" style="color:red;margin-top:10px;"></div>
                    </div>
                </div>
                <!-- 商品详细信息-->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.details")</h4>

                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;">*</div><div class="r">主题宣传图</div><div style="margin-top:20px;margin-right:30px;">(一张)</div></label>
                    <div class="col-sm-2">
                        <div class="master-img" style="border:1px solid #ccc; height:80px;">
                            <div id="galleryT" style="margin-top:15px;margin-left:10px;">
                                <div>
                                    <img class="main-img" src="@url@item.getItemMasterImg()" alt="">
                                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </div>
                            <span class="add" id="masterThImgAdd" style="margin-top:30px;margin-left:10px;display:none;" >＋
                                <input type="file" id="T" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                            </span>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</div></label>
                    <div class="col-sm-4">
                        <div class="detail-img" style="border:1px solid #ccc;">
                            <div id="galleryD" style="margin-bottom:10px;margin-top:15px;">
                                @for(detail <- item.getItemDetailImgs().substring(1,item.getItemDetailImgs().length()-1).split(", ")) {
                                <div>
                                    <img class="main-img" src="@url@detail.substring(1,detail.length()-1)" alt="">
                                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                }
                            </div>
                            <span class="add" style="margin:15px 5px;">＋
                                <input type="file" id="D" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                            </span>
                        </div>
                        <div id="warn-masthimg" style="color:red;margin-top:-70px; margin-left:400px;width:120px;"></div>
                        <div id="warn-detailimg" style="color:red;margin-top:10px; margin-left:400px;width:120px;margin-bottom:50px;"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">商品参数</div></label>
                    <div class="col-sm-7">
                        <input type="hidden" class="form-control" id="features" name="features">
                        <input type="hidden" id="del" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")'>
                        <table class="table table-bordered qubian feature" id="tabFea">
                            <tr>
                                <td>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureName")</td>
                                <td width=500px>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureValue")</td>
                                <td class="add">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.add")</td>
                            </tr>
                            @for(itemFeature <- item.getItemFeatures.substring(1,item.getItemFeatures.length-1).split(", ")) {
                            <tr>
                                <td><input type="text" name="attrN" value='@itemFeature.substring(1,itemFeature.indexOf(":")-1)'/></td>
                                <td><input type="text" name="attrV" value='@itemFeature.substring(itemFeature.indexOf(":")+3,itemFeature.length-1)'/></td>
                                <td class="del" >@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")</td>
                            </tr>
                            }
                        </table>
                    </div>
                    <div id="warn-attr" style="color:red; margin-left:0px;margin-top:15px;"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}
