@import play.i18n._
@(lang:String="cn", brandsList:List[entity.Brands], catesParentList:List[entity.Cates],user:entity.User)

@scripts = {

<!--<link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">-->
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/slider.css"/>
<link rel="stylesheet" href="/assets/css/item.css"/>
<!--<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>-->
<!--<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>-->
<!--<script src="/assets/js/bootstrap-datetimepicker.ko.js"></script>-->
<!--<script src="/assets/js/rili.js"></script>-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/item.js"></script>
<script>
    $(function(){
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'zh-cn',
                format:'YYYY/MM/DD HH:mm:ss'
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'zh-cn',
                format:'YYYY/MM/DD HH:mm:ss'
            });
        });
    })
</script>

}

@import java.lang.String; var title=Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsAddTitle")

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread" style="width:80%">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu2")</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsAddTitle")</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div  id="submitProducts" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post"   enctype="multipart/form-data">
            <div class="upinfo">
                <!-- 商品基本信息 -->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.basics")</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control" id="categorySelect">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                            @for(cates <- catesParentList) {
                                <option value="@cates.getCateId()">@cates.getCateNm()
                                </option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" id="divDynamicSubCates">
                        <select class="form-control" id='categorySubSelect' name="cateId">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control" id="bandSelect" name="brandId">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                            @for(b <- brandsList) {
                                <option value="@b.getBrandId()">@b.getBrandNm()
                                </option>
                            }
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.merchName")</div></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="supplyMerch" name="supplyMerch">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">商品标题</div></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="itemTitle" name="itemTitle">
                    </div>
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">销售期限</div></label>
                    <div class="col-sm-2">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-1 control-label" style="font-size: 24px;text-align: center;padding-top: 0;">~</div>
                    <div class="col-sm-2">
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div id="warn-date" style="color:red; margin-left:260px;margin-top:-30px; width:100px;"></div>
                    </div>
                </div>
                <!-- 商品库存信息-->
                <h4 class="h4-custom-hmm">商品库存信息</h4>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="goods-info1">
                            <table class="table table-bordered qubian inv" id="inventory">
                                <tr>
                                    <th width="80">设为主商品</th>
                                    <th width="50">颜色分类</th>
                                    <th width="50">尺寸分类</th>
                                    <th width="50">库存数量</th>
                                    <th width="50">现价(￥)</th>
                                    <th width="50">原价(￥)</th>
                                    <th width="60">成本价(￥)</th>
                                    <th width="50">折扣</th>
                                    <th width="50">限购数量</th>
                                    <th width="140">库存地</th>
                                    <th width="100">主图(一张)</th>
                                    <th width="260">详情页预览图(最多6张)</th>
                                    <th class="add-goods add">添加商品</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="orMasterInv" checked="checked"/>
                                    </td>
                                    <td>
                                        <input type="text" name="itemColor">
                                    </td>
                                    <td>
                                        <input type="text" name="itemSize">
                                    </td>
                                    <td>
                                        <input type="text" name="amount">
                                    </td>
                                    <td>
                                        <input type="text" name="itemPrice">
                                    </td>
                                    <td>
                                        <input type="text" name="itemSrcPrice">
                                    </td>
                                    <td>
                                        <input type="text" name="itemCostPrice">
                                    </td>
                                    <td>
                                        <input type="text" name="itemDiscount">
                                    </td>
                                    <td>
                                        <input type="text" name="restrictAmount">
                                    </td>
                                    <td>
                                        <input type="radio" name="invArea1" value="B"/><div class="area">保税区</div>
                                        <input type="radio" name="invArea1" value="Z" checked="checked"/><div class="area">韩国直邮</div>
                                    </td>
                                    <td class="list-img">
                                        <div id="galleryM1">
                                        </div>
                                        <span class="add" id="masterImgAddM1">＋
                                            <input type="file" id="M1" name="invImg" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                                        </span>
                                    </td>
                                    <td width="146" class="preview-img">
                                        <div id="galleryP1">
                                        </div>
                                        <span class="add" id="preImgAddP1">＋
                                            <input type="file" id="P1" name="itemPreviewImgs" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png">
                                        </span>
                                    </td>
                                    <td class="del">删除</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:-100px;">
                    <label class="col-sm-1 control-label" >
                        <div id="warn-inv" style="color:red;width:200px;margin-left:-80px;"></div>
                        <div id="warn-num" style="color:red;width:200px;margin-left:-80px;"></div>
                        <div id="warn-mas" style="color:red;width:200px;margin-left:-80px;"></div>
                        <div id="warn-pre" style="color:red;width:200px;margin-left:-80px;"></div>
                        <div id="warn-cho" style="color:red;width:200px;margin-left:-80px;"></div>
                    </label>
                </div>
                <h4 class="h4-custom-hmm">商品设置</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r">重要通告</div></label>
                    <div class="col-sm-5">
                        <textarea rows="6"  class="form-control" id="itemNotice" name="itemNotice"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div>优惠信息</label>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <table class="table table-bordered pub" id="publicityTab">
                                <tr>
                                    <td><input type="text" id="publicity"/></td>
                                    <td class="add1">添加</td>
                                </tr>
                            </table>
                        </div>
                        <div id="warn-pub" style="color:red;margin-top:10px;"></div>
                    </div>

                </div>

                <!-- 商品详细信息-->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.details")</h4>

                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;">*</div><div class="r">主题宣传图</div><div style="margin-top:20px;margin-right:30px;">(一张)</div></label>
                    <div class="col-sm-2">
                        <div class="master-img" style="border:1px solid #ccc; height:80px;">
                            <div id="galleryT">
                            </div>
                            <div class="add" id="masterThImgAdd" style="margin-top:30px;margin-left:10px;">＋
                                <input type="file" id="T" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                            </div>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</div></label>
                    <div class="col-sm-4">
                        <div class="detail-img" style="border:1px solid #ccc;">
                            <div id="galleryD">
                            </div>
                            <div class="add" style="margin:30px 5px;">＋
                                <input type="file" id="D" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                            </div>
                        </div>
                        <div id="warn-masthimg" style="color:red;margin-top:-70px; margin-left:400px;width:120px;"></div>
                        <div id="warn-detailimg" style="color:red;margin-top:10px; margin-left:400px;width:120px;margin-bottom:50px;"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">商品参数</div></label>
                    <div class="col-sm-7">
                        <input type="hidden" class="form-control" id="features" name="features">
                        <input type="hidden" id="del" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")'>
                        <table class="table table-bordered qubian feature" id="tabFea">
                            <tr>
                                <td>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureName")</td>
                                <td width=500px>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureValue")</td>
                                <td class="add">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.add")</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="attrN"/></td>
                                <td><input type="text" name="attrV"/></td>
                                <td class="del" >@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")</td>
                            </tr>
                        </table>
                    </div>
                    <div id="warn-attr" style="color:red; margin-left:0px;margin-top:15px;"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}