@import play.i18n._
@(lang:String="cn",url:String,pageSize:Integer,countNum:Integer,pageCount:Integer,items:List[entity.Item],user:entity.User)
@scripts = {
	<link rel="stylesheet" href="/assets/css/search.css">
	<link rel="stylesheet" href="/assets/css/slider.css">
	<script src="/assets/js/search.js"></script>
	<script>window.url = "@url"</script>
	<!-- 此为调用分页所提供的函数名前缀 -->
	<script>window.search_args = 'commlist'</script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"comm.search.popup.title")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu1")</span>
    </div>
</div>
<div class="content-1">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"comm.search.popup.title")</span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <!--商品id-->
            <label class="col-sm-1 control-label">商品ID</label>
            <div class="col-sm-3">
                <input id = "comm-id" type="number" min="10000" max="99999999" class="form-control"/>
            </div>
            <!--商品标题-->
            <label class="col-sm-1 control-label">商品标题</label>
            <div class="col-sm-3">
                <input id = "comm-title" type="text" class="form-control"/>
            </div>
            <!--商品主题-->
            <label class="col-sm-1 control-label">主题ID</label>
            <div class="col-sm-3">
                <input id = "comm-topic-id" type="number" min="10000" max="99999999" class="form-control"/>
            </div>
        </div>

	    <div class="btn-s">
			<input type="reset" class="btn btn-primary btn-s-2" value='@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.reset.bt")'/>
	        <a id="topic-search-bt" href="javascript:void(0)" class="btn btn-primary btn-s-2">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.search.bt")</a>
	    </div>
	</form>
	<div class="table-content">
        <!--id必须为tb-topic 公用js需要使用-->
        <table id="tb-topic" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        商品ID
                        <span class="sort-topic glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>
                        商品标题
                    </th>
                    <th>
                        主图
                    </th>
                    <th>
                        上架时间
                    </th>
                    <th>
                        下架时间
                    </th>
                    <th>
                        主题ID
                        <span class="sort-topic glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>
                        商品状态
                    </th>

                </tr>
            </thead>
            <tbody>
                @for(item <- items){
					<!--必须使用tb-list-data类名，公用-->
                    <tr class = "tb-list-data">
                        <td><a href="/@lang/comm/findById/@item.getId()">@item.getId()</a></td>
                        <td style="width: 20%;">@item.getItemTitle()</td>
                        <td>
                            <img class="main-img" src="@url@item.getItemMasterImg()" alt="" width="50">
                        </td>
                        @if(item.getOnShelvesAt()!=null){<td>@(item.getOnShelvesAt().toString().substring(0,16))</td>}
                        @if(item.getOffShelvesAt()!=null){<td>@(item.getOffShelvesAt().toString().substring(0,16))</td>}
                        <td><a href="javascript:void(0)">@(item.getThemeId())</a></td>
                        <td>@(item.getState())</td>
                    </tr>
                }
                <tr id="nodata-td" style="display:none;"><td colspan="9">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.nodata")</td></tr>
            </tbody>
        </table>

        <!-- 公用分页模块,直接拷贝,传入相应的字段即可-->
        <span class="page-toolbar-title">@Messages.get(new Lang(Lang.forCode(lang)), "themes.search.table.page.toolbar", countNum, pageSize, pageCount)</span>
        <div class="paging">
            <ul class="pagination">
                <li class="prev disabled"><a href="javascript:void(0)">&laquo;</a></li>
                <li class="page-num page-first active"><a href="javascript:void(0)">1</a></li>
                @for(count <- 1 until pageCount){
                    <li class="page-num"><a href="javascript:void(0)">@(count+1)</a></li>
                }
                <li class="next"><a href="javascript:void(0)">&raquo;</a></li>
            </ul>
        </div>
        <!-- 公用模块,直接拷贝-->
    </div>
</div>

<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
}