@import play.i18n._
@(lang:String="cn", brandsList:List[entity.Brands], catesParentList:List[entity.Cates],uploadURL:String,user:entity.User)

@scripts = {

<!-- UEdit -->
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.all.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/lang/en/en.js"></script>


<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/slider.css"/>
<link rel="stylesheet" href="/assets/css/item.css"/>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/item.js"></script>
<script>window.uploadURL = '@uploadURL'</script>
<script>
    function ShowModal(obj) {
        var sharedObject = {};
        sharedObject.obj = obj;
        //编辑SKU
        if(obj.tagName=="SPAN"){
            //index标识第几条sku
            <!--var index = $(table).find("tr").index($(obj).parent().parent());-->
            var index = $(obj).parent().parent().index();
            var trData = $(obj).parent().parent();
            var count = 0;
            var skuObj = new Object();
            trData.find("td").each(function(){
                if (count==1) skuObj.itemColor = $(this).text();
                if (count==2) skuObj.itemSize = $(this).text();
                if (count==3) skuObj.invCode = $(this).text();
                if (count==4) skuObj.startAt = $(this).text();
                if (count==5) skuObj.endAt = $(this).text();
                if (count==6) skuObj.itemPrice = $(this).text();
                if (count==7) skuObj.itemSrcPrice = $(this).text();
                if (count==8) skuObj.itemCostPrice = $(this).text();
                if (count==9) skuObj.itemDiscount = $(this).text();
                if (count==10) skuObj.invWeight = $(this).text();
                if (count==11) skuObj.restrictAmount = $(this).text();
                if (count==12) skuObj.amount = $(this).text();
                if (count==13) skuObj.restAmount = $(this).text();
                if (count==14) skuObj.carriageModelCode = $(this).text();
                if (count==15) skuObj.invArea = $(this).text();
                if (count==16) skuObj.invCustoms = $(this).text();
                if (count==17) skuObj.rateSet = $(this).text();
                if (count==18) skuObj.postalTaxRate = $(this).text();
                if (count==19) skuObj.postalTaxCode = $(this).text();
                if (count==20) skuObj.recordHZ = $(this).text();
                if (count==21) skuObj.recordGZ = $(this).text();
                if (count==22) skuObj.recordSH = $(this).text();
                if (count==23) skuObj.invImg = $(this).text();
                if (count==24) skuObj.itemPreviewImgs = $(this).text();
                if (count==25) skuObj.orVaryPrice = $(this).text();
                if (count==26) skuObj.varyPrice = $(this).text();
                count++;
            });
            sharedObject.skuObj = skuObj;
            sharedObject.index = index;
        }
        if (window.showModalDialog) {
            var retValue = showModalDialog("/comm/pop", sharedObject, "dialogWidth:1200px; dialogHeight:8900px; dialogLeft:300px;");
            if (retValue) {
                UpdateFields(retValue);
            }
        }
        else {
            // for similar functionality in Opera, but it's not modal!
            var modal = window.open ("/comm/pop", null, "width=1200,height=900,left=300,modal=yes,alwaysRaised=yes", null);
            modal.dialogArguments = sharedObject;
        }
    }

    var table = $("<table class='table table-bordered' id='inventory'>");

    function UpdateFields(obj){
        $(table).appendTo($(".sku-info"));
        if($(table).find("th").length!=0){
            //编辑修改
            if (obj.index!="") {
                var index = obj.index;
                var trIndex = table.find("tr").eq(index).html("");
                var objTrd = $(obj.trd).find("td");
                for(var i=0;i<objTrd.length;i++) {
                    $(objTrd[i]).appendTo(trIndex);
                }
            }
            //添加一行sku
            else $(obj.trd).appendTo(table);
        }else{
            //添加第一行sku时添加表头
            $(obj.trh).appendTo(table);
            $(obj.trd).appendTo(table);
        }
    }

    $(function(){
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'zh-cn',
                format:'YYYY-MM-DD HH:mm:ss'
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'zh-cn',
                format:'YYYY-MM-DD HH:mm:ss'
            });
        });
    })
</script>
}

@import java.lang.String; var title=Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsAddTitle")

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread" style="width:80%">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu2")</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsAddTitle")</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div  id="submitItem" class="btn-blue btn-form fr ml15 saveItem">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post"   enctype="multipart/form-data">
            <div class="upinfo">
                <!-- 商品基本信息 -->
                <input type="hidden" id="itemId" name="itemId" value=""/>
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.basics")</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control form-data-area" id="categorySelect" name="pcateId">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                            @for(cates <- catesParentList) {
                            <option value="@cates.getCateId()">@cates.getCateNm()
                            </option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" id="divDynamicSubCates">
                        <select class="form-control" id='categorySubSelect' name="cateId">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control form-data-area" id="bandSelect" name="brandId">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                            @for(b <- brandsList) {
                            <option value="@b.getBrandId()">@b.getBrandNm()
                            </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">商品标题</div></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-data-area" id="itemTitle" name="itemTitle">
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.merchName")</div></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-data-area" id="supplyMerch" name="supplyMerch">
                    </div>
                </div>
                <!-- 商品库存信息-->
                <h4 class="h4-custom-hmm">商品库存信息</h4>
                <h4><button type="button" class="btn btn-primary add-guige" onclick="ShowModal(this)">添加规格</button></h4>
                <div class="form-group">
                    <div class="col-sm-8">
                        <div class="sku-info">
                        </div>
                    </div>
                    <div id="warn-choice" style="color:red;margin-top:5px; margin-left:20px;width:120px;"></div>
                </div>
                <!--<h4 class="h4-custom-hmm">商品设置</h4>-->
                <!-- 商品详细信息-->
                <h4 class="h4-custom-hmm">商品设置及详情</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">商品参数</div></label>
                    <div class="col-sm-7" style="margin-top:15px;">
                        <table class="table table-bordered qubian feature" id="tabFea">
                            <tr>
                                <td width="30%">参数名</td>
                                <td width="60%">参数值</td>
                                <td class="add">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.add")</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="attrN" class="form-data-area"/></td>
                                <td><input type="text" name="attrV" class="form-data-area"/></td>
                                <td class="del" >@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")</td>
                            </tr>
                        </table>
                    </div>
                    <div id="warn-attr" style="color:red; margin-left:0px;margin-top:20px;"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div>优惠信息</label>
                    <div class="col-sm-7">
                        <table class="table table-bordered pub" id="publicityTab">
                            <tr>
                                <td><input type="text" id="publicity" class="form-data-area"/></td>
                                <td class="add1">添加</td>
                            </tr>
                        </table>
                    </div>
                    <div id="warn-pub" style="color:red;padding-top:10px;margin-left:800px;width:200px;"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">详情信息</label>
                    <div class="col-sm-3">
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="detail-info" class="pic" value="" checked> <span>图片</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="detail-info" class="edit" value=""> <span>编辑器</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group pic-info" style="display:block;">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</div></label>
                    <div class="col-sm-7">
                        <div class="detail-img" style="border:1px solid #ccc;">
                            <div id="galleryD" style="float: left;">
                            </div>
                            <span class="add" id="detailImgAddD">＋
                                <input type="file" id="D" name="itemDetailImgs" class="hidden1  form-data-area" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                            </span>
                        </div>
                        <div id="warn-detailImg" style="color:red;margin-left:700px;width:120px;margin-top:-50px;margin-bottom:50px;"></div>
                    </div>
                </div>
                <div class="form-group pic-info" style="display:block;">
                    <label class="col-sm-1 control-label"><div class="r">重要通告</div></label>
                    <div class="col-sm-7">
                        <textarea rows="6"  class="form-control form-data-area" id="itemNotice" name="itemNotice"></textarea>
                    </div>
                </div>
                <div class="form-group edit-info" style="display:none;">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">商品详情</div></label>
                    <div class="col-sm-7">
                        <script id="editor" type="text/plain" style="height:500px;"></script>
                    </div>
                    <div id="warn-edit" style="color:red;margin-left:800px;width:200px;"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}

<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
</script>

