@import play.i18n._
@(item:domain.Item,invList:List[Array[Object]],cates:domain.Cates,pCateNm:String, brands:domain.Brands,url:String,uploadURL:String, lang:String="cn", brandsList:List[domain.Brands], catesParentList:List[domain.Cates],user:domain.User, adminSupplierList:List[domain.AdminSupplier])

@scripts = {

<!-- UEdit -->
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.all.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/lang/en/en.js"></script>

<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/slider.css"/>
<link rel="stylesheet" href="/assets/css/item.css"/>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/item.js"></script>
<script>window.imageUrl = '@url'</script>
<script>window.uploadURL = '@uploadURL'</script>
<script>
    function ShowModal(obj) {
        var sharedObject = {};
        sharedObject.obj = obj;
        var itemId = $("#itemId").val();
        sharedObject.itemId = itemId;
        //编辑SKU
        if(obj.tagName=="SPAN"){
            //index标识第几条sku
            var index = $(obj).parent().parent().index();
            var trData = $(obj).parent().parent();
            var count = 0;
            var skuObj = new Object();
            trData.find("td").each(function(){
                if (count==1) skuObj.invId = $(this).text();
                if (count==2) skuObj.itemColor = $(this).text();
                if (count==3) skuObj.itemSize = $(this).text();
                if (count==4) skuObj.invCode = $(this).text();
                if (count==5) skuObj.state = $(this).text();
                if (count==6) skuObj.startAt = $(this).text().substring(0,19);
                if (count==7) skuObj.endAt = $(this).text().substring(0,19);
                if (count==8) skuObj.itemPrice = $(this).text();
                if (count==9) skuObj.itemSrcPrice = $(this).text();
                if (count==10) skuObj.itemCostPrice = $(this).text();
                if (count==11) skuObj.itemDiscount = $(this).text();
                if (count==12) skuObj.invWeight = $(this).text();
                if (count==13) skuObj.restrictAmount = $(this).text();
                if (count==14) skuObj.restAmount = $(this).text();
                if (count==15) skuObj.invArea = $(this).text();
                if (skuObj.invArea!="K") {
                    if (count==16) skuObj.invCustoms = $(this).text();
                    if (count==17) skuObj.rateSet = $(this).text();
                    if (count==18) skuObj.postalTaxRate = $(this).text();
                    if (count==19) skuObj.postalTaxCode = $(this).text();
                    if (count==20) skuObj.recordCode = $(this).text();
                }
                if (count==21) skuObj.invImg = $(this).text();
                if (count==22) skuObj.itemPreviewImgs = $(this).text();
                if (count==23) skuObj.orVaryPrice = $(this).text();
                if (count==24) skuObj.varyPrice = $(this).text();
                count++;
            });
            sharedObject.skuObj = skuObj;
            sharedObject.index = index;
        }
        if (window.showModalDialog) {
            var retValue = showModalDialog("/comm/pop", sharedObject, "dialogWidth:1200px; dialogHeight:8900px; dialogLeft:300px;");
            if (retValue) {
                UpdateFields(retValue);
            }
        }
        else {
            // for similar functionality in Opera, but it's not modal!
            var modal = window.open ("/comm/pop", null, "width=1200,height=900,left=300,modal=yes,alwaysRaised=yes", null);
            modal.dialogArguments = sharedObject;
        }
    }

    function UpdateFields(obj){
        var table = $("#inventory");
        //编辑修改
        if (obj.index!="") {
            var index = obj.index;
            var trIndex = $(table).find("tr").eq(index).html("");
            var objTrd = $(obj.trd).find("td");
            for(var i=0;i<objTrd.length;i++) {
                $(objTrd[i]).appendTo(trIndex);
            }
        }
        //添加一行sku
        else $(obj.trd).appendTo(table);
    }

    $(function(){
        $('#datetimepicker1').datetimepicker({
            locale: 'zh-cn',
            format:'YYYY-MM-DD HH:mm:ss'
        });
        $('#datetimepicker2').datetimepicker({
            locale: 'zh-cn',
            format:'YYYY-MM-DD HH:mm:ss'
        });
    })
</script>
<style type="text/css">
    .start{color:red;}
</style>
}

@import java.lang.String; var title="商品修改"

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread" style="width:80%">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>商品修改</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">商品修改</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div  id="saveNew" class="btn-blue btn-form fr ml15 saveItem">存为新品</div>
        <div  id="submitItem" class="btn-blue btn-form fr ml15 saveItem">更新</div>
        <div id="return_detail" class="btn-white btn-form fr ml20">返回</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post"   enctype="multipart/form-data">
            <div class="upinfo">
                <input type="hidden" id="itemId" name="itemId" value="@item.getId()"/>
                <!-- 商品基本信息 -->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.basics")</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r start" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control form-data-area" id="categorySelect">
                            @for(cate <- catesParentList) {
                                @if(cates.getPcateId()==cate.getCateId()) {
                                <option value="@cate.getCateId()" selected>@cate.getCateNm()
                                </option>
                                }
                                @if(cates.getPcateId()!=cate.getCateId()) {
                                <option value="@cate.getCateId()">@cate.getCateNm()
                                </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" id="divDynamicSubCates">
                        <input type="hidden" id="catesId" value="@cates.getCateId()">
                        <input type="hidden" id="catesNm" value="@cates.getCateNm()">
                        <select class="form-control form-data-area" id='categorySubSelect' name="cateId">
                            <!--<option value="@cates.getCateId()">@cates.getCateNm()</option>-->
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r start" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control form-data-area" id="bandSelect" name="brandId">
                            @for(b <- brandsList) {
                                @if(item.getBrandId()==b.getBrandId()) {
                                <option selected value="@b.getBrandId()" >@b.getBrandNm()
                                </option>
                                }
                                @if(item.getBrandId()!=b.getBrandId()) {
                                <option value="@b.getBrandId()">@b.getBrandNm()
                                </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r start" style="padding:3px;"> *</div><div class="r">商品标题</div></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-data-area" id="itemTitle" name="itemTitle" value="@item.getItemTitle()">
                    </div>
                    <label class="col-sm-1 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r">供应商</div></label>
                    <div class="col-sm-2">
                        <select class="form-control" id="supplyMerch" name="supplyMerch">
                            <option></option>
                            @for(as <- adminSupplierList) {
                            @if(item.getSupplyMerch()==as.getSupplyMerch()) {
                            <option selected value='@as.getSupplyMerch()'>@as.getSupplyName()</option>
                            }
                            @if(item.getSupplyMerch()!=as.getSupplyMerch()) {
                            <option  value='@as.getSupplyMerch()'>@as.getSupplyName()</option>
                            }
                            }
                        </select>
                    </div>

                    <!--<label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.merchName")</div></label>-->
                    <!--<div class="col-sm-2">-->
                        <!--<input type="text" class="form-control form-data-area" id="supplyMerch" name="supplyMerch" value="@item.getSupplyMerch()">-->
                    <!--</div>-->
                </div>
                <!-- 商品库存信息-->
                <h4 class="h4-custom-hmm">商品库存信息</h4>
                <h4><button type="button" class="btn btn-primary add-guige" onclick="ShowModal(this)">添加规格</button></h4>
                <div class="form-group">
                    <div class="col-sm-8">
                        <div class="sku-info">
                            <table class='table table-bordered' id="inventory">
                                <tr>
                                    <th>设为主商品</th>
                                    <th>SKU ID</th>
                                    <th>颜色</th>
                                    <th>尺寸</th>
                                    <th style='display:none;'>规格编号</th>
                                    <th>状态</th>
                                    <th style='display:none;'>上架时间</th>
                                    <th style='display:none;'>下架时间</th>
                                    <th>现价</th>
                                    <th style='display:none;'>原价</th>
                                    <th style='display:none;'>成本价</th>
                                    <th style='display:none;'>折扣</th>
                                    <th style='display:none;'>重量(整数:克)</th>
                                    <th style='display:none;'>限购数量</th>
                                    <!--<th style='display:none;'>库存总量</th>-->
                                    <th>剩余库存</th>
                                    <!--<th style='display:none;'>运费设置</th>-->
                                    <th style='display:none;'>库存区域</th>
                                    <th style='display:none;'>报关单位</th>
                                    <th style='display:none;'>税率设置</th>
                                    <th style='display:none;'>税率(整数)</th>
                                    <th style='display:none;'>行邮税号</th>
                                    <th style='display:none;'>海关商品备案号</th>
                                    <th style='display:none;'>主图</th>
                                    <th style='display:none;'>预览图</th>
                                    <th style='display:none;'>开启多样化价格</th>
                                    <th style='display:none;'>多样化价格</th>
                                    <!--<th style='display:none;'>skuId</th>-->
                                    <th>修改</th>
                                </tr>
                                @for(obj <-  invList) {
                                <tr>
                                    <td><input type="radio" name="orMasterInv" class="master-radio" checked="checked" value="@obj(2)"/></td>
                                    <td>@obj(0)</td>
                                    <td>@obj(3)</td>
                                    <td>@obj(4)</td>
                                    <td style='display:none;'>@obj(24)</td>
                                    <td>
                                        @if(obj(25)=="Y"){正常}
                                        @if(obj(25)=="P"){预售}
                                        @if(obj(25)=="D"){下架}
                                    </td>
                                    <td style='display:none;'>@obj(5)</td>
                                    <td style='display:none;'>@obj(6)</td>
                                    <td>@obj(7)</td>
                                    <td style='display:none;'>@obj(8)</td>
                                    <td style='display:none;'>@obj(9)</td>
                                    <td style='display:none;'>@obj(10)</td>
                                    <td style='display:none;'>@obj(11)</td>
                                    <td style='display:none;'>@obj(12)</td>
                                    <!--<td style='display:none;'>@obj(13)</td>-->
                                    <td>@obj(14)</td>
                                    <!--<td style='display:none;'>@obj(15)</td>-->
                                    <td style='display:none;'>@obj(15)</td>
                                    <td  style='display:none;'>@obj(16)</td>
                                    @if(obj(17)==0) {<td style='display:none;'>F</td>}
                                    @if(obj(18)!=null ) {<td style='display:none;'>S</td>}
                                    @if(obj(18)==null && obj(17)!=0) {<td style='display:none;'>D</td>}
                                    <td style='display:none;'>@obj(17)</td>
                                    <td style='display:none;'>@obj(18)</td>
                                    <td style='display:none;'>@obj(19)</td>
                                    <td style='display:none;'>@obj(20)</td>
                                    <td style='display:none;'>@obj(21)</td>
                                    <td style='display:none;'>@obj(22)</td>
                                    <td style='display:none;'>@obj(23)</td>
                                    <td class="trEdit">
                                        <span onclick="ShowModal(this)">编辑</span>
                                    </td>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <h4 class="h4-custom-hmm">商品设置及详情</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r">商品参数</div></label>
                    <div class="col-sm-7">
                        <input type="hidden" class="form-control" id="features" name="features">
                        <input type="hidden" id="del" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")'>
                        <table class="table table-bordered qubian feature" id="tabFea">
                            <tr>
                                <td width="30%">参数名</td>
                                <td width="60%">参数值</td>
                                <td class="add">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.add")</td>
                            </tr>
                            @for(itemFeature <- item.getItemFeatures.substring(1,item.getItemFeatures.length-1).split(", ")) {
                            <tr>
                                <td><input type="text" name="attrN" value='@itemFeature.substring(1,itemFeature.indexOf(":")-1)' class="form-data-area"/></td>
                                <td><input type="text" name="attrV" value='@itemFeature.substring(itemFeature.indexOf(":")+3,itemFeature.length-1)' class="form-data-area"/></td>
                                <td class="del" >@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")</td>
                            </tr>
                            }
                        </table>
                    </div>
                    <div id="warn-attr" style="color:red; margin-left:0px;margin-top:15px;"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r start" style="padding:3px;"> *</div>优惠信息</label>
                    <div class="col-sm-7">
                        <table class="table table-bordered pub" id="publicityTab">
                            <tr>
                                <td><input type="text" id="publicity" class="form-data-area"/></td>
                                <td class="add1">添加</td>
                            </tr>
                            @for(pub <- item.getPublicity().substring(1,item.getPublicity().length()-1).split(", ")) {
                            <tr>
                                <td>@(pub.substring(1,pub.length()-1))</td>
                                <td class="del">删除</td>
                            </tr>
                            }
                        </table>
                    </div>
                    <div id="warn-pub" style="color:red;padding-top:10px;margin-left:800px;width:200px;"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">详情信息</label>
                    <div class="col-sm-3">
                        <div>
                            @if(item.getItemDetailImgs()!=null&&item.getItemDetail()==null) {
                            <label class="radio-inline">
                                <input type="radio" name="detail-info" class="pic" value="" checked> <span>图片</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="detail-info" class="edit" value=""> <span>编辑器</span>
                            </label>
                            }
                            @if(item.getItemDetailImgs()==null&&item.getItemDetail()!=null) {
                            <label class="radio-inline">
                                <input type="radio" name="detail-info" class="pic" value=""> <span>图片</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="detail-info" class="edit" value="" checked> <span>编辑器</span>
                            </label>
                            }
                        </div>
                    </div>
                </div>
                <!--详细信息为图片-->
                @if(item.getItemDetailImgs()!=null && item.getItemDetailImgs()!="") {
                <div class="form-group pic-info">
                    <label class="col-sm-1 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</div></label>
                    <div class="col-sm-7">
                        <div class="detail-img" style="border:1px solid #ccc;overflow: hidden">
                            <div id="galleryD" class="gridly" style="position: relative;width: 500px;">
                                @for(detail <- item.getItemDetailImgs().substring(1,item.getItemDetailImgs().length()-2).split("], ")) {
                                <div style="display:inline-block; border:1px solid #ccc;">
                                    @for(d <- detail.substring(1,detail.length()).split(", ")) {
                                    <img src="@url@d.substring(1,d.length()-1)" alt="" style="border:0px;height:13.3px;display:block;margin-top:0px;margin-bottom:0px;">
                                    }
                                    <button type="button" class="close" style="top:-6px;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                }
                            </div>
                            <span class="add" id="detailImgAddD">＋
                                <input type="file" id="D" name="itemDetailImgs" class="hidden1 form-data-area" value="" accept="image/gif, image/jpeg, image/webp, image/png" multiple="multiple"/>
                            </span>
                        </div>
                        <div id="warn-detailImg" style="color:red;margin-left:700px;width:120px;margin-top:-50px;margin-bottom:50px;"></div>
                    </div>
                </div>
                <div class="form-group pic-info">
                    <label class="col-sm-1 control-label" ><div class="r">重要通告</div></label>
                    <div class="col-sm-7">
                        <textarea rows="6"  class="form-control form-data-area" id="itemNotice" name="itemNotice">@item.getItemNotice()</textarea>
                    </div>
                </div>
                <div class="form-group edit-info" style="display:none;">
                    <label class="col-sm-1 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r">商品详情</div></label>
                    <div class="col-sm-7">
                        <script id="editor" type="text/plain" style="height:500px;"></script>
                    </div>
                    <div id="warn-edit" style="color:red;margin-left:800px;width:200px;"></div>
                </div>
                }
                <!--详细信息为图文-->
                @if(item.getItemDetail()!=null && item.getItemDetail()!="") {
                <div class="form-group pic-info" style="display:none;">
                    <label class="col-sm-1 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</div></label>
                    <div class="col-sm-7">
                        <div class="detail-img" style="border:1px solid #ccc;overflow: hidden">
                            <div id="galleryD" class="gridly" style="position: relative;width: 500px;">
                            </div>
                            <span class="add" id="detailImgAddD">＋
                                <input type="file" id="D" name="itemDetailImgs" class="hidden1 form-data-area" value="" accept="image/gif, image/jpeg, image/webp, image/png" multiple="multiple"/>
                            </span>
                        </div>
                        <div id="warn-detailImg" style="color:red;margin-left:700px;width:120px;margin-top:-50px;margin-bottom:50px;"></div>
                    </div>
                </div>
                <div class="form-group pic-info" style="display:none;">
                    <label class="col-sm-1 control-label" ><div class="r">重要通告</div></label>
                    <div class="col-sm-7">
                        <textarea rows="6"  class="form-control form-data-area" id="itemNotice" name="itemNotice"></textarea>
                    </div>
                </div>
                <div class="form-group edit-info">
                    <label class="col-sm-1 control-label"><div class="r start" style="padding:3px;"> *</div><div class="r">商品详情</div></label>
                    <div class="col-sm-7">
                        <script id="editor" type="text/plain" style="height:500px;" ></script>
                        <input type="hidden" id="itemDetail" value="@item.getItemDetail()">
                    </div>
                    <div id="warn-edit" style="color:red;margin-left:800px;width:200px;"></div>
                </div>
                }
                <!--</div>-->
            </div>
        </form>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}

<script>

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    var itemDetail = $("#itemDetail").val();

    /**页面加载时UEdit初始化数据**/
    window.onload=function() {
        setTimeout("UE.getEditor('editor').setContent(itemDetail, false)",500);
    };

</script>
<script src="/assets/js/jquery.gridly.js"></script>
