@import play.i18n._
@(lang:String="cn",orderDetail:Array[Object],orderShip:entity.OrderShip,subOrdersAll:List[List[List[Array[Object]]]],url:String,user:entity.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/carr.css">
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<script src="/assets/js/search.js"></script>

<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>
<script>
    $(function(){
        if($()){

        }
    })
</script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"订单详情")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>订单详情</span>
    </div>
</div>
<div class="content-1">
    <div class="page-title">
        <span class="title-name">订单详情</span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                <span>订单编号:</span>
                <input type="text" value="@orderDetail(0)" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span>收货人姓名:</span>
                <input type="text" value="@orderShip.getDeliveryName()" disabled>
            </div>
            <div class="col-sm-6">
                <span>创建时间:</span>
                <input type="text" value="@if(orderDetail(1)!=null){@(orderDetail(1).toString().substring(0,16))}" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span>身份证号:</span>
                <input type="text" value="@orderShip.getDeliveryCardNum()" disabled>
            </div>
            <div class="col-sm-6">
                <span>订单总价:</span>
                <input type="text" value="@orderDetail(4)" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span>手机号:</span>
                <input type="text" value="@orderShip.getDeliveryTel()" disabled>
            </div>
            <div class="col-sm-6">
                <span>优惠:</span>
                <input type="text" value="@orderDetail(3)" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span>收货城市:</span>
                <input type="text" value="@orderShip.getDeliveryCity()" disabled>
            </div>
            <div class="col-sm-6">
                <span>实付款(含运费和行邮税):</span>
                <input type="text" value="@orderDetail(2)" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span>详细收货地址:</span>
                <input type="text" value="@orderShip.getDeliveryAddress()" disabled>
            </div>
            <div class="col-sm-6">
                <span>支付方式:</span>
                <input type="text" value="@orderDetail(5)" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6">
                <span>支付状态:</span>
                <input type="text" value="@orderDetail(6)" disabled>
            </div>
        </div>


        <h4 style="font-size: 15px">子订单详情(共@(subOrdersAll.size)个子订单):</h4>
        @for(subOrder <- subOrdersAll){
        @for(part1Detail <- subOrder(0)){
        <h5>子订单@part1Detail(9):</h5>
        <div class="form-group">
            <div class="col-sm-6">
                <span>子订单编号:</span>
                <input type="text" value="@part1Detail(0)" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <span>报关状态:</span>
                <input type="text" value="@part1Detail(1)" disabled>
            </div>
            <div class="col-sm-6">
                <span>物流公司:</span>
                <input type="text" value="@part1Detail(3)" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span>支付报关状态:</span>
                <input type="text" value="@part1Detail(2)" disabled>
            </div>
            <div class="col-sm-6">
                <span>运单号:</span>
                <input type="text" value="@part1Detail(4)" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-11">
                <button type="button" class="btn btn-primary btn-sm pull-right check-logistics">
                    查看物流
                    <div class="logistics-info">
                        <h6>订单结束</h6>
                        <h6>已运送到---</h6>
                        <h6>已揽件---</h6>
                        <h6>已发货</h6>
                    </div>
                </button>
            </div>
        </div>
        }
        <div class="col-sm-11" style="padding-left: 80px">
            <h5>商品明细:</h5>
            <table class="table table-bordered">
                <tr>
                    <td>商品</td>
                    <td>单价(元)</td>
                    <td>数量</td>
                    <td>优惠(元)</td>
                    <td>总价(元)</td>
                </tr>
                @for(part2Detail <- subOrder(1)){
                <tr>
                    <td>
                        <img src="@url@part2Detail(1)" alt="" width="40" height="40">
                        <em>@part2Detail(0)&nbsp;@part2Detail(2)&nbsp;@part2Detail(3)</em>
                    </td>
                    <td>@part2Detail(4)</td>
                    <td>@part2Detail(5)</td>
                    <td>@part2Detail(6)</td>
                    <td>@part2Detail(7)</td>
                </tr>
                }
            </table>
        </div>
        @for(part1Detail <- subOrder.head){
        <div class="form-group">
            <div class="col-sm-6">
                <span>运费:</span>
                <input type="text" value="@part1Detail(5)" disabled>
            </div>
            <div class="col-sm-6">
                <span>订单总价:</span>
                <input type="text" style="width: auto"  value="@part1Detail(7)" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <span>行邮税:</span>
                <input type="text" value="@part1Detail(6)" disabled>
            </div>
            <div class="col-sm-6">
                <span>实付款(含运费和行邮税):</span>
                <input type="text" value="@part1Detail(8)" disabled>
            </div>
        </div>
        }
}
    </form>
</div>
<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-span="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
}
