@import play.i18n._
@(lang:String, brandsList:List[entity.Brands], catesParentList:List[entity.Cates])

@headopts = {

<link rel="stylesheet" href="/assets/css/xspsc.css"/>
<script src="/assets/js/xspsc.js"></script>

<!-- 日历-->
<link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<!-- edit -->
<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.config.js"></script>
<!--<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.all.js"></script>-->
<!--建议手动加载语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<!--<script type="text/javascript" charset="utf-8" src="/assets/editorphp/lang/zh-cn/zh-cn.js"></script>-->

<!--<script type="text/javascript" charset="utf-8" src="/assets/editorphp/ueditor.create.js"></script>-->

}

@body = {

<div class="content">
    <div class="container">
        <div class="row">
            <input id="lang-input" type="hidden" value="@lang">
            <form class="form-horizontal" method="post" action="/insertProducts" id="insertProducts" enctype="multipart/form-data">

                <div class="upinfo">
                    <h1 class="tit1">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.basics")</h1>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.language")</div></label>
                        <div class="col-sm-3">
                            <select class="form-control" id="language" name="language" onchange="changeLang()">
                                <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                                <option value="cn">Chinese</option>
                                <option value="en">English</option>
                                <option value="kr">Korea</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</div></label>
                        <div class="col-sm-3">
                            <select class="form-control" id="categorySelect">
                                <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                                @for(cates <- catesParentList) {
                                    @if(lang=="cn") {
                                        <option value="@cates.getCateId()">@cates.getCateNameCn()
                                        </option>
                                    }
                                    @if(lang=="en") {
                                        <option value="@cates.getCateId()">@cates.getCateNameEn()
                                        </option>
                                    }
                                    @if(lang=="kr") {
                                        <option value="@cates.getCateId()">@cates.getCateNameKr()
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-3" id="divDynamicSubCates">
                            <select class="form-control" id='categorySubSelect' name="cateId">
                                <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</div></label>

                        <div class="col-sm-3">
                            <select class="form-control" id="bandSelect" name="brandId">
                                <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                                @for(b <- brandsList) {
                                    @if(lang=="cn") {
                                        <option value="@b.getBrandId()">@b.getBrandNmCn()
                                        </option>
                                    }
                                    @if(lang=="en") {
                                        <option value="@b.getBrandId()">@b.getBrandNmEn()
                                        </option>
                                    }
                                    @if(lang=="kr") {
                                        <option value="@b.getBrandId()">@b.getBrandNmKr()
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productName")</div></label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="productName" name="productName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productColor")</div></label>

                        <input type="hidden" id="productColor" name="productColor"/>
                        <div class="col-sm-3" id="addColor">
                            <div class="yanse">
                                <ul>
                                    <li>
                                        <span><input type="text" class="colorIn"/></span>
                                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </li>
                                    <li style="border:0px;">
                                        <span class="add" >＋</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productSize")</div></label>

                        <input type="hidden" id="productSize" name="productSize"/>
                        <div class="col-sm-6">
                            <div class="size" id="addSize">
                                <div>
                                    <span class="l">颜色项1</span><br/><br/>
                                    <ul class="l">
                                        <li>
                                            <span><input type="text" class="sizeIn"/></span>
                                            <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
                                        </li>
                                        <li style="border:0px;">
                                            <span class="add">＋</span>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <span class="l">颜色项2</span><br/><br/>
                                    <ul class="l">
                                        <li class="sizeIn">
                                            <span><input type="text" class="sizeIn"/></span>
                                            <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
                                        </li>
                                        <li class="sizeIn">
                                            <span><input type="text" class="sizeIn"/></span>
                                            <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
                                        </li>
                                        <li style="border:0px;">
                                            <span class="add">＋</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.merchName")</div></label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="merchName" name="merchName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.sourceArea")</div></label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="sourceArea" name="sourceArea">
                        </div>
                    </div>

                    <!-- 商品销售信息-->
                    <h1 class="tit1">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.sells")</h1>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.sellDate")</div></label>

                        <div class="col-sm-3">
                            <div class="input-group date form_datetime" data-date-format="dd-mm-yyyy hh:" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" value="" readonly id="sellOnDate" name="sellOnDate">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                        </div>
                        <div class="to l">~</div>
                        <div class="col-sm-3">
                            <div class="input-group date form_datetime" data-date-format="dd-mm-yyyy hh:ii" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" value="" readonly id="sellOffDate" name="sellOffDate">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productPrice")</div></label>-->

                        <!--<div class="col-sm-3">-->
                            <!--<input type="text" class="form-control" id="productPrice" name="productPrice">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.recommendPrice")</div></label>-->

                        <!--<div class="col-sm-3">-->
                            <!--<input type="text" class="form-control" id="recommendPrice" name="recommendPrice">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productAmount")</div></label>-->

                        <!--<div class="col-sm-3">-->
                            <!--<input type="text" class="form-control" id="productAmount" name="productAmount">-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.numPri")</div></label>

                        <div class="col-sm-9">
                            <input type="hidden" id ="amount" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productAmount")'/>
                            <input type="hidden" id ="pri" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productPrice")'/>
                            <input type="hidden" id ="spri" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.recommendPrice")'/>
                            <table class="table table-bordered spsl" id="numpri" border="2px">
                                <tr>
                                    <td rowspan="2">\</td>
                                    <td colspan="3">颜色1</td>
                                    <td colspan="2">颜色3</td>
                                </tr>
                                <tr>
                                    <td>颜色1尺寸1</td>
                                    <td>颜色2尺寸2</td>
                                    <td>颜色3尺寸3</td>
                                    <td>颜色2尺寸1</td>
                                    <td>颜色2尺寸2</td>
                                </tr>
                                <tr>
                                    <td>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productAmount")</td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                </tr>
                                <tr>
                                    <td>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productPrice")</td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                </tr>
                                <tr>
                                    <td>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.recommendPrice")</td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                    <td><input type="text"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- 商品详细信息-->
                    <h1 class="tit1">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.details")</h1>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.masterImg")</div><div class="r" style="padding-top:20px;padding-left:100px;">(@Messages.get(new Lang(Lang.forCode(lang)),"item.add.onePic"))</div></label>

                        <div class="col-sm-9">
                            <div class="sctp" style="width:350px">
                                <div class="sctp1 l">
                                    <a href="#" id="masterImgAdd">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.addPic")</a>
                                    <input type="hidden" id="masterImg" name="masterImg" value=""/>
                                    <input type="file" id="fileinputM" name="image" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png" />
                                </div>
                                <div class="imgk l" id="galleryM" style="width:150px">
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="preIms" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.previewImgs")' />
                    <input type="hidden" id="mostS" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.mostSixPic")' />
                    <input type="hidden" id="addPic" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.addPic")' />
                    <div id="preImgs">

                        <div class="form-group fdel">
                            <label class="col-sm-3 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.previewImgs")</div><div class="r" style="padding-top:20px;padding-left:100px;">(@Messages.get(new Lang(Lang.forCode(lang)),"item.add.mostSixPic"))</div></label>

                            <div class="col-sm-9">
                                <div class="sctp">
                                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <div class="sctp1 l">
                                        <span class="ysfont">颜色1</span>
                                        <a href="#" id="preImgAddP0">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.addPic")</a>
                                        <input type="hidden" id="previewImgs0" name="previewImgs"/>
                                        <input type="file"  id="fileinputP0" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                                    </div>
                                    <div class="imgk l" id="galleryP0">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group fdel">
                            <label class="col-sm-3 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.previewImgs")</div><div class="r" style="padding-top:20px;padding-left:100px;">(@Messages.get(new Lang(Lang.forCode(lang)),"item.add.mostSixPic"))</div></label>

                            <div class="col-sm-9">
                                <div class="sctp">
                                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <div class="sctp1 l">
                                        <span class="ysfont">颜色2</span>
                                        <a href="#" id="preImgAddP1">添加图片</a>
                                        <input type="hidden" id="previewImgs1" name="previewImgs"/>
                                        <input type="file" id="fileinputP1" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                                    </div>
                                    <div class="imgk l" id="galleryP1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</label>

                        <div class="col-sm-9">
                            <div class="sctp">
                                <div class="sctp1 l">
                                    <a href="#">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.addPic")</a>
                                    <input type="hidden" id="detailImgs" name="detailImgs" />
                                    <input type="file" id="fileinputD" name="image" class="hidden1" value=""/>
                                </div>
                                <div class="imgk l" id="galleryD">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productDesc")</label>

                        <div class="col-sm-9">
                            <!--<script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>-->
                            <input type="text" class="form-control" id="productDesc" name="productDesc">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.features")</label>

                        <div class="col-sm-9" id="tabFea">
                            <input type="hidden" class="form-control" id="features" name="features">
                            <input type="hidden" id="del" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")'>
                            <table class="table table-bordered qubian">
                                <tr>
                                    <td >@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureName")</td>
                                    <td width=350px>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureValue")</td>
                                    <td class="add">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.add")</td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="attrN"/></td>
                                    <td><input type="text" name="attrV"/></td>
                                    <td class="del" >@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="mybtns">
                        <a href="#" class="btn btn-primary btn-lg active btncl" role="button" id="submitProducts" onclick="submitProducts()">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.add")</a>
                        <a href="#" class="btn btn-primary btn-lg active btncl" role="button">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cancel")</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

}

@admin("Add Products", headopts){

@body

}

<script type="text/javascript">
 $(function()  {
    var language = $('#lang-input').val();
    $("#language").val(language);
    /* 一级类别改变重新加载二级类别*/
    $('#categorySelect').change(function() {
        var pcid = $("#categorySelect").val();
        $.ajax({
            type: "get",
            data: "pcid="+ pcid,
            url: "/getSubcates",
            success: function(data) {
                if (typeof data != undefined && data.length > 0 && data != null) {
                    $('#categorySubSelect').empty();
                    $('#categorySubSelect').append('<option value=""></option>');
                    $.each(data, function (i, item) {
                        if (language == 'cn') {
                             $('#categorySubSelect').append("<option value=" + item.cateId + ">" + item.cateNameCn + "</option>");
                        } else if (language == 'en') {
                             $('#categorySubSelect').append("<option value=" + item.cateId + ">" + item.cateNameEn + "</option>");
                        } else if (language == 'kr') {
                             $('#categorySubSelect').append("<option value=" + item.cateId + ">" + item.cateNameKr + "</option>");
                        }
                    });
                }
                else {
                    $("#categorySubSelect").empty();
                }
            }
        });
    });
 })

function changeLang() {
    var lang = $("#language").val();
    if (lang == "") {
        location.href='/itemCreate';
    } else {
        location.href='/'+lang+'/itemCreate';
    }

 }

//表单数据提交

function submitProducts() {
    var isPost = true;
    var numberReg =  /[0-9]+/igm;
    if ($("#categorySubSelect").val()=="" && $("#cateName").val()=="") {
        isPost=false;
    }
    if ($("#bandSelect").val()=="" && $("#brandName").val()=="") {
        isPost=false;
    }
    if ($("#language").val=="" || $("#merchName").val=="" || $("#productName").val=="" || $("#productColor").val==""
        || $("#productSize").val=="" || $("#sourceArea").val=="" || $("#storeArea").val==""
        || $("#features").val=="" || $("#sellOnDate").val=="" || $("#sellOffDate").val=="") {
        alert("必填项不能为空");
        isPost=false;
    }
    if (!numberReg.test($("#productAmount").val())) {
        alert("库存量为正整数!");
        isPost=false;
    }
    if (!numberReg.test($("#productPrice").val()) && !numberReg.test($("#recommendPrice").val())) {
        alert("价格为整数或小数!");
        isPost=false;
    }
    //取得输入的所有颜色,保存在productColor字段中
    var productColor = "[";
    var addColor = document.getElementById("addColor");
    var colors = addColor.getElementsByTagName("input");
    var len = colors.length;
    for(i=0; i<len; i++) {
        productColor = productColor + '\"' + colors[i].value + '\"' + ",";
    }
    productColor = productColor.substring(0,productColor.length - 1) + "]";
    $('#productColor').val(productColor);
    alert($('#productColor').val());
    //遍历所有属性及属性值累加到隐藏域features中且属性名或值不能为空
    var features = "{";
    var tabFea = document.getElementById("tabFea");
    var attrN = document.getElementsByName("attrN");
    var attrV = document.getElementsByName("attrV");
    for(i=0; i<attrN.length; i++) {
        if (attrN[i].value=="" || attrV[i].value=="") {
            alert("属性名或值不能有空!");
            isPost=false;
        }
        features = features + '\"' + attrN[i].value + '\"' + ":" + '\"' + attrV[i].value + '\"' +",";
    }
    features = features.substring(0,features.length - 1) + "}";
    $('#features').val(features);
    if (isPost) {
       $("#insertProducts").submit();
    }
}

/** 上传图片 **/
//主图
var uploadfileM = document.querySelector('#fileinputM');
//详细图
var uploadfileD = document.querySelector('#fileinputD');
//预览图
var prevImgs = document.getElementById("preImgs");
var preinpus = prevImgs.getElementsByTagName("input");
for(i=0;i<preinpus.length;i++) {
    if (preinpus[i].type=="file") {
        var id = "P"+ Math.floor(i/2);
        var fileinputP = "fileinput"+ id;
        uploadfileP = document.querySelector('#'+fileinputP);
        //商品预览图
        uploadfileP.addEventListener('change', function() {
            var files = this.files;
            for (var i = 0; i < files.length; i++) {
                previewImage(this.files[i], id);
            }
        }, false);

    }
}


//商品主图

uploadfileM.addEventListener('change', function() {

    var files = this.files;
    var id = "M";
    for (var i = 0; i < files.length; i++) {
        previewImage(this.files[i], id);
    }
}, false);

//商品详细图

uploadfileD.addEventListener('change', function() {
    var files = this.files;
    var id = "D";
    for (var i = 0; i < files.length; i++) {
        previewImage(this.files[i], id);
    }
}, false);

function previewImage(file, id) {
    var galleryId = "gallery" + id;
  	var gallery = document.getElementById(galleryId);
    var imageType = /image.*/;

    if (!file.type.match(imageType)) {
        throw "File Type must be an image";
    }


    var div = document.createElement("div");
    var thumb = document.createElement("div");
    thumb.classList.add('imgyl');
    var button = document.createElement("button");
    button.classList.add('close');
    var span = document.createElement("span");
    $(button).append('<span>&times;</span>');
    var img = document.createElement("img");
    img.file = file;
    thumb.appendChild(button);
    thumb.appendChild(img);
    div.appendChild(thumb);
    gallery.appendChild(div);

    //预览图增加设为主图的按钮
    if(id.indexOf("P")>=0) {
        var divr = document.createElement("div");
        var inpr = document.createElement("input");
        inpr.type="radio";
        inpr.name=galleryId;
        var lab = document.createElement("label");
        lab.innerText="设为主图";
        divr.style.marginTop="105px";
        divr.style.marginLeft="20px";
        divr.appendChild(inpr);
        divr.appendChild(lab);
        var br = document.createElement("br");
        div.appendChild(br);
        div.appendChild(divr);
    }

     //添加商品主图主图后,添加图片按钮置为不可点击且颜色变为灰色
     if (document.getElementById("galleryM").getElementsByTagName("div").length>0) {
         $("#fileinputM").attr({"disabled":true});
         document.getElementById('masterImgAdd').style.background="#ccc";
     }

     //商品预览图最多为6张
     if (document.getElementById("gallery"+id).getElementsByTagName("div").length==18) {
         $("#fileinput"+id).attr({"disabled":true});
         document.getElementById("preImgAdd"+id).style.background="#ccc";
     }

     upload(thumb, file, id);

    // Using FileReader to display the image content
    var reader = new FileReader();
    reader.onload = (function(aImg) {
        return function(e) {
            aImg.src = e.target.result;
        };
    })(img);
    reader.readAsDataURL(file);
}


function upload(thumb, file, id) {
    var formdata = new FormData();
    formdata.append("photo", file);
    formdata.append("params", "minify");
    var http = new XMLHttpRequest();
    var url = "http://172.28.3.18:3008/upload";
    http.open("POST", url, true);
    http.onreadystatechange = function() {
        if (http.readyState == 4 && http.status == 200) {
            var data = JSON.parse(http.responseText);

            var input= document.createElement("input");
            thumb.appendChild(input);
            imgName = data.imgid;
            input.id = imgName.substr(0,imgName.lastIndexOf("."));
            input.type="hidden";
            input.name=data.imgid;
            input.value=data.path;

            alert(data.message);
            if (id=="M") {
                //添加商品主图片遍历所有input标签,其值累加到隐藏域masterImg中
                var masterImg = "";
                divsM = document.getElementById("galleryM");
                inpsM = divsM.getElementsByTagName("input");
                for(i=0; i<inpsM.length; i++) {
                    masterImg = masterImg + inpsM[i].value;
                }
                $('#masterImg').val(masterImg);
            } else if(id.indexOf("P")>=0) {
                //每次添加商品预览图遍历所有input标签,其值累加到隐藏域previewImgs中
                var previewImgs = "[";
                var galleryId = "gallery" + id;
  	            var divsP = document.getElementById(galleryId);
                inpsP = divsP.getElementsByTagName("input");
                for(i=0; i<inpsP.length; i++) {
                    previewImgs = previewImgs + '\"' + inpsP[i].value + '\"' + ",";
                }
                previewImgs = previewImgs.substring(0,previewImgs.length - 1) + "]";
                $('#previewImgs').val(previewImgs);
            } else if (id=="D") {
                //每次添加商品详细图片遍历所有input标签,其值累加到隐藏域detailImgs中
                var detailImgs = "[";
                divsD = document.getElementById("galleryD");
                inpsD = divsD.getElementsByTagName("input");
                for(i=0; i<inpsD.length; i++) {
                    detailImgs = detailImgs + '\"' + inpsD[i].value + '\"' + ",";
                }
                 detailImgs = detailImgs.substring(0,detailImgs.length - 1) + "]";
                $('#detailImgs').val(detailImgs);
            }
        }
    }
    http.send(formdata);
}


</script>