body{
    width: 100%;height: 100%;
    /*font: 15px/22px arial,微软雅黑;*/
    background: #e8eff5;
    /*overflow: hidden;*/
}
*{
    box-sizing: border-box;
}
/*404,505*/
.not-bg,.ser-bg{
    width: 100%;height: 100%;position: relative;
}
.not-bg .content,.ser-bg .content{
    width: 600px;height:400px;
    margin: 200px auto 0;
    /*border: 1px solid #ccc;*/
}
.not-bg .content-left{
    width: 200px;height: 100%;padding: 20px;
}
.not-bg .content-left .logo{
    width: 100%;height: 40px;overflow: hidden;
    background: url("/assets/images/logo.png") no-repeat;
    background-size: 100% 100%;
}
.not-bg .content-left h3,.not-bg .content-left h4{
    padding: 10px 0;
}
.not-bg .content-right{
    width: 400px;height: 100%;
    background: url("/assets/images/error.png") no-repeat 100px 30px;
    background-size: 200px 200px;
}
