.header.else {
	height: 69px;
/*	border-bottom: 1px solid #cecece;*/
	border-bottom: 1px solid rgba(242, 100, 86, 0.9);
}
.header {
	position: relative;
	z-index: 2;
	height: 69px;
/*	background: #fff url(../images/header-bg_c452a7e.png) repeat;*/
	background: #fff;
	min-width: 980px;
	border-bottom: 1px solid #cecece;
}
.main {
	width: 85%;
	margin: 0 auto;
}
.clearfix {
}
.header-logo {
	width: 280px;
	height: 60px;
	margin-top: 4px;
	margin-left: 5px;
	background: url(/assets/images/logo.png) no-repeat left center;
	background-size: 96%;
}
.fl {
	float: left;
}
.fr {
	position: relative;
    float: right;
}
a {
	color: #176ba5;
	text-decoration: none;
	background: transparent;
}
li {
	list-style-type: none;
}
.user-info {
	position: relative;
	color: #333;
	padding: 0 10px;
}
.info-inner {
	display: block;
	line-height: 66px;
	margin-top: 3px;
	cursor: pointer;
}
.db {
	display: block;
}
.header-dropdown-list {
	display: none;
	position: absolute;
	width: 100%;
	right: 0;
	z-index: 10;
	color: #fff;
	background: rgba(242, 100, 86, 0.9);
	padding: 11px 0;
	top: 69px;
}
.fs13 {
	font-size: 13px;
}
.info-inner .caret {
	margin-bottom: 1px;
}
.caret-b-9b {
	border-top-color: #9b9b9b;
	border-bottom-color: #9b9b9b;
}
.caret-down {
	border-top: 6px solid #000;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	border-right: 6px dashed transparent;
	border-left: 6px dashed transparent;
	cursor: pointer;
	vertical-align: middle;
}
.ml5 {
	margin-left: 5px;
}
.header-dropdown-item {
	height: 33px;
	line-height: 33px;
}
.header-dropdown-item:first-child .info-link {
	border-top: 0;
}
.info-link {
	display: block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
}
.clearfix:after {
	content: '';
	visibility: hidden;
	clear: both;
	display: block;
	height: 0;
}
.pr {
	position: relative;
}
.header-link {
	display: block;
	line-height: 66px;
	color: #333;
	width: 80px;
	text-align: center;
	padding-top: 3px;
	border-bottom: 3px solid inital;

}
.header-link:focus{
    text-decoration: none;
}
.header-navi-item:hover .header-link, .header-navi-item.active .header-link {
	color: rgba(242, 100, 86, 0.9);
	text-decoration: none;
}

.header-navi-item:hover .header-nav-border-relative {
	display: block;
}
.user-info:hover.header-nav-border {
	display: block;
}
.header-navi-item.active + .header-navi-item .header-link, .header-navi-item:hover + .header-navi-item .header-link, .header-navi-item.active + .header-navi-item .user-info, .header-navi-item:hover + .header-navi-item .user-info {
	background-image: none
}
.header-dropdown-item:hover, .header-dropdown-item.active {
	background-color: rgba(242, 100, 86, 0.9);
	color: #a7effe
}
.info-link:focus {
	color:#fff;
	text-decoration: none;
}
.user-info:hover .info-inner{
	color: rgba(242, 100, 86, 0.9);
	text-decoration: none;
} 
.info-link:hover, .info-link.active {
	color: #fff;
	background-color: rgb(214, 57, 57);
	text-decoration: none;
}
.user-info:hover .header-dropdown-list {
	display: block
}
.logo-span {
	width: 108px;
	height: 30px;
	padding-left: 10px;
	line-height: 30px;
	text-align: center;
	font-size: 24px;
	margin-top: 31px;
	border-left: 1px solid #ccc;
	display: inline-block;
	color: rgb(153, 153, 153);
	cursor: auto;
	font-family: 微软雅黑;
	color: rgba(242, 100, 86, 0.9);
}
.header-nav-border {
	display: none;
	width: 100%;
	height: 3px;
	background-color: #333;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.header-nav-border-relative {
	display: none;
	width: 100%;
	height: 3px;
	background-color: rgba(242, 100, 86, 0.9);
	position: relative;
	bottom: 3px;
	right: 0px;
}

.news{
	display: block;
	width:20px;
	height:20px;
	background: url("../images/xiao.jpg") no-repeat;
	background-size:cover;
	margin:25px 0 0 0;
	position: relative;
	color: #666;
}

.news i{
	display: block;
	width:18px;
	height:18px;
	background-color: #ff8188;
	border-radius: 50%;
	font-size:8px;
	text-align: center;
	line-height:18px;
	position: absolute;
	bottom:-10px;
	right: -5px;
}

.new{
	display: none;
	width:300px;
	height:198px;
	background-color:#F1F1F1;
	position: absolute;
	top:65px;
	right:0;
	border: 1px solid #ccc;
}
.new ul li{
	background-color: #fff;
	height:39px;
	line-height: 39px;
	border-top:1px solid #ccc;

	padding:0 10px;
}
.new ul li .left,.new ul li .middle{
	float: left;
}
.new ul li .right{
	float: right;
}
.last span{
	float: left;
}
.last b{
	float: right;
}
.first span{
	float: left;
}

.first i{
	width:15px;
	height:15px;
	background-color:#000;
	border-radius: 50px;
	float: right;
	text-align: center;
	line-height: 17px;
	color: #fff;
	margin: 10px 0 0 0;
	font-size: 12px;
	cursor: pointer;
}









