ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider-li-upload a {
	display: block;
	height: 100%;
	color: #fff;
	padding-right: 40%;
	cursor: pointer;
}
.slider-li-upload a:hover {
	text-decoration: none;
	cursor: pointer;
}
.slider-li-upload {
	text-align: right;
	line-height: 50px;
	border: 1px solid #ccc;
	font-size: 18px;
	height: 50px;
	background: #35a6e8 url('/assets/images/add_img.png') no-repeat 140px 0px;
	color: #fff;
	border-radius: 3px;
	background-size: contain;
}

.slider-label-image-up {
	width: 35px;
	height: 35px;
	position: absolute;
	cursor: pointer;
	top: 5px;
	left: 20%;
	background: url(/assets/images/circle-up.png) no-repeat;
	background-size: contain;
}
.slider-label-image-del {
	right: 20%;
	width: 35px;
	height: 35px;
	position: absolute;
	cursor: pointer;
	top: 5px;
	background: url(/assets/images/circle-x.png) no-repeat;
	background-size: contain;
}
.slider-content-img {
	width: 100%;
	height: 50%;
}
.slider-label {
	width: 70%;
	height: 45px;
	background: rgba(224, 218, 218, 0.69);
	position: absolute;
	bottom: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0px 15%;
	display:none;
}
.fly {
	position: absolute;
	right: -100px;
	top: 45%;
	font-size: 36px;
	color: #003bb3;
}
.wrap-slider {
	width: 1080px;
	min-height: 500px;
	background-color: #fff;
	margin: 20px auto;
	margin-bottom: 50px;
	padding-bottom: 30px;
	min-height: 800px;
	border: 1px solid #eee;
}
.page-title {
	color: #333;
	height: 60px;
	background-color: #e8eff5;
	width: 100%;
}
.page-title .title-name {
	font-size: 24px;
	line-height: 60px;
	margin-left: 38px;
	float: left;
	font-weight: 400;
}
.usercenter-option {
	height: 59px;
	margin-bottom: 13px;
	padding: 0 20px;
	border-bottom: 1px solid #f3f3f3;
	background-color: #F9F9F9;
	display: block;
}
.usercenter-option .user-state {
	line-height: 59px;
	padding-left: 37px;
	background-position: 20px center;
	background-repeat: no-repeat;
	background-image: url(/assets/images/user-state_f72503a.png);
	background-position: 20px -175px;
	display: inline-block;
}
.btn-form {
	margin-top: 13px;
	width: 78px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}
.btn-white:hover {
	color: #fff;
	background-color: rgba(243, 71, 54, 0.9);
}
.btn-blue:hover {
	background: rgba(243, 71, 54, 0.9);
	text-decoration: none;
}
.btn-white {
	/*border: 1px solid #35a6e8;
	background-color: #fff;
	color: #35a6e8;*/
	border: 1px solid rgba(242, 100, 86, 0.9);
	background-color: #fff;
	color: rgba(242, 100, 86, 0.9);
}
.ml20 {
	margin-left: 20px;
}
.dn {
	display: none;
}
.ml15 {
	margin-left: 15px;
}
.c_c00, .alt {
	color: #c00;
	margin-right:20px;
}
.mt20 {
	margin-top: 20px;
}
.btn-blue {
	cursor: pointer;
	border: 1px solid rgba(242, 100, 86, 0.9);
	background-color: rgba(242, 100, 86, 0.9);
	color: #fff;
}
.fr {
	float: right;
}
.mr20 {
	margin-right: 20px;
}
.mb40 {
	margin-bottom: 40px;
}
.mr20 {
	margin-right: 20px;
}
.ml20 {
	margin-left: 20px;
}
.form-item {
	margin-bottom: 13px;
}
.form-label {
	display: block;
	line-height: 27px;
}
.userinfo-row {
	color: #666;
	width: 397px;
}
.required {
	color: #ad1f13;
	margin-right: 3px;
}
.userinfo-row:last-child {
	margin-left: 44px;
}
.last {
	margin-left: 44px;
}
.fl {
	float: left;
}
.userinfo-row input[type=text], .userinfo-row textarea {
	border-color: #e3e3e3;
	padding: 12px 10px 11px;
	width: 375px;
	border-radius: 2px;
}
.slider-single-li {
	display: block;
	margin: 10px auto;
	width: 60%;
	height: auto;
	position: relative;
}
.slider-hover-div:hover .slider-label{
	display:block;
}
.mbread {
	padding: 10px 0;
	width: 1080px;
	overflow: hidden;
	color: #000;
	margin: 0 auto;
	margin-top: 20px;
}
.mbread .bread-path {
	float: left;
}
.mbread a, .mbread span{
	color: #000;
	font-size: 12px;
}
.h4-custom-hmm{
	background: url(/assets/images/name-hmm-title-label.png) no-repeat;
	padding-left: 15px;
	height: 20px;
	line-height: 20px;
}