/**************右键*************/
.rightkey{
    position: absolute;
}
.rightkey>li{
    background: #fff;border-bottom: 1px solid #ccc;
    padding: 6px 8px;font-size: 14px;
}
/*************** 选择主题 **************/
ul,li{
    list-style: none;padding: 0;
}
.container{
    width: 100%;
}
.btns{
    width: 250px;
    padding-top: 20px;float: right;
}
/********* templates-choose *********/
ul.templates-choose{
    width: 100%;height: auto;
}
ul.templates-choose li{
    width: 100%;padding: 6px;
}
ul.templates-choose li .temp-img{
    position: relative;
}
ul.templates-choose li:nth-of-type(1){
    border: 1px solid #ccc;
}
ul.templates-choose li img{
    width: 100%;
    height: 100%;
}
/********* templates *********/
ul.templates{
    width: 100%;height: auto;position: relative;
}
ul.templates>li{
    width: 100%;height: auto;position: absolute;
    left: 0;top: 0;padding: 15px;
}
ul.templates>li:nth-child(1){
    display: block;
}
ul.templates>li:not(:nth-child(1)){
    display: none;
}
ul.templates>li .temp-img{
    width: 100%;position: relative;
    background: #fff;border: 1px solid #ccc;
}
ul.templates>li img{
    width: 100%;
    height: 100%;
}
/*input*/
.upload,.add-upload{
    width: 100%;height: 100%;
    position: absolute;top: 0;left: 0;
    opacity: 0;
}
.addText{
    margin-top: 5px;
}
/*** .drag **/
.templates-choose li p.drag{
    word-wrap: break-word;
    white-space:nowrap;
    transform-origin:left top;
    transform: scale(0.2265,0.2265);
}
ul.templates p{
    display: inline-block;cursor:move;
    position: absolute;top: 50%;left: 50%;
    word-wrap: break-word;
    white-space:nowrap;
}
ul.templates .drag,ul.templates .drag-img{
    position: absolute;top: 0;left: 0;
}
ul.templates .drag-img{
    width: 100%;
}
ul.templates-choose .drag,ul.templates-choose .drag-img{
    position: absolute;top: 0;left: 0;
}
.add-temp{
    margin-left: 30%;
}
ul.templates-choose .bg-img,ul.templates .bg-img{
    width: 100%;
    height: 100%;
}


.ui-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,.6);
}

#circularG {
	position: relative;
	width: 60px;
	height: 60px;
	margin: auto;
	top: 50%;
}

.circularG {
	position: absolute;
	background-color: rgb(245,130,145);
	width: 23.3%;
	height: 23.3%;
	border-radius: 45px;
	-o-border-radius: 45px;
	-ms-border-radius: 45px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	animation-name: bounce_circularG;
	-o-animation-name: bounce_circularG;
	-ms-animation-name: bounce_circularG;
	-webkit-animation-name: bounce_circularG;
	-moz-animation-name: bounce_circularG;
	animation-duration: 1.6s;
	-o-animation-duration: 1.6s;
	-ms-animation-duration: 1.6s;
	-webkit-animation-duration: 1.6s;
	-moz-animation-duration: 1.6s;
	animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-direction: normal;
	-o-animation-direction: normal;
	-ms-animation-direction: normal;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
}

#circularG_1 {
	left: 0;
	top: 38.3%;
	animation-delay: 0.38s;
	-o-animation-delay: 0.38s;
	-ms-animation-delay: 0.38s;
	-webkit-animation-delay: 0.38s;
	-moz-animation-delay: 0.38s;
}

#circularG_2 {
	left: 10%;
	top: 10%;
	animation-delay: 0.58s;
	-o-animation-delay: 0.58s;
	-ms-animation-delay: 0.58s;
	-webkit-animation-delay: 0.58s;
	-moz-animation-delay: 0.58s;
}

#circularG_3 {
	top: 0;
	left: 38.3%;
	animation-delay: 0.78s;
	-o-animation-delay: 0.78s;
	-ms-animation-delay: 0.78s;
	-webkit-animation-delay: 0.78s;
	-moz-animation-delay: 0.78s;
}

#circularG_4 {
	right: 10%;
	top: 10%;
	animation-delay: 0.98s;
	-o-animation-delay: 0.98s;
	-ms-animation-delay: 0.98s;
	-webkit-animation-delay: 0.98s;
	-moz-animation-delay: 0.98s;
}

#circularG_5 {
	right: 0;
	top: 38.3%;
	animation-delay: 1.18s;
	-o-animation-delay: 1.18s;
	-ms-animation-delay: 1.18s;
	-webkit-animation-delay: 1.18s;
	-moz-animation-delay: 1.18s;
}

#circularG_6 {
	right: 10%;
	bottom: 10%;
	animation-delay: 1.38s;
	-o-animation-delay: 1.38s;
	-ms-animation-delay: 1.38s;
	-webkit-animation-delay: 1.38s;
	-moz-animation-delay: 1.38s;
}

#circularG_7 {
	left: 38.3%;
	bottom: 0;
	animation-delay: 1.58s;
	-o-animation-delay: 1.58s;
	-ms-animation-delay: 1.58s;
	-webkit-animation-delay: 1.58s;
	-moz-animation-delay: 1.58s;
}
#circularG_8 {
	left: 10%;
	bottom: 10%;
	animation-delay: 1.78s;
	-o-animation-delay: 1.78s;
	-ms-animation-delay: 1.78s;
	-webkit-animation-delay: 1.78s;
	-moz-animation-delay: 1.78s;
}



@keyframes bounce_circularG {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(.3);
	}

}

@-o-keyframes bounce_circularG {
	0% {
		-o-transform: scale(1);
	}

	100% {
		-o-transform: scale(.3);
	}

}

@-ms-keyframes bounce_circularG {
	0% {
		-ms-transform: scale(1);
	}

	100% {
		-ms-transform: scale(.3);
	}

}

@-webkit-keyframes bounce_circularG {
	0% {
		-webkit-transform: scale(1);
	}

	100% {
		-webkit-transform: scale(.3);
	}

}

@-moz-keyframes bounce_circularG {
	0% {
		-moz-transform: scale(1);
	}

	100% {
		-moz-transform: scale(.3);
	}

}


