@import play.i18n._
@(lang:String="cn",sliders:List[domain.Slider],url:String,uploadUrl:String,user:domain.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/jquery-ui.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/Sortable.js"></script>
<script src="/assets/js/category.js"></script>
<script>window.url='@url'</script>
<script>window.uploadUrl='@uploadUrl'</script>
}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"分类入口管理")

@layout(lang=lang,title=title,user=user)(scripts) {

<!--<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">-->
<!--<strong>Well done!</strong>-->
<!--@if(flash.containsKey("success")) {-->
<!--@flash.get("success")-->
<!--}-->
<!--<span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>-->
<!--</div>-->
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"分类入口管理")</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"分类入口管理")</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="js-usercenter-submit" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="js-usercenter-cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <form id="usercenter-info">
        <div class="slider-li-upload">
            <a id="upbn">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.upload")</a>
        </div>
        <input style="display:none;" type="file" id="fileinput" name="displayImage" accept="image/gif, image/jpeg, image/webp, image/png" />
        <ul class="clearfix" id="categorySort">
            @for(slider <- sliders) {
            <li class="slider-single-li category">
                <span class="category-name" onclick="changeText(event,this)">化妆品</span>
                <div class="slider-hover-div">
                    <div class="slider-label">
                        <div class="slider-label-image-up"></div>
                        <div class="slider-label-image-del"></div>
                    </div>
                    <img data-index="@slider.getId()" data-sort="@slider.getSortNu()" class="slider-content-img" src='@url@slider.getImg().split(",")(0)' width='@slider.getImg().split(",")(1)' height='@slider.getImg().split(",")(2)' data-target="@slider.getItemTarget()" data-type="@slider.getTargetType()" >
                </div>
            </li>
            }
        </ul>
    </form>
</div>
}
