@import play.i18n._
@(lang:String="cn",url:String,uploadUrl:String,user:domain.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/jquery-ui.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/screenshot.css">
<!--<link rel="stylesheet" href="/assets/css/upload.css">-->
<link rel="stylesheet" href="/assets/css/button.css">
<link rel="stylesheet" href="/assets/css/font-face.css">
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/h5build.css">
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>
<script src="/assets/js/h5build.js"></script>
<!--<script src="/assets/js/theme.js"></script>-->
<script>window.url = "@url"</script>
<script>window.uploadUrl = "@uploadUrl" + "/upload"</script>


}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"H5主题生成器")

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes")</span>
        <span class="icon-path">&gt;</span>
        <span>H5主题生成器</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"H5主题生成器")</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl"></div>
        <div id="js-usercenter-submit-h5" class="btn-blue btn-form fr ml15">@Messages.get(new
            Lang(Lang.forCode(lang)),"themes.slider.save")
        </div>
        <div id="js-usercenter-cancel" class="btn-white btn-form fr ml20">@Messages.get(new
            Lang(Lang.forCode(lang)),"themes.slider.cancel")
        </div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <!-- 基本信息-->
                <h4 class="h4-custom-hmm">基本信息</h4>

                <div class="form-group">
                    <label class="col-sm-2 control-label">主题标题</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="themeTitle"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">主题描述</label>

                    <div class="col-sm-8">
                        <textarea name="" id="themeDescribe" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">开始日期</label>

                    <div class="col-sm-8">
                        <div class="input-group date" id='datetimepicker1'>
                            <input class="form-control col-sm-2" type="text" id="onShelvesAt" name="onShelvesAt">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">结束日期</label>

                    <div class="col-sm-8">
                        <div class="input-group date" id='datetimepicker2'>
                            <input class="form-control col-sm-2" type="text" id="offShelvesAt" name="offShelvesAt">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">H5链接</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="h5-link"/>
                    </div>
                </div>
                <!-- 主题状态 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">主题状态</label>

                    <div class="col-sm-8 theme-state">
                        <label>
                            <input type="radio" name="themestate" id="1"> 隐藏
                        </label>
                        <label>
                            <input type="radio" name="themestate" id="2"> 专用
                        </label>
                        <label>
                            <input type="radio" name="themestate" id="3" checked> 正常
                        </label>
                    </div>
                </div>
                <!-- 主题显示位置 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">显示位置</label>

                    <div class="col-sm-8 theme-area">
                        <label>
                            <input type="checkbox" name="themearea1" value="1" checked> 首页
                        </label>
                        <label>
                            <input type="checkbox" name="themearea2" value="2"> 拼购
                        </label>
                        <label>
                            <input type="checkbox" name="themearea3" value="3"> 礼物
                        </label>
                    </div>
                </div>
                <hr/>
                <!-- 添加专用用户 -->
                <h4 class="h4-custom-hmm adduser">选择用户</h4>
                <div class="user-change">
                    <button type="button" class="btn btn-primary btn-xs add-goods" id="add-user" onclick="ShowModalAdduser(this)">添加用户</button>
                    <div class="bgk">
                        <table class="table table-bordered table-hover grid" id="user-add" title="Kurt Vonnegut novels" style="margin-top:0px;">
                            <thead>
                            <tr>
                                <th class="index">序号</th>
                                <th>用户ID</th>
                                <th>用户名称</th>
                                <th>头像</th>
                                <th>性别</th>
                                <th>电话号码</th>
                                <th>生日</th>
                                <th>注册时间</th>
                                <th>用户类型</th>
                                <th>是否实名认证</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 上传图片-->
                <h4 class="h4-custom-hmm">主题主图 <input type="checkbox" id="imgSel" checked></h4>
                <div class="thememainimg">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上传图片:</label>

                        <div class="col-sm-9">
                            <a href="javascript:void(0)" class="upload-label btn-primary btn-xs">
                                上传图片
                                <input type="file" id="upload-label" accept="image/gif, image/jpeg, image/webp, image/png">
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标签名字:</label>

                        <div class="col-sm-9">
                            <input id='mark-nm' type='text' class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标签角度:</label>

                        <div class="col-sm-9">
                            <div class="radbd" style="margin-top: 0">
                                <input type="radio" name="mark-deg" value="0"/> <b>0度</b>
                                <input type="radio" name="mark-deg" value="180"/> <b>180度</b>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品SkuID:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="input_imgurl" disabled>
                            <input type="text" class="form-control" id="url-type" style="display:none;" disabled>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-xs label-id" onclick="ShowModal1()">选择</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-9">
                            <a class="large blue button" id='mark-bt'>创建</a>
                        </div>
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-9">
                            <div class="a-container">
                                <div id='dragon-container' style="height: auto"></div>
                                <div class="thumb" style='position: relative;'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
}

