@(level: String = "default",title: String = "Seller Admin")(scripts: Html = Html(""))(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/nav.js"></script>

    <!-- self-->
    <link rel="stylesheet" href="/assets/css/xspsc.css"/>
    <link rel="stylesheet" href="/assets/css/slider.css">
    @scripts
</head>
<body>
<div class="contentA">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Kakao Seller admin</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                @level match {
                    case "default" => {
                        <li class="cur dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">商品管理<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">商品管理</a></li>
                                <li><a href="#">添加商品</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#">主题管理</a>
                            <ul class="dropdown-menu">
                                <li><a href="/slider">滚动条管理</a></li>
                                <li><a href="#">主题创建</a></li>
                                <li><a href="#">主题列表</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#">用户管理</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">用户申请</a></li>
                                <li><a href="#">用户查询</a></li>
                            </ul>
                        </li>
                    }

                    case "theme" => {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">商品管理<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">商品管理</a></li>
                                <li><a href="#">添加商品</a></li>
                            </ul>
                        </li>

                        <li class="cur dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">主题管理<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/slider">滚动条管理</a></li>
                                <li><a href="#">主题创建</a></li>
                                <li><a href="#">主题列表</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">用户申请</a></li>
                                <li><a href="#">用户查询</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">系统设置</a></li>
                            </ul>
                        </li>
                    }

                    case "user" => {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">商品管理<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">商品管理</a></li>
                                <li><a href="#">添加商品</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#">主题管理</a>
                            <ul class="dropdown-menu">
                                <li><a href="/slider">滚动条管理</a></li>
                                <li><a href="#">主题创建</a></li>
                                <li><a href="#">主题列表</a></li>
                            </ul>
                        </li>

                        <li class="cur dropdown">
                            <a href="#">用户管理</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">用户申请</a></li>
                                <li><a href="#">用户查询</a></li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="info1 r">
            <span class="l">用户名</span>
            <a class="r" href="#">退出</a>
        </div>
    </nav>
</div>
<div class="content">
    @content
</div>
</body>
</html>