
@scripts = {
    <script src="/assets/js/slider.js"></script>
}

@layout(level="theme",title="滚动条管理")(scripts) {

    <h3>滚动条管理</h3>
    <hr/>
    <ul>
        <li>
            <div class="imgbg">
                <div class="top">
                    <img src="/assets/images/iconfont-top.png" alt=""/>
                </div>
                <div class="font2">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="font1">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </div>
            </div>
            <img src="/assets/images/103I14306-0.jpg" alt="">
        </li>
        <li>
            <div class="imgbg">
                <div class="top">
                    <img src="/assets/images/iconfont-top.png" alt=""/>
                </div>
                <div class="font2">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="font1">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </div>
            </div>
            <img src="/assets/images/1.jpg" alt="">
        </li>
        <li>
            <div class="imgbg">
                <div class="top">
                    <img src="/assets/images/iconfont-top.png" alt=""/>
                </div>
                <div class="font2">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="font1">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </div>
            </div>
            <img src="/assets/images/103I14306-0.jpg" alt="">
        </li>
        <li class="addtu">
            <a href="">选择照片</a>
        </li>
    </ul>
}
