@import play.i18n._
@(lang:String="cn",sliders:List[entity.Slider],url:String,user:entity.User)

@scripts = {

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/xspsc.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/slider.css">
    <link rel="stylesheet" href="/assets/css/button.css">

	<script>window.lang='@lang'</script>
	<script>window.url='@url'</script>
    <script src="/assets/js/slider.js"></script>
	
}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.title")

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
        @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.title")</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="js-usercenter-submit" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="js-usercenter-cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <form id="usercenter-info">
		<input style="display:none;" type="file" id="fileinput" name="displayImage" accept="image/gif, image/jpeg, image/webp, image/png" />
        <ul>
            @for(slider <- sliders) {
                <li class="slider-single-li">
                    <div class="slider-hover-div">
                        <div class="slider-lable">
                            <div class="slider-lable-image-up"></div>
                            <div class="slider-lable-image-del"></div>
                        </div>
                        <img data-index=@slider.getId() data-sort=@slider.getSortNu() class="slider-content-img"
                             src="@url@slider.getImg()">
                    </div>
                </li>
            }
            <li class="slider-li-upload slider-single-li">
                <a id="upbn">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.upload")</a>
            </li>
        </ul>
    </form>
</div>
}
