@import play.i18n._
@(lang:String="cn",url:String,user:entity.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/jquery-ui.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/screenshot.css">
<link rel="stylesheet" href="/assets/css/upload.css">
<link rel="stylesheet" href="/assets/css/button.css">
<link rel="stylesheet" href="/assets/css/font-face.css">
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">

<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>

<script src="/assets/js/Math.uuid.js"></script>

<script src="/assets/js/upload.style.js"></script>
<script src="/assets/js/shot.style.js"></script>

<script src="/assets/js/slider.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>

<script>
    function ShowModal() {
        var sharedObject = {};
        var labelImgWidth;
        var labelImgHeight;

        if (window.showModalDialog) {
            var retValue = showModalDialog("/topic/add/popup", sharedObject, "dialogWidth:1200px; dialogHeight:600px; dialogLeft:300px;");
            if (retValue) {
                UpdateFields(retValue);
            }
        }
        else {
            // for similar functionality in Opera, but it's not modal!
            var modal = window.open("/topic/add/popup", null, "width=1200,height=600,left=300,modal=yes,alwaysRaised=yes", null);
            modal.dialogArguments = sharedObject;
        }
    }
    function ShowModal1() {
        var sharedObject = {};
        sharedObject.flag = true;

        if (window.showModalDialog) {
            var retValue = showModalDialog("/topic/add/popup", sharedObject, "dialogWidth:1200px; dialogHeight:600px; dialogLeft:300px;");
            if (retValue) {
                UpdateFields(retValue);
            }
        }
        else {
            // for similar functionality in Opera, but it's not modal!
            var modal = window.open("/topic/add/popup", null, "width=1200,height=600,left=300,modal=yes,alwaysRaised=yes", null);
            modal.dialogArguments = sharedObject;
        }
    }
    function UpdateFields(obj) {
        var obj1 = obj.id;
        var index1 = $(".table tbody").find("tr").length,
                index2 = $(".table thead").find("tr").length;
        var index = index1 + index2;
        for (var i = 0; i < $(obj1).length; i++) {
            $(obj1).eq(i).prepend($("<td class='index'>" + (Number(index) + i) + "</td><td><input type='radio'  name='goods-main'></td>")).appendTo($(".table"));
        }

        $('#input_imgurl').val(obj.lable_id);
    }

    function previewImage(obj, file, id) {
        var gallery = obj;
        var imageType = /image.*/;

        if (!file.type.match(imageType)) {
            throw "File Type must be an image";
        }

        var thumb = document.createElement("a");
        thumb.classList.add('track');
        var img = document.createElement("img");
        img.classList.add('main-img');
        img.file = file;
        $(img).attr('data-index', '6');
        $(thumb).append($(img));
        $(gallery).append($(thumb));
        $("<button>").addClass("close").css({
            "position": "absolute",
            "top": "10px",
            "right": "10px"
        }).attr("type", "button").attr("aria-lable", "Close").html('<span aria-hidden="true">' +
                '&times;' +
                '</span>').appendTo($(obj));

        upload(thumb, file, id);
        // Using FileReader to display the image content
        var reader = new FileReader();
        reader.onload = (function (aImg) {
            return function (e) {
                aImg.src = e.target.result;
            }
        })(img);
        reader.readAsDataURL(file);
    }

    function previewImage1(obj, file) {

        var gallery = obj;
        var imageType = /image.*/;
        if (!file.type.match(imageType)) {
            throw "File Type must be an image";
        }
        var img = document.createElement("img");
        img.file = file;
        $(img).width('100%');
        $(img).height('100%');
        $(img).css("float", "left");
        $(gallery).append($(img));
        upload(gallery, file);
        // Using FileReader to display the image content
        var reader = new FileReader();
        reader.onload = (function (aImg) {
            return function (e) {
                aImg.src = e.target.result;
                alert(["图片大小是: width:"+aImg.width+", height:"+aImg.height]);
                labelImgWidth = aImg.width;
                labelImgHeight = aImg.height;
               }
        })(img);
        reader.readAsDataURL(file);
    }

    function upload(thumb, file, id) {
        var formdata = new FormData();
        formdata.append("photo", file);
        formdata.append("params", "minify");
        var http = new XMLHttpRequest();
        var url = "http://172.28.3.18:3008/upload";
        http.open("POST", url, true);
        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                var data = JSON.parse(http.responseText);
                console.log(data.minify_url);
                var input = document.createElement("input");
                imgName = data.imgid;
                input.id = imgName.substr(0, imgName.lastIndexOf("."));
                input.type = "hidden";
                input.name = data.imgid;
                input.value = data.path;
                $(thumb).find("img").attr('src', data.minify_url);
                $(thumb).append(input);
                alert(data.message);
            }
        }
        http.send(formdata);
    }

    $(function () {
        var fixHelperModified = function (e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function (index) {
                        $(this).width($originals.eq(index).width())
                    });
                    return $helper;
                },
                updateIndex = function (e, ui) {
                    if ($("thead").find('tr').length == 2) {
                        $('td.index', ui.item.parent()).each(function (i) {
                            $(this).html(i + 2);
                        });
                    } else {
                        $('td.index', ui.item.parent()).each(function (i) {
                            $(this).html(i + 1);
                        });
                    }
                };
        $("#sort tbody").sortable({
            helper: fixHelperModified,
            stop: updateIndex
        }).disableSelection();

        $(document).on('change', '.upload1', function () {
            var id = window.event.srcElement.id;
            var files = this.files;
            var li_dv = $(this).parent().parent();
            $(this).parent().css("display", "none");
            $(this).parents(".li-dv").find(".text").css("display", "block");
            console.log(li_dv);
            for (var i = 0; i < files.length; i++) {
                previewImage(li_dv, this.files[i], id);
            }
        });
        $(document).on('change', '.upload2', function () {
            var id = window.event.srcElement.id;
            var files = this.files;
            var li_dv = $(this).parent().parent();
            $(this).parent().css("display", "none");
            $(this).parent().next().css("display", "block");
            $(this).parents(".li-dv").find(".text").css("display", "block");
            console.log(li_dv);
            for (var i = 0; i < files.length; i++) {
                previewImage(li_dv, this.files[i], id);
            }
        });

//        upload-lable
        $(document).on('change', '#upload-label', function () {
            if ($(this).val()) {
                var files = this.files;
                var label_img = $('#dragon-container');
                $(label_img).find("img").remove();
            } else {
                var label_img = $('#dragon-container');
            }
            for (var i = 0; i < files.length; i++) {
                previewImage1(label_img, this.files[i]);
            }
        });


        $(document).on("click", ".img .close", function () {
            if ($(this).parent().find(".onlyday")) {
                $(this).parents(".img").find(".upload2").val("");
                $(this).parent().find(".onlyday").css("display", "none");
            }
            $(this).parents(".img").find(".upload1").val("");
            $(this).parents(".img").find(".btn-primary").css("display", "block");
            $(this).parents(".img").find(".track").remove();
            $(this).parents(".li-dv").find(".text").css("display", "none");
            $(this).remove();
        });
        $(document).on("click",".th-del",function(){
            $(this).parents("tr").remove();
        })
    })
</script>

<script>window.url = "@url"</script>

}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"themes.create.title")

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu2")</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"themes.create.title")</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="js-usercenter-submit" class="btn-blue btn-form fr ml15">@Messages.get(new
            Lang(Lang.forCode(lang)),"themes.slider.save")
        </div>
        <div id="js-usercenter-cancel" class="btn-white btn-form fr ml20">@Messages.get(new
            Lang(Lang.forCode(lang)),"themes.slider.cancel")
        </div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <!-- 基本信息-->
                <h4 class="h4-custom-hmm">基本信息</h4>

                <div class="form-group">
                    <label class="col-sm-2 control-label">主题标题</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="themeTitle"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">开始日期</label>

                    <div class="col-sm-8">
                        <div class="input-group date" id='datetimepicker1'>
                            <input class="form-control col-sm-2" type="text" id="onShelvesAt" name="onShelvesAt">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">结束日期</label>

                    <div class="col-sm-8">
                        <div class="input-group date" id='datetimepicker2'>
                            <input class="form-control col-sm-2" type="text" id="offShelvesAt" name="offShelvesAt">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <hr/>
                <!-- 上传图片-->
                <h4 class="h4-custom-hmm">选择主题</h4>

                <div class="form-group">
                    <label class="col-sm-2 control-label">选择主题</label>

                    <div class="col-sm-9">
                        <div class="rec_sku-title">
                            <!--
                            <input type="radio" data-xr='u_youjipin' class="set-main temp_radio_class" name="setMain">
                            <label class="radio">宽版</label>
                            <input type="radio" data-xr='q_youjipin' class="set-main temp_radio_class" name="setMain">
                            <label class="radio">拼购打折</label>
                            -->
                            <input type="radio" data-xr='shop_unpack' class="set-main temp_radio_class" name="setMain" checked>
                            <label class="radio">批购</label>
                            <!--
                            <input type="radio" data-xr='upload-img' class="set-main temp_radio_class" name="setMain">
                            <label class="radio">上传</label>
                            -->
                        </div>
                        <div class='compress-div'>
                            <!--宽版-->
                            <div class='li-dv'>
                                <div id='u_youjipin' class="goods_list_img">
                                    <div class="img">
                                        <a href="javascript:void(0)" class="upload-a btn-primary">
                                            上传图片
                                            <input type="file" class="upload2">
                                        </a>
                                        <span data-index='0' class="onlyday" style="display: none">仅剩10天</span>
                                    </div>
                                    <div class="text">
                                        <i data-index='1' style='font-style: normal;'>★以思念为料，享受烘焙的甜蜜★</i>
                                        <span>
                                            <b data-index='2'>6</b>
                                            <i data-index='3' style='font-style: normal;'>元起</i>
                                        </span>
                                    </div>
                                </div>
                                <div class="pre_temp">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th>仅剩：</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>标题：</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>价格/折扣：</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>元/折起：</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr style="display: none">
                                            <th>图片url:</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>原始宽高：</th>
                                            <td><input name='origin_wh' type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th>宽度：</th>
                                            <td><input name='custom_w' class='size' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>高度：</th>
                                            <td><input name='custom_h' class='size' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td><a name='pre_unpack_bt' class="small blue-light button">预览</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--拼购打折-->
                            <div class='li-dv'>
                                <div id="q_youjipin" class="pingou">
                                    <div class="img">
                                        <a href="javascript:void(0)" class="upload-a btn-primary">
                                            上传图片
                                            <input type="file" class="upload1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="illustrate-box">
                                            <div class="illustrate-l">
                                                <div class="sale">
                                                    <span class="sale-rate">
                                                        <span data-index='0'>20%</span>
                                                        <i>打折率:</i>
                                                    </span>

                                                </div>
                                                <div class="money">
                                                    <span class="money-raw">市场价:<i data-index='1'>￥600</i></span>
                                                    <span class="now">折扣价:<i data-index='2'>￥480</i></span>
                                                </div>

                                            </div>
                                            <div class="illustrate-r">
                                                <span class="one">拼购打折<i>(最低)</i></span>
                                                <span class="two" data-index='3'>2人拼购</span>
                                                <span class="three" data-index='4'>￥400</span>
                                                <span class="four" data-index='5'>已拼购2345人</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pre_temp">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th>折扣率:</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>市场价:</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>折扣价:</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>拼购人数:</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>拼购价格:</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th>已拼购人数:</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr style="display: none">
                                            <th>图片url:</th>
                                            <td><input class='input-area' type="text"></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td><a name='pre_unpack_bt' class="small blue-light button">预览</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--拼购-->
                            <input type="file" class="unpack_img" style="display: none">
                            <div class='li-dv' style='display: block;'>
                                <div id='shop_unpack' name="temp_unpack" class="li sync-hide auto">
                                    <div class='li unpack-temp-img' id='unpack_img'>
                                    </div>
                                    <div id='unpack_title' class='unpack-title-container'>
                                        <span>
                                            <b id='unpack_discount' style="font-weight: normal;">20</b>
                                            <b style="font-size: 17px;font-weight: normal;">%</b>
                                        </span>
                                        <div id='unpack_price_origin'>￥600.00</div>
                                        <div id='unpack_price_current'>￥480.00</div>
                                        <div id='unpack_vertical_line'></div>
                                        <div id='unpack_span'>年终狂欢<b style="font-size: xx-small;font-weight:normal;">(最低)</b>
                                        </div>
                                        <div id='unpack_price_unpack'>￥400.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pre_temp shop_unpack">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>折扣率:</th>
                                        <td><input class='input-area' type="text"></td>
                                    </tr>
                                    <tr>
                                        <th>原价:</th>
                                        <td><input class='input-area' type="text"></td>
                                    </tr>
                                    <tr>
                                        <th>现价:</th>
                                        <td><input class='input-area' type="text"></td>
                                    </tr>
                                    <tr>
                                        <th>拼购价:</th>
                                        <td><input class='input-area' type="text"></td>
                                    </tr>
                                    <!--
                                    <tr>
                                        <th>宽度:</th>
                                        <td><input class='input-area' type="text"></td>
                                    </tr>
                                    -->
                                    <tr>
                                        <th></th>
                                        <td><a name='pre_unpack_bt' class="small blue-light button">预览</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--上传-->
                            <div class='li-dv'>
                                <div id="upload-img">
                                    <div class="img">
                                        <a href="javascript:void(0)" class="upload-a btn-primary">
                                            上传图片
                                            <input type="file" class="upload1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='submit-area'>
                            <a class="large blue-light button" id='submit'>提交</a>
                        </div>
                    </div>
                </div>

                <div id="mask" class="ui-mask" style="display: none;">
                    <div id="circularG">
                        <div id="circularG_1" class="circularG"></div>
                        <div id="circularG_2" class="circularG"></div>
                        <div id="circularG_3" class="circularG"></div>
                        <div id="circularG_4" class="circularG"></div>
                        <div id="circularG_5" class="circularG"></div>
                        <div id="circularG_6" class="circularG"></div>
                        <div id="circularG_7" class="circularG"></div>
                        <div id="circularG_8" class="circularG"></div>
                    </div>
                </div>
                <hr/>
                <!--商品选择-->
                <h3>商品选择</h3>
                <hr/>
                <button type="button" class="btn btn-primary btn-xs add-goods" onclick="ShowModal()">添加商品</button>
                <div class="bgk">
                    <table class="table table-bordered table-hover grid" id="sort" title="Kurt Vonnegut novels">
                        <thead>
                        <tr>
                            <th class="index">序号</th>
                            <th>主商品</th>
                            <th>
                                商品ID
                                <span class="glyphicon glyphicon-chevron-up"></span>
                                <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                            </th>
                            <!--
                            <th>
                                商品名称
                                <span class="glyphicon glyphicon-chevron-up"></span>
                                <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                            <!--
                            </th>
                            -->
                            <th>
                                商品标题
                            </th>
                            <th>
                                主图
                            </th>
                            <th>
                                上架时间
                            </th>
                            <th>
                                商品状态
                            </th>
                            <th>
                                价格
                            </th>
                            <th>
                                原价
                                <span class="glyphicon glyphicon-chevron-up"></span>
                                <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                            </th>
                            <th>
                                折扣
                                <span class="glyphicon glyphicon-chevron-up"></span>
                                <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                            </th>
                            <th>
                                删除
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <!-- 创建mark-->
                <h4 class="h4-custom-hmm">添加标签</h4>

                <div class="form-group">
                    <label class="col-sm-2 control-label">上传图片:</label>

                    <div class="col-sm-9">
                        <a href="javascript:void(0)" class="upload-label btn-primary btn-xs">
                            上传图片
                            <input type="file" id="upload-label">
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">标签名字:</label>

                    <div class="col-sm-9">
                        <input id='mark-nm' type='text' class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">旋转角度:</label>

                    <div class="col-sm-9">
                        <div class="radbd" style="margin-top: 0">
                            <input type="radio" name="mark-deg" value="0"/> <b>0度</b>
                            <input type="radio" name="mark-deg" value="180"/> <b>180度</b>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品ID:</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="input_imgurl" disabled>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary btn-xs label-id" onclick="ShowModal1()">选择</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-9">
                        <a class="large blue button" id='mark-bt'>创建</a>

                        <div id='dragon-container'></div>
                        <a class="large red button" id="push">Push Data</a>

                        <div class="thumb"
                             style='position: relative;margin-top: 10px;margin-bottom:50px;display:block;'></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
}
