@(itList:List[Array[Object]],pinList:List[Array[Object]],varyList:List[Array[Object]],url:String)
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!--self-->
<link rel="stylesheet" href="/assets/css/search.css">
<script src="/assets/js/search.js"></script>
<script type="text/javascript">
    $(function(){
        var sharedObject = window.dialogArguments;

        if(sharedObject.flag == null){
            var selected_items = sharedObject.selected_items;
            for(i=0;i<selected_items.length;i++){
                $(".table").find("tr").each(function(){
                    var id = $(this).find("td:eq(1)").text();
                    if(selected_items[i] == id){
                        $(this).find("td:eq(0)").find("input").attr("disabled",'true');
                        $(this).css("background","#f5f5f5");
                    }
                })
            }

        }


        if (sharedObject.flag) {
            $("input[type=checkbox]").attr('type','radio');
            $("li").css("display","none");
            $("table").eq(1).css("display","none");
        }


        $(".return").click(function(){
            var id=$("input[type=checkbox]:checked").parents("tr");
            $("<td>").css({"background":"#ccc","cursor":"pointer"}).html("删除").addClass("th-del").appendTo(id);
            $(id).find("input[type=checkbox]:checked").parent().remove();
            var lable_id=$("input[type=radio]:checked").parent().next().html();
            var itemTitle = $("input[type=radio]:checked").parent().next().next().next().html();
            if (window.showModalDialog) {
                var sharedObject = {};
                sharedObject.id = id;


                if(lable_id != null && lable_id.value!=""){
                    sharedObject.lable_id = lable_id;
                    sharedObject.itemTitle = itemTitle;
                }


                window.returnValue = sharedObject;
            }
            else {
                // if not modal, we cannot use the returnValue property, we need to update the opener window
                var sharedObject = {};
                sharedObject.id = id;
                sharedObject.lable_id = lable_id;
                sharedObject.itemTitle = itemTitle;
                console.log(lable_id);
                window.opener.UpdateFields (sharedObject);
            }
            window.close ();
        })

         $(".cancel").click(function(){
            window.close ();
        });

    })
</script>
<style>
    .table-bordered.table-hover{
        width: 1100px;margin-left: 50px;
    }
</style>
<body>
<ul class="chooseGood clearfix">
    <li class="pull-left" style="background: #337ab7">普通商品</li>
    <li class="pull-left">拼购商品</li>
    <li class="pull-left">多样化商品</li>
</ul>
<table class="table table-bordered table-hover">
    <tr>
        <th>选择商品</th>
        <th>
            商品SkuID
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
        <th>商品类型</th>
        <!--
        <th>
            商品名称
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        <!--
        </th>
        -->
        <th>
            商品标题
        </th>
        <th>
            商品图片
        </th>
        <th>
            上架时间
        </th>
        <th>
            商品状态
        </th>
        <th>
            价格
        </th>
        <th>
            原价
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
        <th>
            折扣
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
    </tr>
    @for(item <- itList){
    <tr>
        <td>
            <input type="checkbox" name="goods">
        </td>
        <td>@item(0)</td>
        <td>普通</td>
        <td>@item(1)</td>
        <td> <img class="main-img" src="@url@item(2)" alt="" width="50"></td>
        @if(item(3)!=null){<td>@(item(3).toString().substring(0,16))</td>}
        <td>@item(4)</td>
        <td>@item(5)</td>
        <td>@item(6)</td>
        <td>@item(7)</td>
    </tr>
    }
</table>
<table class="table table-bordered table-hover" style="display: none">
    <tr>
        <th>选择拼购</th>
        <th>
            拼购ID
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
        <th>商品类型</th>
        <!--
        <th>
            商品名称
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        <!--
        </th>
        -->
        <th>
            拼购标题
        </th>
        <th>
            拼购图片
        </th>
        <th>
            开始时间
        </th>
        <th>
            拼购状态
        </th>
        <th>
            最低价
        </th>
        <th>
            原价
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
        <th>
            最低折扣
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
    </tr>
    @for(pin <- pinList){
    <tr>
        <td>
            <input type="checkbox" name="goods">
        </td>
        <td>@pin(0)</td>
        <td>拼购</td>
        <td>@pin(1)</td>
        <td> <img class="main-img" src="@url@pin(2)" alt="" width="50"></td>
        @if(pin(3)!=null){<td>@(pin(3).toString().substring(0,16))</td>}
        <td>@pin(4)</td>
        <td>@pin(5)</td>
        <td>@pin(6)</td>
        <td>@pin(7)</td>
    </tr>
    }
</table>
<table class="table table-bordered table-hover" style="display: none">
    <tr>
        <th>选择商品</th>
        <th>
            商品ID
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
        <th>商品类型</th>
        <!--
        <th>
            商品名称
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        <!--
        </th>
        -->
        <th>
            商品标题
        </th>
        <th>
            商品图片
        </th>
        <th>
            上架时间
        </th>
        <th>
            商品状态
        </th>
        <th>
            价格
        </th>
        <th>
            原价
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
        <th>
            折扣
            <span class="glyphicon glyphicon-chevron-up"></span>
            <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
        </th>
    </tr>
    @for(varyPrice <- varyList){
    <tr>
        <td>
            <input type="checkbox" name="goods">
        </td>
        <td>@varyPrice(0)</td>
        <td>多样化</td>
        <td>@varyPrice(1)</td>
        <td> <img class="main-img" src="@url@varyPrice(2)" alt="" width="50"></td>
        @if(varyPrice(3)!=null){<td>@(varyPrice(3).toString().substring(0,16))</td>}
        <td>@varyPrice(4)</td>
        <td>@varyPrice(5)</td>
        <td>@varyPrice(6)</td>
        <td>@varyPrice(7)</td>
    </tr>
    }
</table>
<button class="return btn btn-primary" style="margin-left: 50px;margin-bottom: 10px">确认添加</button>
<button class="cancel btn btn-primary" style="margin-left: 10px;margin-bottom: 10px">返回</button>
</body>