@(themeList:List[domain.Theme],url:String)
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择主题</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" >
    <link href="/assets/css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/xlstablefilter.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="/assets/css/search.css" >
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.xlstablefilter.js"></script>
    <script>
        $(function(){
            /**	图片放大和关闭 **/
            $(document).on("click", ".main-img", function(e) {
                $(".goods-img-bg").css({
                    "height": $(window).height(),
                    "display": "block"
                });
                $(".goods-img").css("left", ($(window).width() - 1200) / 2);
                $(this).clone().appendTo($(".goods-img")).css({
                    "width": "50%",
                    "height": "500px",
                    "margin-left": "300px",
                    "z-index": 1000
                });
            })
            $(document).on("click", ".goods-img-bg .close", function(e) {
                $(".goods-img-bg img").remove();
                $(".goods-img-bg").css({
                    "display": "none"
                });
            })
            $(document).on("click", ".goods-bg", function(e) {
                $(".goods-img-bg img").remove();
                $(".goods-img-bg").css({
                    "display": "none"
                });
            })

            $("#searchTheme").xlsTableFilter({
                checkStyle: "custom",
                ignoreColumns:[0,4]   //不需要检索的列
            });

            var sharedObject = window.dialogArguments;
            var theme_arr = sharedObject.theme_arr;
            for(i=0;i<theme_arr.length;i++) {
                var trs = $(".table tbody").find("tr");
                for(j=0;j<trs.length;j++) {
                    if (theme_arr[i]==trs[j].getElementsByTagName("td")[1].innerText) {
                        $(trs[j].getElementsByTagName("td")[0].getElementsByTagName("input")[0]).attr("disabled",'true');
                        $(trs[j]).css("background","#f5f5f5");
                    }
                }
            }

            /** 全选/取消全选 **/
            $("input[name='selAll']").click(function(){
                $("input[name='selectTheme']").prop('checked',$(this).prop("checked"));
            });

            //确认添加
            $(".return").click(function(){
                var id=$("input[name='selectTheme']:checked").parents("tr");
                $("<td>").css({"background":"#ccc","cursor":"pointer"}).html("删除").addClass("theme-del").appendTo(id);
                $(id).find("input[type=checkbox]:checked").parent().remove();
                if (window.showModalDialog) {
                    var sharedObject = {};
                    sharedObject.id = id;
                    window.returnValue = sharedObject;
                }
                else {
                    // if not modal, we cannot use the returnValue property, we need to update the opener window
                    var sharedObject = {};
                    sharedObject.id = id;
                    window.opener.UpdateFieldsTheme(sharedObject);
                }
                window.close ();
            })

            //返回
            $(".cancel").click(function(){
                window.close ();
            });

            /** 回车键确认添加 **/
            $(document).keydown(function(e) {
                if (e.keyCode==13) {
                    $(".return").trigger("click");
                }
            });

        })

    </script>
</head>
<body>
<div class="table-two clearfix">
    <h3 style="padding-left: 10px">选择主题</h3>
    <!--主题-->
    <table class="table table-bordered table-hover table-theme" id="searchTheme" style="display: table">
        <thead>
        <tr>
            <th><input type="checkbox" name="selAll">全选</th>
            <th>主题ID</th>
            <th>类型</th>
            <th>标题</th>
            <th>主题图片</th>
            <th>开始时间</th>
            <th>结束时间</th>
        </tr>
        </thead>
        @for(theme <- themeList) {
        @if(theme.getThemeState==3) {
        <tr>
            <td><input type="checkbox" name="selectTheme" enable="true"></td>
            <td>@theme.getId()</td>
            <td>
                @if(theme.getType()=="ordinary"){普通主题}
                @if(theme.getType()=="h5"){H5主题}
                @if(theme.getType()=="detail"){普通商品主题}
                @if(theme.getType()=="pin"){拼购商品主题}
                <input class="topic-type" type="hidden" value="@theme.getType()">
                <input class="h5Link" type="hidden" value="@theme.getH5Link()">
            </td>
            <td>@theme.getTitle()</td>
            <td><img class="main-img" src='@url@theme.getThemeImg()' alt="" width="50"></td>
            <td>@theme.getStartAt()</td>
            <td>@theme.getEndAt()</td>
        </tr>
        }
        }
    </table>
</div>
<button class="return btn btn-primary" style="margin-left: 50px;margin-bottom: 10px; margin-top:20px;">确认添加</button>
<button class="cancel btn btn-primary" style="margin-left: 10px;margin-bottom: 10px; margin-top:20px;">返回</button>
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close" style="position: absolute;right: 283px;top: -18px;"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
</body>
</html>