@import scala.collection.immutable._
@import domain.User
@import org.joda.time.DateTime
@(lang:String="cn",user:User,products:List[Map[String, Any]],status:Option[String],start:Int)
@import scala.Int; var count =0; var category_id = 0;
@import org.joda.time.format.DateTimeFormat; val fm = DateTimeFormat.forPattern("YYYY-MM-dd HH:mm:ss");
<div style="margin-top:20px">
    <div class="row" style="padding-bottom:10px">
        @for(p <-products) {
        @count match {
        case 0 => {
        @{count=p(".count").toString.toInt; category_id = p("products.category_id").toString.toInt}
        <form id="search" class="form-inline">

        <div class="col-md-3  input-group" >
            <span class="input-group-addon">商品条码:</span>
            <input id="search_code@(category_id)" type="text" class="form-control" name="code">
        </div>


        <div class="col-md-3  input-group" >
            <span class="input-group-addon">商品名称:</span>
            <input id="search_name@(category_id)" type="text" class="form-control" name="name">
        </div>

        <div class="col-md-2 input-group" >
            <span class="input-group-addon">状态:</span>
            <select id="stat" class="form-control" onchange="javascript:state(this, @category_id);">
                <option @{status match {case None=>{"selected"} case _=>{}}} value="">全部</option>
                <option @{status match {case Some("I")=>{"selected"} case _=>{}}} value="I">未翻译</option>
                <option @{status match {case Some("T")=>{"selected"} case _=>{}}} value="T">已翻译</option>
                <option  @{status match {case Some("A")=>{"selected"} case _=>{}}} value="A">已追加</option>
            </select>
        </div>
            <input id="search_cat@(category_id)" type="hidden" class="form-control" value="@(category_id)">
                <input type="button" class="input-group col-md-1 btn btn-primary " onclick="javascript:search(@(category_id));" value="搜索">


        </form>

    </div>
    <table class="table table-hover table-bordered">
        <tr align="center" class="info">
            <th class="col-md-1">序号</th>
            <th class="col-md-1">商品ID</th>
            <th class="col-md-4">商品名称</th>
            <th class="col-md-2">时间</th>
            <th class="col-md-1">供应商</th>
            <th class="col-md-1">状态</th>
            <th class="col-md-1">操作</th>
        </tr>

        }
        case _ => {}
        }
        <tr>
            <td class="col-md-1">@p(".row")</td>
            <td class="col-md-1">@p("products.product_id")</td>
            <td class="col-md-2">@p("products.name")</td>
            <td class="col-md-1">@{p("products.update_dt") match {case ""=>{} case _ =>{fm.print(new DateTime(p("products.update_dt")))} }}</td>
            <td class="col-md-2">@p("ADMIN_USER.en_nm") @p("ADMIN_USER.ch_nm")</td>
            <td>
                @p("products.status") match {
                   case "I" => {未翻译}
                   case "T" => {已翻译}
                   case "A" => {已追加}
                   case _ => {}
                }
            </td>
            <td>
                @user.userType.get match {
                case "SUPPLIER" => {
                  @p("products.status") match {
                    case "I" => {<a href="/supply/update/@p("products.product_id")">修改(수정)</a> </td>}

                    case _ => {</td>}
                  }

                }
                case "TRANSLATION" => {
                  @p("products.status") match {
                    case "I" => {
                       <a href="/supply/translation/@p("products.product_id")">翻译</a></td>

                    }
                    case "T" => {
                    <a href="/supply/translation/@p("products.product_id")">翻译</a></td>

                    }
                    case _ =>{</td>}
                  }
                }
                case "SADMIN" => {
                    @p("products.status") match {
                    case "T" => {

                    <a href="/supply/append/@p("products.product_id")">追加</a></td>
                    }
                    case "A" => {

                    <a href="/supply/append/@p("products.product_id")">追加</a></td>
                    }
                    case _ =>{}
                    }
                }
                }

        </tr>

        }
    </table>
    @status match {
    case Some(s) => {@pages(start,15,count,"/supply/admin?id="+category_id+"&stat="+s)}
    case _ => {@pages(start,15,count,"/supply/admin?id="+category_id)}
    }


</div>

@import scala.Int; var f = 0; var t = 0 ;
@pages(start:Int, size:Int, total:Int, url:String) = {

@{f=((start/15).floor * 5).toInt }
@if((f+5)*15 >= total) {
@{t=(total/15) +1}
}else {
@{t=f+5}
}
<nav class="pull-right">
    <ul class="pagination">
        <li>
            @if(start <=1) {
                <a href="javascript:load('@{url + "&start=1"}')" aria-label="Previous">
                }else {
                <a href="javascript:load('@{url + "&start=" + (start-1)}')" aria-label="Previous">
                }
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for(s <- f.max(1) to t) {
        <li><a href="javascript:load('@{url + "&start=" + s}');">@s</a></li>
        }
        <li>
            @if(start < t) {
            <a href="javascript:load('@{url + "&start=" + (start+1)}')" aria-label="Next">
            } else {
            <a href="#" aria-label="Next">
                }
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
}
