@import play.i18n._
@import domain.{Prod_Type, Prod, User_Type, User}
@import play.api.libs.json.Json
@import play.api.libs.json.Json._
@import scala.collection.immutable._

@(lang:String="cn", user:User, p:Map[String, Any])
@import play.api.libs.json.Json; val json = Json.parse(p("products.kr_string").toString); val spec = Json.parse(p("products.spec").toString); val extra = Json.parse(p("products.extra").toString)
@scripts = {
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">
<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css"/>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
        $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
        })
    });

</script>
}

@body = {
<div class="container">
    <div class="row" style="margin-top:20px">

    </div>

    @if(Prod_Type.apply(p("products.category_id").toString.toInt ) == Prod_Type.hzp) {


    <div class="pull-left" style="width:50%;margin-top:20px">
        <div class="col-md-10 input-group" style="padding-top: 20px;">
            <span class="input-group-addon">商品名称:</span>
            <input type="text" id="hzp_name" name="name" class="form-control" value="@p("products.name")" readonly>

        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px;">
            <span class="input-group-addon">品牌:</span>
            <input type="text" id="hzp_品牌" name="品牌" class="form-control" value="@{(spec \ "品牌").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">

            <span class="input-group-addon">售价:</span>
            <input type="text" id="hzp_price" name="price" class="form-control" value="@p("products.price")" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">图片:(<a href="@Json.parse(p("products.images").toString)(0).asOpt[String]" target="_blank"> 链接</a>)</span>
            <input type="text" name="image" class="form-control" value="@{Json.parse(p("products.images").toString)(0).asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">颜色:</span>
            <input type="text" id="hzp_颜色" name="颜色" class="form-control" value="@((Json.parse(p("products.attr").toString) \ "颜色").asOpt[String])" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">成份:</span>
            <input type="text" id="hzp_成份" name="成份" class="form-control" value="@{(spec \ "成份").asOpt[String]}" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">肤质:</span>
            <input type="text" id="hzp_肤质" name="肤质" class="form-control" value="@{(spec \ "肤质").asOpt[String]}" readonly>

        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">类别:</span>
            <input type="text" id="hzp_类别" name="类别" class="form-control" value="@{(spec \ "类别").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">功能:</span>
            <input type="text" id="hzp_功能" name="功能" class="form-control" value="@{(spec \ "功能").asOpt[String]}" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">型号:</span>
            <input type="text" id="hzp_型号" name="型号" class="form-control" value="@{(spec \ "型号").asOpt[String]}" readonly>
            <span class="input-group-addon">规格:</span>
            <input type="text" id="hzp_规格" name="规格" class="form-control" value="@{(spec \ "规格").asOpt[String]}" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">用途:</span>
            <input type="text" id="hzp_用途" name="用途" class="form-control" value="@{(spec \ "用途").asOpt[String]}" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">原产地:</span>
            <input type="text" id="hzp_原产地" name="原产地" class="form-control" value="@{(spec \ "原产地").asOpt[String]}" readonly>
            <span class="input-group-addon">数量:</span>
            <input type="text" id="hzp_amount" name="amount" class="form-control" value="@p("products.amount")" readonly>
            <span class="input-group-addon">单位:</span>
            <input type="text" id="hzp_单位" name="单位" class="form-control" value="@{(spec \ "单位").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">尺寸（cm）:</span>
            <input type="text" id="hzp_尺寸" name="尺寸" class="form-control" value="@{(spec \ "尺寸").asOpt[String]}" readonly>
            <span class="input-group-addon">装箱数:</span>
            <input type="text" id="hzp_装箱数" name="装箱数" class="form-control" value="@{(extra \ "装箱数").asOpt[String]}" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">包装长 mm:</span>
            <input type="text" id="hzp_包装长" name="包装长" class="form-control" value="@{(extra \ "包装长").asOpt[String]}" readonly>
            <span class="input-group-addon">包装宽 mm:</span>
            <input type="text" id="hzp_包装宽" name="包装宽" class="form-control" value="@{(extra \ "包装宽").asOpt[String]}" readonly>

            <span class="input-group-addon">包装高 mm:</span>
            <input type="text" id="hzp_包装高"name="包装高" class="form-control" value="@{(extra \ "包装高").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px;padding-bottom:20px">
            <span class="input-group-addon">净重（kg）:</span>
            <input type="text" id="hzp_净重" name="净重" class="form-control" value="@{(extra \ "净重").asOpt[String]}" readonly>
            <span class="input-group-addon">毛重（kg）:</span>
            <input type="text" id="hzp_毛重" name="毛重" class="form-control" value="@{(extra \ "毛重").asOpt[String]}" readonly>

        </div>

    </div>
    <div class="pull-right" style="width:50%;margin-top:20px">
        <form action="/supply/append/add" method="post">

            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">商品编码:</span>
                <input type="text" name="商品编码" class="form-control" value="@{(extra \ "商品编码").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">项号:</span>
                <input type="text" name="项号" class="form-control" value="@{(extra \ "项号").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">料号:</span>
                <input type="text" name="料号" class="form-control" value="@{(extra \ "料号").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">规范申报:</span>
                <input type="text" name="规范申报" class="form-control" value="@{(extra \ "规范申报").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">京东SKU:</span>
                <input type="text" name="京东SKU" class="form-control" value="@{(extra \ "京东SKU").asOpt[String]}">

            </div>
            <div class="col-md-4 col-md-offset-2" style="margin-top:20px;margin-bottom:20px">
                <input type="hidden" value="hzp" name="p_type"/>
                <input type="hidden" name="product_id" value="@p("products.product_id")"/>
                <input type="submit" class="btn btn-primary btn-block" value="追加"/>
            </div>
        </form>
    </div>
    }

    @if(Prod_Type.apply(p("products.category_id").toString.toInt ) == Prod_Type.fs) {

    <div class="pull-left" style="width:50%;margin-top:20px">
        <div class="col-md-10 input-group" style="padding-top: 20px;">
            <span class="input-group-addon">商品名称:</span>
            <input type="text" id="fs_name" name="name" class="form-control" value="@p("products.name")" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px;">
            <span class="input-group-addon">品牌:</span>
            <input type="text" id="fs_品牌" name="品牌" class="form-control" value="@{(spec \ "品牌").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">

            <span class="input-group-addon">售价:</span>
            <input type="text" id="fs_price" name="price" class="form-control" value="@p("products.price")" readonly>
        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">图片:(<a href="@Json.parse(p("products.images").toString)(0).asOpt[String]" target="_blank"> 链接</a>)</span>
            <input type="text" name="image" class="form-control" value="@{Json.parse(p("products.images").toString)(0).asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px;">
            <span class="input-group-addon">一级分类:</span>
            <input type="text" id="fs_一级分类" name="一级分类" class="form-control" value="@{(spec \ "一级分类").asOpt[String]}" readonly>

            <span class="input-group-addon">二级分类:</span>
            <input type="text" id="fs_二级分类" name="二级分类" class="form-control" value="@{(spec \ "二级分类").asOpt[String]}" readonly>
            <span class="input-group-addon">三级分类:</span>
            <input type="text" id="fs_三级分类" name="三级分类" class="form-control" value="@{(spec \ "三级分类").asOpt[String]}"readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">成份:</span>
            <input type="text" id="fs_成份" name="成份" class="form-control" value="@{(spec \ "成份").asOpt[String]}" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">型号:</span>
            <input type="text" id="fs_型号"  name="型号" class="form-control" value="@{(spec \ "型号").asOpt[String]}" readonly>
            <span class="input-group-addon">颜色:</span>
            <input type="text" id="fs_颜色" name="颜色" class="form-control" value="@((Json.parse(p("products.attr").toString) \ "颜色").asOpt[String])" readonly>
        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">规格:</span>
            <input type="text" id="fs_规格" name="规格" class="form-control" value="@{(spec \ "规格").asOpt[String]}" readonly>
        </div>


        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">用途:</span>
            <input type="text" id="fs_用途" name="用途" class="form-control" value="@{(spec \ "用途").asOpt[String]}" readonly>

        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">原产地:</span>
            <input type="text" id="fs_原产地" name="原产地" class="form-control" value="@{(spec \ "原产地").asOpt[String]}" readonly>
            <span class="input-group-addon">数量:</span>
            <input type="text"  id="fs_amount" name="amount" class="form-control" value="@p("products.amount")" readonly>
            <span class="input-group-addon">单位:</span>
            <input type="text" id="fs_单位" name="单位" class="form-control" value="@{(spec \ "单位").asOpt[String]}" readonly>

        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">版型:</span>
            <input type="text" id="fs_版型" name="版型" class="form-control" value="@{(spec \ "版型").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">上市时间:</span>
            <input type="text" id="fs_上市时间" name="上市时间" class="form-control" class="datepicker" data-date-format="yyyy-mm-dd"
                   data-provide="datepicker" value="@{(spec \ "上市时间").asOpt[String]}" readonly>
            <span class="input-group-addon">里料分类:</span>
            <input type="text" id="fs_里料分类" name="里料分类" class="form-control" value="@{(spec \ "里料分类").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">

            <span class="input-group-addon">图案:</span>
            <input type="text" id="fs_图案" name="图案" class="form-control" value="@{(spec \ "图案").asOpt[String]}" readonly>
            <span class="input-group-addon">适用年龄:</span>
            <input type="text" id="fs_适用年龄" name="适用年龄" class="form-control" value="@{(spec \ "适用年龄").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">毛重:</span>
            <input type="text" id="fs_毛重" name="毛重" class="form-control" value="@{(extra \ "毛重").asOpt[String]}" readonly>
            <span class="input-group-addon">净重:</span>
            <input type="text" id="fs_净重" name="净重" class="form-control" value="@{(extra \ "净重").asOpt[String]}" readonly>
            <span class="input-group-addon">厚度:</span>
            <input type="text" id="fs_厚度" name="厚度" class="form-control" value="@{(extra \ "厚度").asOpt[String]}" readonly>

        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">领型:</span>
            <input type="text" id="fs_领型" name="领型" class="form-control" value="@{(spec \ "领型").asOpt[String]}" readonly>
            <span class="input-group-addon">衣长:</span>
            <input type="text" id="fs_衣长" name="衣长" class="form-control" value="@{(spec \ "衣长").asOpt[String]}" readonly>
        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">袖型:</span>
            <input type="text" id="fs_袖型" name="袖型" class="form-control" value="@{(spec \ "袖型").asOpt[String]}" readonly>
            <span class="input-group-addon">衣门襟:</span>
            <input type="text" id="fs_衣门襟" name="衣门襟" class="form-control" value="@{(spec \ "衣门襟").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">尺码:</span>
            <input type="text" id="fs_尺码" name="尺码" class="form-control" value="@{(spec \ "尺码").asOpt[String]}" readonly>
            <span class="input-group-addon">适用类型:</span>
            <input type="text" id="fs_适用类型" name="适用类型" class="form-control" value="@{(spec \ "适用类型").asOpt[String]}" readonly>
        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px;padding-bottom:20px">
            <span class="input-group-addon">风格:</span>
            <input type="text" id="fs_风格" name="风格" class="form-control" value="@{(spec \ "风格").asOpt[String]}" readonly>
            <span class="input-group-addon">流行元素:</span>
            <input type="text" id="fs_流行元素" name="流行元素" class="form-control" value="@{(spec \ "流行元素").asOpt[String]}" readonly>
        </div>
    </div>

    <div class="pull-right" style="width:50%;margin-top:20px">
        <form action="/supply/append/add" method="post">

            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">商品编码:</span>
                <input type="text" name="商品编码" class="form-control" value="@{(extra \ "商品编码").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">项号:</span>
                <input type="text" name="项号" class="form-control" value="@{(extra \ "项号").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">料号:</span>
                <input type="text" name="料号" class="form-control" value="@{(extra \ "料号").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">规范申报:</span>
                <input type="text" name="规范申报" class="form-control" value="@{(extra \ "规范申报").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">京东SKU:</span>
                <input type="text" name="京东SKU" class="form-control" value="@{(extra \ "京东SKU").asOpt[String]}">

            </div>
            <div class="col-md-4 col-md-offset-2" style="margin-top:20px;margin-bottom:20px">
                <input type="hidden" value="fs" name="p_type"/>
                <input type="hidden" name="product_id" value="@p("products.product_id")"/>
                <input type="submit" class="btn btn-primary btn-block" value="追加"/>
            </div>
        </form>
    </div>
    }

    @if(Prod_Type.apply(p("products.category_id").toString.toInt ) == Prod_Type.ps) {

    <div class="pull-left" style="width:50%;margin-top:20px">
        <div class="col-md-10 input-group" style="padding-top: 20px;">
            <span class="input-group-addon">商品名称:</span>
            <input type="text" id="ps_name" name="name" class="form-control" value="@p("products.name")" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px;">
            <span class="input-group-addon">品牌:</span>
            <input type="text" id="ps_品牌" name="品牌" class="form-control" value="@{(spec \ "品牌").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">

            <span class="input-group-addon">售价:</span>
            <input type="text" id="ps_price" name="price" class="form-control" value="@p("products.price")" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">图片:(<a href="@Json.parse(p("products.images").toString)(0).asOpt[String]" target="_blank"> 链接</a>)</span>
            <input type="text" name="image" class="form-control" value="@{Json.parse(p("products.images").toString)(0).asOpt[String]}" readonly>

        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">成份:</span>
            <input type="text"  id="ps_成份"name="成份" class="form-control" value="@{(spec \ "成份").asOpt[String]}" readonly>
        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">款式:</span>
            <input type="text" id="ps_款式" name="款式" class="form-control" value="@{(spec \ "款式").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">适用人群:</span>
            <input type="text" id="ps_适用人群" name="适用人群" class="form-control" value="@{(spec \ "适用人群").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">功能:</span>
            <input type="text" id="ps_功能" name="功能" class="form-control" value="@{(spec \ "功能").asOpt[String]}" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">型号:</span>
            <input type="text" id="ps_型号" name="型号" class="form-control" value="@{(spec \ "型号").asOpt[String]}" readonly>
            <span class="input-group-addon">规格:</span>
            <input type="text" id="ps_规格" name="规格" class="form-control" value="@{(spec \ "规格").asOpt[String]}" readonly>
        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">用途:</span>
            <input type="text" id="ps_用途" name="用途" class="form-control" value="@{(spec \ "用途").asOpt[String]}" readonly>
        </div>

        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">原产地:</span>
            <input type="text" id="ps_原产地" name="原产地" class="form-control" value="@{(spec \ "原产地").asOpt[String]}" readonly>
            <span class="input-group-addon">数量:</span>
            <input type="text" id="ps_amount" name="amount" class="form-control" value="@p("products.amount")" readonly>
            <span class="input-group-addon">单位:</span>
            <input type="text"  id="ps_单位" name="单位" class="form-control" value="@{(spec \ "单位").asOpt[String]}" readonly>

        </div>


        <div class="col-md-10 input-group" style="padding-top: 20px">
            <span class="input-group-addon">包装高mm:</span>
            <input type="text" id="ps_包装长" name="包装长" class="form-control" value="@{(extra \ "包装长").asOpt[String]}" readonly>
            <span class="input-group-addon">包装高mm:</span>
            <input type="text" id="ps_包装宽" name="包装宽" class="form-control" value="@{(extra \ "包装宽").asOpt[String]}" readonly>

            <span class="input-group-addon">包装高mm:</span>
            <input type="text" id="ps_包装高" name="包装高" class="form-control" value="@{(extra \ "包装高").asOpt[String]}" readonly>

        </div>
        <div class="col-md-10 input-group" style="padding-top: 20px;padding-bottom:20px">
            <span class="input-group-addon">净重(kg）:</span>
            <input type="text" id="ps_净重" name="净重" class="form-control" value="@{(extra \ "净重").asOpt[String]}" readonly>
            <span class="input-group-addon">毛重(kg）:</span>
            <input type="text" id="ps_毛重" name="毛重" class="form-control" value="@{(extra \ "毛重").asOpt[String]}" readonly>

        </div>
    </div>
    <div class="pull-right" style="width:50%;margin-top:20px">
        <form action="/supply/append/add" method="post">

            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">商品编码:</span>
                <input type="text" name="商品编码" class="form-control" value="@{(extra \ "商品编码").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">项号:</span>
                <input type="text" name="项号" class="form-control" value="@{(extra \ "项号").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">料号:</span>
                <input type="text" name="料号" class="form-control" value="@{(extra \ "料号").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">规范申报:</span>
                <input type="text" name="规范申报" class="form-control" value="@{(extra \ "规范申报").asOpt[String]}">

            </div>
            <div class="col-md-9 input-group" style="padding-top: 20px">
                <span class="input-group-addon">京东SKU:</span>
                <input type="text" name="京东SKU" class="form-control" value="@{(extra \ "京东SKU").asOpt[String]}">

            </div>
            <div class="col-md-4 col-md-offset-2" style="margin-top:20px;margin-bottom:20px">
                <input type="hidden" value="ps" name="p_type"/>
                <input type="hidden" name="product_id" value="@p("products.product_id")"/>
                <input type="submit" class="btn btn-primary btn-block" value="追加"/>
            </div>
        </form>
    </div>
    }
</div>
}


@layout(lang=lang,title="supply", user=user)(scripts) {

@body

}