@import scala.collection.immutable._
@import entity.User_Type
@import entity.User
@import org.joda.time.DateTime

@(lang:String="cn",user:User,products:List[Map[String, Any]],start:Int)
@import scala.Int; var count =0; var category_id = 0;
@import org.joda.time.format.DateTimeFormat; val fm = DateTimeFormat.forPattern("YYYY-MM-dd HH:mm:ss");
<div style="margin-top:20px">

    <table class="table table-hover table-bordered">
        <tr align="center" class="info">
            <th class="col-md-1">序号(순번)</th>
            <th class="col-md-1">商品(상품)ID</th>
            <th class="col-md-2">商品名称(상품명칭)</th>
            <th class="col-md-1">时间(시간)</th>
            <th class="col-md-1">状态(상태)</th>
            <th class="col-md-1">操作(조작)</th>
        </tr>

        @for(p <-products) {

        @{if(count == 0) {count=p(".count").toString.toInt; category_id = p("products.category_id").toString.toInt}}
        <tr>
            <td class="col-md-1">@p(".row")</td>
            <td class="col-md-1">@p("products.product_id")</td>
            <td class="col-md-2">@p("products.name")</td>
            <td class="col-md-1">@{fm.print(new DateTime(p("products.update_dt")))}</td>
            <td class="col-md-1">
                @p("products.status") match {
                   case "I" => {未翻译(미번역)}
                   case "T" => {已翻译(번역완료)}
                   case _ => {}
                }
            </td>
            <td class="col-md-1">
                @user.role match {
                case User_Type.SELLER => {
                  @p("products.status") match {
                    case "I" => {<a href="/supply/update/@p("products.product_id")">修改(수정)</a>  <a href="/supply/delete/@p("products.product_id")">删除(수정)</a></td>}
                    case _ => {</td>}
                  }

                }
                case User_Type.TRANSLATION => {
                  @p("products.status") match {
                    case "I" => {
                       <a href="/supply/translation/@p("products.product_id")">翻译</a>
                     <a href="/supply/append/@p("products.product_id")">追加</a></td>
                    }
                    case _ =>{<a href="/supply/append/@p("products.product_id")">追加</a></td>}
                  }
                }
                }

        </tr>

        }
    </table>
    @pages(start,15,count,"/supply/my?id="+category_id)

    <div class="row" style="margin-top:10px">

        @user.role match {
        case User_Type.SELLER => {
        <div class="pull-right col-md-2">
            <input type="button" onclick="javascript:window.location='/supply/init'" class="btn btn-primary btn-block" value="新增(증가)">
        </div>
        }
        case User_Type.TRANSLATION => {
        <div class="pull-right col-md-2">
            <input type="button" onclick="javascript:window.location='/supply/download/shanghai'" class="btn btn-primary btn-block" value="上海报关下载">
        </div>
        <div class="pull-right col-md-2">
            <input type="button" onclick="javascript:window.location='/supply/download/hangzhou'" class="btn btn-primary btn-block" value="杭州报关下载">
        </div>
        }
        }
    </div>

</div>

@import scala.Int; var f = 0; var t = 0 ;
@pages(start:Int, size:Int, total:Int, url:String) = {

@{f=((start/15).floor * 5).toInt }
@if((f+5)*15 >= total) {
@{t=(total/15) +1}
}else {
@{t=f+5}
}
<nav class="pull-right">
    <ul class="pagination">
        <li>
            @if(start <=1) {
                <a href="#" aria-label="Previous">
                }else {
                <a href="javascript:load('@{url + "&start=" + (start-1)}')" aria-label="Previous">
                }
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for(s <- f.max(1) to t) {
        <li><a href="javascript:load('@{url + "&start=" + s}');">@s</a></li>
        }
        <li>
            @if(start < t) {
            <a href="javascript:load('@{url + "&start=" + (start+1)}')" aria-label="Next">
            } else {
            <a href="#" aria-label="Next">
                }
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
}


