@import play.i18n._
@import entity.User_Type
@import entity.User
@import play.api.mvc._
@(lang:String="cn", user:User)(implicit flash: Flash)

@scripts = {
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">
<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css"/>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
        $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
        })
    });

</script>
}

@body = {
<div class="container">

    @flash.get("message") match {
      case Some(message) => {
        <div class="alert alert-success" role="alert" style="margin-top:20px">@message</div>
       }
      case None => {
        <div class="alert alert-info" role="alert" style="margin-top:20px">请输入(입력하십시오).</div>
       }
    }

    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="margin-top:20px">
        <li class="active"><a href="#hzp" data-toggle="tab">化妆品(화장품)</a></li>
        <li><a href="#ps" data-toggle="tab">配饰(액세서리)</a></li>
        <li><a href="#fs" data-toggle="tab">服饰(의상)</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="hzp" style="width:60%">
            <form action="/supply/init" method="post" enctype="multipart/form-data">
                <div class="col-md-9 input-group" style="padding-top: 20px;">
                    <span class="input-group-addon">상품명칭:</span>
                    <input type="text" name="name" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">원가（KRW）:</span>
                    <input type="text" name="price" class="form-control">
                    <span class="input-group-addon">판매가（KRW）:</span>
                    <input type="text" name="market_price" class="form-control">
                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">사이즈（cm）:</span>
                    <input type="text" name="尺寸(cm)" class="form-control">
                    <span class="input-group-addon">포장 수:</span>
                    <input type="text" name="装箱数" class="form-control">
                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">Carton size(MM):</span>
                    <input type="text" name="箱子尺寸" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">실중량（kg）:</span>
                    <input type="text" name="净重(kg)" class="form-control">
                    <span class="input-group-addon">전체중량（kg）:</span>
                    <input type="text" name="毛重(kg)" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">상품 이미지:</span>
                    <input type="file" name="image" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">주요성분:</span>
                    <textarea name="主要成分" class="form-control"></textarea>
                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">피부타입:</span>
                    <input type="text" name="肤质" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">상품유형:</span>
                    <input type="text" name="类别" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">기능:</span>
                    <textarea name="功效" class="form-control"></textarea>
                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">원산지:</span>
                    <input type="text" name="原产地" class="form-control">
                    <span class="input-group-addon">재고수량:</span>
                    <input type="text" name="amount" class="form-control">

                </div>
                <div class="col-md-4 col-md-offset-2" style="margin-top:20px;margin-bottom:20px">
                    <input type="hidden" value="hzp" name="p_type"/>
                    <input type="submit" class="btn btn-primary btn-block" value="Submit"/>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="ps" style="width:60%">
            <form action="/supply/init" method="post">
                <div class="col-md-9 input-group" style="padding-top: 20px;">
                    <span class="input-group-addon">상품명칭:</span>
                    <input type="text" name="name" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px;">
                    <span class="input-group-addon">상품이미지:</span>
                    <input type="file" name="image" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">브랜드:</span>
                    <input type="text" name="品牌" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">재질:</span>
                    <input type="text" name="材质" class="form-control">

                    <span class="input-group-addon">스타일:</span>
                    <input type="text" name="款式" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">적용대상:</span>
                    <input type="text" name="适用人群" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">원가（원화／인민페）:</span>
                    <input type="text" name="price" class="form-control">

                    <span class="input-group-addon">판매가격:</span>
                    <input type="text" name="market_price" class="form-control">


                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">상품 실중량 kg:</span>
                    <input type="text" name="净重(kg)" class="form-control">

                    <span class="input-group-addon">（포장）상품 전체 중량 kg:</span>
                    <input type="text" name="毛重(kg)" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">(포장)길이 mm:</span>
                    <input type="text" name="包装(长)mm" class="form-control">
                    <span class="input-group-addon">(포장)너비 mm:</span>
                    <input type="text" name="包装(宽)mm" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">(포장)높이 mm:</span>
                    <input type="text" name="包装(高)mm" class="form-control">
                    <span class="input-group-addon">재고수량:</span>
                    <input type="text" name="amount" class="form-control">
                </div>
                <div class="col-md-4 col-md-offset-2" style="margin-top:20px;margin-bottom:20px">
                    <input type="hidden" value="ps" name="p_type"/>
                    <input type="submit" class="btn btn-primary btn-block" value="Submit"/>

                </div>
            </form>
        </div>
        <div class="tab-pane" id="fs" style="width:60%">
            <form action="/supply/init" method="post">
                <div class="col-md-9 input-group" style="padding-top: 20px;">
                    <span class="input-group-addon">상품명영문:</span>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px;">
                    <span class="input-group-addon">상품이미지:</span>
                    <input type="file" name="image" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px;">
                    <span class="input-group-addon">1depth:</span>
                    <input type="text" name="一级分类" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">

                    <span class="input-group-addon">2depth:</span>
                    <input type="text" name="二级分类" class="form-control">
                    <span class="input-group-addon">3depth:</span>
                    <input type="text" name="三级分类" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">모델코드:</span>
                    <input type="text" name="型号" class="form-control">
                    <span class="input-group-addon">색상:</span>
                    <input type="text" name="颜色" class="form-control">
                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">기능:</span>
                    <input type="text" name="功能" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">용도:</span>
                    <input type="text" name="用途" class="form-control">

                </div>

                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">옷 유형:</span>
                    <input type="text" name="版型" class="form-control">
                    <span class="input-group-addon">재질:</span>
                    <input type="text" name="材质" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">런칭시간:</span>
                    <input type="text" name="上市时间" class="form-control" class="datepicker" data-date-format="yyyy-mm-dd"
                           data-provide="datepicker">
                    <span class="input-group-addon">안감재질:</span>
                    <input type="text" name="里料分类" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">

                    <span class="input-group-addon">도안:</span>
                    <input type="text" name="图案" class="form-control">
                    <span class="input-group-addon">적용연령대:</span>
                    <input type="text" name="适用年龄" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">

                    <span class="input-group-addon">전체 중량:</span>
                    <input type="text" name="毛重" class="form-control">
                    <span class="input-group-addon">실중량:</span>
                    <input type="text" name="净重" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">단위:</span>
                    <input type="text" name="商品单位" class="form-control">
                    <span class="input-group-addon">두께:</span>
                    <input type="text" name="厚度" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">
                    <span class="input-group-addon">옷깃형태:</span>
                    <input type="text" name="领型" class="form-control">
                    <span class="input-group-addon">옷길이:</span>
                    <input type="text" name="衣长" class="form-control">


                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">

                    <span class="input-group-addon">소매유형:</span>
                    <input type="text" name="袖型" class="form-control">
                    <span class="input-group-addon">Clothing placket:</span>
                    <input type="text" name="衣门襟" class="form-control">

                </div>
                <div class="col-md-9 input-group" style="padding-top: 20px">

                    <span class="input-group-addon">사이즈:</span>
                    <input type="text" name="尺码" class="form-control">
                    <span class="input-group-addon">적용범위:</span>
                    <input type="text" name="适用类型" class="form-control">

                </div>

                <div class="col-md-9 input-group" style="padding-top: 20px">

                    <span class="input-group-addon">스타일:</span>
                    <input type="text" name="风格" class="form-control">
                    <span class="input-group-addon">유행요소:</span>
                    <input type="text" name="流行元素" class="form-control">

                </div>

                <div class="col-md-4 col-md-offset-2" style="margin-top:20px;margin-bottom:20px">
                    <input type="hidden" value="fs" name="p_type"/>
                    <input type="submit" class="btn btn-primary btn-block" value="Submit"/>
                </div>
            </form>
        </div>

    </div>
</div>
}

@layout(lang=lang,title="supply", user=user)(scripts) {

@body

}
