@import play.i18n._
@(lang:String,user:domain.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/jquery-ui.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/screenshot.css">
<link rel="stylesheet" href="/assets/css/upload.css">
<link rel="stylesheet" href="/assets/css/button.css">
<link rel="stylesheet" href="/assets/css/font-face.css">
<link rel="stylesheet" href="/assets/css/search.css">
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">

<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/Math.uuid.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>
}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"nav.supply.menu2")

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.supply")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"nav.supply.menu2")</span>
    </div>
</div>
<div class="wrap-slider">
    <!--<div class="page-title">-->
        <!--<span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"nav.supply.menu2")</span>-->
    <!--</div>-->
    <div class="row order-admin">
        <div class="col-sm-1 order-option">
            <div class="currect">选项1</div>
            <div>选项2</div>
            <div>选项3</div>
        </div>
        <div class="col-sm-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td colspan="3">table1</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>table1a</th>
                    <th>table1b</th>
                    <th>table1c</th>
                </tr>
                <tr>
                    <td>table1a</td>
                    <td>table1b</td>
                    <td>table1c</td>
                </tr>
                <tr>
                    <td>table1a</td>
                    <td>table1b</td>
                    <td>table1c</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped" style="display: none">
                <thead>
                <tr>
                    <td colspan="3">table2</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>table2a</th>
                    <th>table2b</th>
                    <th>table2c</th>
                </tr>
                <tr>
                    <td>table1a</td>
                    <td>table1b</td>
                    <td>table1c</td>
                </tr>
                <tr>
                    <td>table1a</td>
                    <td>table1b</td>
                    <td>table1c</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped" style="display: none">
                <thead>
                <tr>
                    <td colspan="3">table3</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>table3a</th>
                    <th>table3b</th>
                    <th>table3c</th>
                </tr>
                <tr>
                    <td>table1a</td>
                    <td>table1b</td>
                    <td>table1c</td>
                </tr>
                <tr>
                    <td>table1a</td>
                    <td>table1b</td>
                    <td>table1c</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}

