@import play.i18n._
@(lang:String="cn",pageSize:Integer,countNum:Integer,pageCount:Integer,orList:List[Array[Object]],user:entity.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<script src="/assets/js/search.js"></script>

<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>
<!-- 此为调用分页所提供的函数名前缀 -->
<script>window.search_args = 'orderlist'</script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"订单查询")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">订单管理</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu4")</span>
    </div>
</div>
<div class="content-1">
    <div class="page-title">
        <span class="title-name">订单查询</span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">

            <label class="col-sm-offset-2 col-sm-1 control-label">订单ID</label>
            <div class="col-sm-3">
                <input id="order-form-id" type="number" min="10000" max="99999999" class="form-control"/>
            </div>
            <label class="col-sm-1 control-label">订单状态</label>
            <div class="col-sm-3">
                <select id="order-form-status" class="form-control">
                    <option value=""></option>
                    <option value="I">未支付</option>
                    <option value="S">成功</option>
                    <option value="C">取消</option>
                    <option value="F">失败</option>
                    <option value="R">已收货</option>
                    <option value="D">已发货</option>
                    <option value="J">拒收</option>
                    <option value="N">已删除</option>
                    <option value="T">已退款</option>
                    <option value="PI">拼购未支付</option>
                    <option value="PS">拼购成功</option>
                    <option value="PF">拼团失败未退款</option>
                    <option value="TO">订单已超时</option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class=" col-sm-offset-2 col-sm-1 control-label">用户ID</label>
            <div class="col-sm-3">
                <input  id="order-form-userid" type="number" min="10000" max="99999999" class="form-control"/>
            </div>
            <label class="col-sm-1 control-label">手机号码</label>
            <div class="col-sm-3">
                <input  id="user_phone_num" type="number" min="10000" max="99999999" class="form-control"/>
            </div>
        </div>

        <div class="btn-s">
            <input type="reset" class="btn btn-primary btn-s-2" value='@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.reset.bt")'/>
            <a id="topic-search-bt" href="javascript:void(0)" class="btn btn-primary btn-s-2">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.search.bt")</a>
            <a id="order-export" href="javascript:void(0)" class="btn btn-primary btn-s-2">推送ERP</a>
        </div>
    </form>
    <div class="table-content">

        <table id="tb-topic" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th><input type="checkbox" name="selAll">全选</th>
                <th>订单ID</th>
                <th>订单类型</th>
                <th>拼购团ID</th>
                <th>用户ID</th>
                <th>手机号码</th>
                <th>创建时间</th>
                <th>订单总价(元)</th>
                <th>支付渠道</th>
                <th>订单状态</th>
                <!--<th>操作</th>-->
            </tr>
            </thead>
            <tbody>
            @for(order <- orList){
            <tr class = "tb-list-data">
                <td><input type="checkbox" name="selectOrder"></td>
                <td><a href="/@lang/comm/order/detail/@order(0)">@order(0)</a></td>
                <td>@order(7)</td>
                <td><a href="/@lang/pin/activity/geActivityById/@order(8)">@order(8)</a></td>
                <td>@order(1)</td>
                <td>@order(6)</td>
                <td>@if(order(2)!=null){@(order(2).toString().substring(0,16))}</td>
                <td>@order(3)</td>
                <td>@order(4)</td>
                <td>
                    <input type="hidden" value="@order(9)">
                    @order(5)
                </td>
                <!--<td>@if(order(5) == "订单已超时"){<a href="/@lang/comm/order/detail/@order(0)">取消订单</a>}</td>-->
            </tr>
            }
            <!---公用模块,id不能改变,只需要改变合并行数-->
            <tr id="nodata-td" style="display:none;"><td colspan="10">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.nodata")</td></tr>
            </tbody>
        </table>
        <!-- 公用分页模块,直接拷贝,传入相应的字段即可-->
        <span class="page-toolbar-title">@Messages.get(new Lang(Lang.forCode(lang)), "themes.search.table.page.toolbar", countNum, pageSize, pageCount)</span>
        <div class="paging">
            <ul class="pagination">
                <li class="prev disabled"><a href="javascript:void(0)">&laquo;</a></li>
                <li class="page-num page-first active"><a href="javascript:void(0)">1</a></li>
                @for(count <- 1 until pageCount){
                <li class="page-num"><a href="javascript:void(0)">@(count+1)</a></li>
                }
                <li class="next"><a href="javascript:void(0)">&raquo;</a></li>
            </ul>
        </div>
        <!-- 公用模块,直接拷贝-->
    </div>
</div>
<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
}


<script>

    /** 全选/取消全选 **/
    $("input[name='selAll']").click(function(){
        $("input[name='selectOrder']").prop('checked',$(this).prop("checked"));
    });

    /** 导出订单 **/
    $("#order-export").click(function(){
        var reg = new RegExp(/^[0-9]\d+$/); //数字验证
        var isPost = true;
        if($("input[name='selectOrder']:checked").length <= 0){
            isPost = false;
            alert("请选择订单");
            return false;
        }
        if(window.confirm("确定推送到ERP吗?")){
        } else{
            isPost = false;
            return false;
        }
        //被选择订单的ID
        var exportOrders = [];
        var errOrders = "";
        $("input[name='selectOrder']:checked").each(function(){
            var orderId = $(this).parents("tr").find("td:eq(1)").find("a:eq(0)").text();
            var state = $(this).parents("tr").find("td:eq(9)").find("input:eq(0)").val();
            if (state!="S" && state!="PS") {
                isPost = false;
                errOrders = errOrders + orderId + ",";
            } else exportOrders.push(orderId);
        });
        if (!isPost) {
            errOrders = errOrders.substring(1, errOrders.length-1);
            alert("请检查订单: "+errOrders+" 的状态");
        }
        console.log(JSON.stringify(exportOrders));
        if(isPost){
            var orResult = true;
            $.ajax({
                type :  "POST",
                url : "/shopOrder/push",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(exportOrders),
                error : function(request) {
                    alert("推送失败");
                },
                success: function(data) {
                    console.log(data);
                    for(var i=0;i<$.parseJSON(data).length;i++) {
                        var ShopOrderNo = $.parseJSON(data)[i].ShopOrderNo;
                        var ErrorCode = $(this).ErrorCode;
                        if (!reg.test(ShopOrderNo)) {
                            orResult = false;
                        }
                    }
                   if (orResult) {
                        alert("推送成功");
                    }
                    else {
                        alert("推送异常");
                    }
                    window.location.href = "/"+window.lang+"/comm/order/search ";
                }
            });
        }
    });

</script>