@import play.i18n._
@(lang:String="cn",refundTemp:domain.RefundTemp,order:domain.order.Order,orderLineList:List[Array[Object]],userInfo:domain.ID,orderShip:domain.order.OrderShip,url:String,refundParams:java.util.Map[String,String],user:domain.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/carr.css">
<script>
    $(function(){
        var state = "@refundTemp.getState()";
        var payMethod = "@order.getPayMethod()";
        console.log(state);
        //非申请中状态
        if(state != "I"){
            $(".usercenter-option").css("display","none")
            $(".response").attr("disabled","true");
            if(state == "A" || state == "R"){
                $(".response").val(state);
            }
            //拒绝退款
            if(state == "R"){
                $(".refuse-reason").css("display","block");
                //拒绝理由
                $("#reason-content").attr("disabled",true);
                $("#reason-content").val("@refundTemp.getRejectReason()");
            }
            //同意退款
            if(state == "A"){
                //退款金额
                $(".refund-amount").css("display","block");
                $("#refund-amount").attr("disabled",true);
                $("#refund-amount").val("@refundTemp.getPayBackFee()");
            }
            //退款失败
            if(state == "N"){
                $(".usercenter-option").css("display","block");
                $(".response").val("A");
                //$(".response").attr("disabled",false);
                $("#js-usercenter-submit").text("再次提交");
                //退款金额
                $(".refund-amount").css("display","block");
                $("#refund-amount").attr("disabled",true);
                $("#refund-amount").val("@refundTemp.getPayBackFee()");
            }
            //退款成功
            if(state == "Y"){
               $(".response").val("A");
               //退款金额
               $(".refund-amount").css("display","block");
               $("#refund-amount").attr("disabled",true);
               $("#refund-amount").val("@refundTemp.getPayBackFee()");
            }
        }
        //返回列表
        $(document).on("click","#js-usercenter-back",function(){
            setTimeout("location.href='/"+window.lang+"/comm/order/refundTempList'", 300);
        })

        $(document).on("change",".response",function(){
           var response =  $(".response option:selected").val();
           if(response === "R"){
                $(".refuse-reason").css("display","block");
                $(".refund-amount").css("display","none");
           }else if(response === "A"){
                $(".refuse-reason").css("display","none");
                $(".refund-amount").css("display","block");
           }else if(response === ""){
                $(".refuse-reason").css("display","none");
                $(".refund-amount").css("display","none");
           }

           $('.usercenter-option > .user-state').css('background-position', '20px -73px');
		   $('.usercenter-option > .user-state').text('已更改');
        })

        $(document).on("click","#js-usercenter-submit",function(){
            var isPost = true;
            var positive_float = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;       //金钱校验

            if($(".response option:selected").val() == "" || $(".response option:selected").val() == null){
                isPost = false;
                $('#js-userinfo-error').text('请选择处理结果!').css('color', '#2fa900');
			    setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
			    return false;
            }
            if($(".response option:selected").val() == 'R' && $("#reason-content").val() == ''){
                isPost = false;
                $('#js-userinfo-error').text('请填入拒绝退款理由!').css('color', '#2fa900');
			    setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
			    return false;
            }
            if($(".response option:selected").val() == 'A' && $("#refund-amount").val() == ''){
                isPost = false;
                $('#js-userinfo-error').text('请填入退款金额!').css('color', '#2fa900');
			    setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
			    return false;
            }
            if($(".response option:selected").val() == 'A' && parseFloat($("#refund-amount").val()) > parseFloat($("#apply-money").val())){
                isPost = false;
                $('#js-userinfo-error').text('退款金额须小于支付总金额!').css('color', '#2fa900');
			    setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
			    return false;
            }
            if($(".response option:selected").val() == 'A' && !positive_float.test(parseFloat($("#refund-amount").val()))){
                isPost = false;
                $('#js-userinfo-error').text('退款金额须为数字!').css('color', '#2fa900');
			    setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
			    return false;
            }

            var object = {};
            var refundId = $("#refundTemp-id").val();
            var response =  $(".response option:selected").val();
            var reasonContent = $("#reason-content").val();
            var payBackFee = $("#refund-amount").val();

            object.refundId = refundId;
            object.response = response;
            object.reasonContent = reasonContent;
            object.payBackFee = payBackFee;

            console.log(object);
            if(isPost){
                 if(payMethod == "支付宝" && $(".response option:selected").val() == "A"){
                        $("#refundForm").submit();
                 }else{
                        $.ajax({
                            type :  "POST",
                            url : "/comm/order/refundTemp/deal",
                            contentType: "application/json; charset=utf-8",
                            data : JSON.stringify(object),
                            error : function(request) {
                                alert("操作失败!");
                            },
                            success: function(data) {
                                console.log(data);
                                alert("处理成功!");
                                setTimeout("location.href='/"+window.lang+"/comm/order/refundTemp/detail/"+ refundId +"'", 3000);
                            }
                        });
                 }
            }
        })

    })
</script>

}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"退款详情")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">订单管理</span>
        <span class="icon-path">&gt;</span>
        <span>退款详情</span>
    </div>
</div>
<div class="content-1">
    <div class="page-title">
        <span class="title-name">退款详情</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="js-usercenter-submit" class="btn-blue btn-form fr ml15">提交
        </div>
        <div id="js-usercenter-back" class="btn-blue btn-form fr ml15">返回
        </div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>

    <div class="row">
        <form class="form-horizontal">
            <h4 class="h4-custom-hmm">处理结果</h4>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>退款申请ID:</span>
                    <input type="text" id="refundTemp-id" style="margin-left: 15px" value="@refundTemp.getId()" disabled>
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px">
                <label class="col-sm-1 control-label" style="text-align: left;margin-left: 80px">处理结果:</label>
                <div class="col-sm-3">
                    <select class="form-control response">
                        <option value="">请选择</option>
                        <option value="A">同意退款</option>
                        <option value="R">拒绝退款</option>

                    </select>
                </div>
            </div>
            <div class="form-group refuse-reason" style="margin-top: 10px;display:none">
                <label class="col-sm-1 control-label" style="text-align: left;margin-left: 80px">拒绝理由:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="" id="reason-content" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="form-group refund-amount" style="margin-top: 10px;display:none">
                <label class="col-sm-1 control-label" style="text-align: left;margin-left: 80px">退款金额:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="" id="refund-amount" style="margin-left: 0;width: 100%">
                </div>
            </div>



            <hr/>
            <h4 class="h4-custom-hmm">退款信息</h4>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>用户ID:</span>
                    <input type="text" value="@refundTemp.getUserId()" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>手机号:</span>
                    @if(userInfo != null){
                        <input type="text" value="@userInfo.getPhoneNum()" disabled>
                    }else{
                    <input type="text" value="" disabled>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>支付流水号:</span>
                    <input type="text" value="@order.getPgTradeNo()" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>退款金额:</span>
                    <input type="text" id="apply-money" value="@refundTemp.getPayBackFee()" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>退款理由:</span>
                    <input type="text" value="@refundTemp.getReason()" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>退款状态:</span>
                    @if(refundTemp.getState() == "I"){
                        <input type="text" value="申请中" disabled>
                    }
                    @if(refundTemp.getState() == "A"){
                    <input type="text" value="同意退款" disabled>
                    }
                    @if(refundTemp.getState() == "R"){
                    <input type="text" value="拒绝退款" disabled>
                    }
                    @if(refundTemp.getState() == "Y"){
                    <input type="text" value="退款成功" disabled>
                    }
                    @if(refundTemp.getState() == "N"){
                    <input type="text" value="退款失败" disabled>
                    }

                </div>
            </div>
            @if(refundTemp.getState() == "Y" || refundTemp.getState() == "N"){
                <div class="form-group">
                    <div class="col-sm-6">
                        <span>支付公司交易号:</span>
                        <input type="text" value="@refundTemp.getPgTradeNo()" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <span>支付公司返回码:</span>
                        <input type="text" value="@refundTemp.getPgCode()" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <span>支付公司返回信息:</span>
                        <input type="text" value="@refundTemp.getPgMessage()" disabled>
                    </div>
                </div>
            }
            <hr/>
            <h4 class="h4-custom-hmm">订单信息</h4>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>订单编号:</span>
                    <input type="text"  value="@refundTemp.getOrderId()" disabled>
                </div>
                <div class="col-sm-6">
                    <span>收货人姓名:</span>
                    <input type="text" value="@orderShip.getDeliveryName()" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <span>支付总金额:</span>
                    <input type="text" value="@order.getPayTotal()" disabled>
                </div>
                <div class="col-sm-6">
                    <span>收货人电话:</span>
                    <input type="text" value="@orderShip.getDeliveryTel()" disabled>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <span>支付方式:</span>
                    <input type="text" value="@order.getPayMethod()" disabled>
                </div>
                <div class="col-sm-6">
                    <span>收货城市:</span>
                    <input type="text" value="@orderShip.getDeliveryCity()" disabled>
                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <span>支付状态:</span>
                    <input type="text" value="@order.getOrderStatus()" disabled>
                </div>
                <div class="col-sm-6">
                    <span>详细收货地址:</span>
                    <input type="text" value="@orderShip.getDeliveryAddress()" disabled>
                </div>
            </div>

            <div class="col-sm-11" style="padding-left: 80px;margin-top: 30px;padding-bottom: 30px">
                <h5>商品明细:</h5>
                <table class="table table-bordered">
                    <tr>
                        <td>商品</td>
                        <td>单价(元)</td>
                        <td>数量</td>
                        <td>优惠(元)</td>
                        <td>总价(元)</td>
                    </tr>
                    @for(orderLine <- orderLineList){
                        <tr>
                            <td>
                                <img src="@url@orderLine(1)" alt="" width="50" height="50">
                                <em>@orderLine(0)&nbsp;@orderLine(2)&nbsp;@orderLine(3)</em>
                            </td>
                            <td> @orderLine(4)</td>
                            <td>@orderLine(5)</td>
                            <td>@orderLine(6)</td>
                            <td>@orderLine(7)</td>
                        </tr>
                    }
                </table>
            </div>
        </form>

    </div>
    <div style="display:none;">
        <form id="refundForm" action="https://mapi.alipay.com/gateway.do" method="POST">
            @for((k,v) <- refundParams) {
            <input type="hidden" name="@k" value="@v"/>
            }
        </form>
    </div>
</div>

<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-span="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
}
