@import play.i18n._
@(lang:String="cn", userTypeList:Map[String,String], user:entity.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/slider.css">
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<style type="text/css">
    .control-label{
    font-weight: 500;
    }
</style>
}

@import java.lang.String; var title="新增用户"

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="mbread" style="width:65%">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.users.menu1")</span>
        <span class="icon-path">&gt;</span>
        <span>新增用户</span>
    </div>
</div>

<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">新增用户</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="submit" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="upinfo">
                <div class="form-group">
                    <label class="col-sm-1 control-label" >用户名</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="enNm" name="enNm"><div style="margin-left:250px;width:200px;margin-top:-25px;">(示例:aaa.aa)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >中文名称</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="chNm" name="chNm">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >邮箱</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="email" name="email"><div style="margin-left:250px;width:200px;margin-top:-25px;">@@kakaocorp.com</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >角色</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="userType" name="userType">
                            @if(user.userType.get=="SYSTEM") {
                                @for(utl <- userTypeList) {
                                @if("ROOT"!=utl.toString.substring(1,utl.toString.length-1).split(",")(0) && "SYSTEM"!=utl.toString.substring(1,utl.toString.length-1).split(",")(0)) {
                                <option value='@utl.toString.substring(1,utl.toString.length-1).split(",")(0)'>@utl.toString.substring(1,utl.toString.length-1).split(",")(1)</option>
                                }
                                }
                            }
                            @if(user.userType.get=="ROOT") {
                                @for(utl <- userTypeList) {
                                @if("ROOT"!=utl.toString.substring(1,utl.toString.length-1).split(",")(0)) {
                                <option value='@utl.toString.substring(1,utl.toString.length-1).split(",")(0)'>@utl.toString.substring(1,utl.toString.length-1).split(",")(1)</option>
                                }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
}

<script>
    /** 数据提交 **/
    $("#submit").click(function(){
        var isPost = true;
        var adminUser = new Object();
        var enNm = $("#enNm").val();
        var chNm = $("#chNm").val();
        var email = $("#email").val();
        var userType = $("#userType").val();
        if (enNm=="" || enNm=="") {
            isPost = false;
            alert("信息填写不正确!");
        }
        adminUser.enNm = enNm;
        adminUser.chNm = chNm;
        adminUser.email = email;
        adminUser.userType = userType;

        if (isPost) {
            $.ajax({
                type :  "POST",
                url : "/aduser/save",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(adminUser),
                error : function(request) {
                    if (window.lang = 'cn') {
                        $('#js-userinfo-error').text('保存失败');
                    } else {
                        $('#js-userinfo-error').text('Save error');
                    }
                    setTimeout("$('#js-userinfo-error').text('')", 2000);
                },
                success: function(data) {
                    if (data=="该用户已注册!") {
                        alert(data);
                    }
                    else {
                        $('.usercenter-option > .user-state').css('background-position', '20px -174px');
                        if (window.lang = 'cn') {
                            $('#js-userinfo-error').text('保存成功').css('color', '#2fa900');
                            $('.usercenter-option > .user-state').text('未更改');
                        } else {
                            $('#js-userinfo-error').text('Save success');
                            $('.usercenter-option > .user-state').text('Unchanged');
                        }
                        setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
                        setTimeout("location.href='/"+window.lang+"/aduser/add'", 1000);
                    }
                }
            });
        }

    });

</script>