@import play.i18n._
@(lang:String="cn", adminUserList:List[entity.AdminUser], user:entity.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
}

@import java.lang.String; var title="用户管理"

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">用户管理</span>
        <span class="icon-path">&gt;</span>
        <span>用户查询</span>
    </div>
</div>
<div class="content-1">
    <div class="page-title">
        <span class="title-name">用户管理</span>
    </div>
    <div class="table-content">
        <table id="tb-adu" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>用户ID</th>
                <th>用户名</th>
                <th>用户类型</th>
                <th>中文名称</th>
                <th>邮箱</th>
                <th>是否激活</th>
                <th>用户状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            @for(au <- adminUserList){
            @if(au.getUserType()!="ROOT"){
            <tr class = "tb-list-data">
                <td><a href="/@lang/aduser/info">@au.getUserId()</a></td>
                <td>@au.getEnNm()</td>
                <td>
                    @if(au.getUserType()=="OPERATE"){运营人员}
                    @if(au.getUserType()=="FINANCE"){财务人员}
                    @if(au.getUserType()=="SERVICE"){客服人员}
                    @if(au.getUserType()=="ADMIN"){管理人员}
                    @if(au.getUserType()=="SYSTEM"){系统管理员}
                    @if(au.getUserType()=="SADMIN"){供应商子系统管理员}
                    @if(au.getUserType()=="SUPPLIER"){供应商人员}
                    @if(au.getUserType()=="TRANSLATION"){翻译人员}
                    @if(au.getUserType()=="AUDIT"){审计人员}
                </td>
                <td>@au.getChNm()</a></td>
                <td>@au.getEmail()</td>
                <td>
                    @if(au.getActiveYN()=="Y"){激活}
                    @if(au.getActiveYN()=="N"){未激活}
                </td>
                <td>@if(au.getStatus()=="Y"){正常}
                    @if(au.getStatus()=="N"){阻止}
                </td>
                <td><a style="cursor:pointer;" class="del-user">删除</a><input type="hidden" value="@au.getUserId()"></td>
            </tr>
            }
            }
            </tbody>
        </table>
    </div>
</div>
}

<script>
    $(document).on('click','.del-user',function(){
        if (window.confirm("确定删除吗?")) {
            var userId = $(this).next().val();
            $.ajax({
                type :  "GET",
                url : "/aduser/del/"+userId,
                contentType: "application/json; charset=utf-8",
                error : function(request) {
                    alert("删除失败!");
                },
                success: function(data) {
                    if(data=="删除成功") {
                        alert(data);
                        //用户删除, 成功后返回到用户查询页面
                        setTimeout("location.href='/"+window.lang+"/aduser/search'", 100);
                    } else alert("删除失败!");

                }
            });
        }
    });
</script>