@import play.i18n._
@(adminUser:domain.AdminUser, lang:String="cn", userTypeList:Map[String,String], user:domain.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/slider.css">
<script src="/assets/js/bootstrap.min.js"></script>
}

@import java.lang.String; var title="用户信息"

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">用户管理</span>
        <span class="icon-path">&gt;</span>
        <span>用户信息</span>
    </div>
</div>

<div class="wrap-slider">
    <div class="page-title">
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="submit" class="btn-blue btn-form fr ml15">修改</div>
        <div id="return" class="btn-white btn-form fr ml20">返回</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="upinfo">
                <div class="form-group">
                    <label class="col-sm-1 control-label" >用户名</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="enNm" name="enNm" value="@adminUser.getEnNm()" style="border:0px;" readonly >
                        <input type="hidden" class="form-control" id="userId" name="userId" value="@adminUser.getUserId()" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >中文名称</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="chNm" name="chNm" value="@adminUser.getChNm()" style="border:0px;" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >邮箱</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="email" name="email" value="@adminUser.getEmail()" style="border:0px;" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >角色</label>
                    <div class="col-sm-3">
                        @if(user.userType.get=="SYSTEM") {
                            @for(utl <- userTypeList) {
                                @if("ROOT"!=utl.toString.substring(1,utl.toString.length-1).split(",")(0) && "SYSTEM"!=utl.toString.substring(1,utl.toString.length-1).split(",")(0)) {
                                    @if(adminUser.getUserType().contains(utl.toString.substring(1,utl.toString.length-1).split(",")(0))) {
                                    <input type="checkbox" class="form-data-area" name="userType" value='@utl.toString.substring(1,utl.toString.length-1).split(",")(0)' checked="checked">@utl.toString.substring(1,utl.toString.length-1).split(",")(1)
                                    }
                                    @if(!(adminUser.getUserType().contains(utl.toString.substring(1,utl.toString.length-1).split(",")(0)))) {
                                    <input type="checkbox" class="form-data-area" name="userType" value='@utl.toString.substring(1,utl.toString.length-1).split(",")(0)'>@utl.toString.substring(1,utl.toString.length-1).split(",")(1)
                                    }
                                }
                            }
                        }
                        @if(user.userType.get=="ROOT") {
                            @for(utl <- userTypeList) {
                                @if("ROOT"!=utl.toString.substring(1,utl.toString.length-1).split(",")(0)) {
                                    @if(adminUser.getUserType().contains(utl.toString.substring(1,utl.toString.length-1).split(",")(0))) {
                                    <input type="checkbox" class="form-data-area" name="userType" value='@utl.toString.substring(1,utl.toString.length-1).split(",")(0)' checked="checked">@utl.toString.substring(1,utl.toString.length-1).split(",")(1)
                                    }
                                    @if(!(adminUser.getUserType().contains(utl.toString.substring(1,utl.toString.length-1).split(",")(0)))) {
                                    <input type="checkbox" class="form-data-area" name="userType" value='@utl.toString.substring(1,utl.toString.length-1).split(",")(0)'>@utl.toString.substring(1,utl.toString.length-1).split(",")(1)
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
}

<script>

    /** 数据改变的提示 **/
    $(document).on('change', '.form-data-area', function() {
		$('.usercenter-option > .user-state').css('background-position', '20px -73px');
		$('.usercenter-option > .user-state').text('已更改');
	});

    /** 数据提交 **/
    $("#submit").click(function(){
        var isPost = true;
        var adminUser = new Object();
        var enNm = $("#enNm").val();
        var chNm = $("#chNm").val();
        var email = $("#email").val();
        var userId = $("#userId").val();
        var userType = "";
        $("input[name='userType']:checkbox").each(function(){
            if(this.checked){
                userType += $(this).val()+","
            }
        });
        userType = userType.substring(0,userType.length-1);
        if (userType=="") {
            isPost = false;
            $('#js-userinfo-error').text('请选择用户类型');
        } else {
            $('#js-userinfo-error').text('');
        }
        adminUser.enNm = enNm;
        adminUser.chNm = chNm;
        adminUser.email = email;
        adminUser.userType = userType;
        adminUser.userId = userId;
        console.log(adminUser);

        if (isPost) {
            $.ajax({
                type :  "POST",
                url : "/aduser/update",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(adminUser),
                error : function(request) {
                    if (window.lang = 'cn') {
                        $('#js-userinfo-error').text('保存失败');
                    } else {
                        $('#js-userinfo-error').text('Save error');
                    }
                    setTimeout("$('#js-userinfo-error').text('')", 2000);
                },
                success: function(data) {
                    if (data=="修改失败") {
                        alert(data);
                    }
                    if (data=="修改成功") {
                        $('.usercenter-option > .user-state').css('background-position', '20px -174px');
                        if (window.lang = 'cn') {
                            $('#js-userinfo-error').text('保存成功').css('color', '#2fa900');
                            $('.usercenter-option > .user-state').text('未更改');
                        } else {
                            $('#js-userinfo-error').text('Save success');
                            $('.usercenter-option > .user-state').text('Unchanged');
                        }
                        setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
                        setTimeout("location.href='/"+window.lang+"/aduser/search'", 1000);
                    }
                }
            });
        }
    });


    /** 点击返回按钮,返回到列表查询页面 **/
	$("#return").on("click", function() {
	    location.href="/"+window.lang+"/aduser/search";
	});

</script>