@import play.i18n._
@(lang:String="cn",user:domain.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/slider.css">
<!--<script src="/assets/js/jquery.min.js"></script>-->
<script src="/assets/js/bootstrap.min.js"></script>
<style type="text/css">
    .control-label{
    font-weight: 500;
    }
</style>
}

@import java.lang.String; var title="密码修改"

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="mbread" style="width:65%">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">个人中心</span>
        <span class="icon-path">&gt;</span>
        <span>密码修改</span>
    </div>
</div>

<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">密码修改</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="submit" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error3" class="mt20 alt fr"></span>
        <span id="js-userinfo-error2" class="mt20 alt fr"></span>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="upinfo">
                <div class="form-group">
                    <label class="col-sm-1 control-label" >密码</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control form-data-area" id="passwd" name="passwd">
                        <input type="hidden" class="form-control" id="enNm" name="enNm" value="@user.enNm" >
                        <input type="hidden" class="form-control" id="userId" name="userId" value="@user.userId" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >新密码</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control form-data-area" id="new_pwd" name="new_pwd"><div style="margin-left:250px;width:200px;margin-top:-25px;">至少需要 8 个字符</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >确认</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control form-data-area" id="re_pwd" name="re_pwd">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
}

<script>

    /** 数据改变的提示 **/
    $(document).on('change', '.form-data-area', function() {
		$('.usercenter-option > .user-state').css('background-position', '20px -73px');
		$('.usercenter-option > .user-state').text('已更改');
	});

    /** 数据提交 修改密码 **/
    $("#submit").click(function(){
        var isPost = true;
        var adminUser = new Object();
        var userId = $("#userId").val();
        var enNm = $("#enNm").val();
        var passwd = $("#passwd").val();
        var newPwd = $("#new_pwd").val();
        var rePwd = $("#re_pwd").val();
        if (passwd=="") {
            isPost = false;
            $('#js-userinfo-error').text("请输入密码");
        }
        else $('#js-userinfo-error').text("");
        if (newPwd.length<8) {
            isPost = false;
            $('#js-userinfo-error2').text("密码过短");
        }
        else $('#js-userinfo-error2').text("");
        if (rePwd!=newPwd) {
            isPost = false;
            $('#js-userinfo-error3').text("密码与确认密码不一致");
        }
        else $('#js-userinfo-error3').text("");
        adminUser.userId = userId;
        adminUser.enNm = enNm;
        adminUser.passwd = passwd;
        var data = new Object();
        data.adminUser = adminUser;
        data.newPwd = newPwd;
        if (isPost) {
            $.ajax({
                type :  "POST",
                url : "/aduser/resetpwd",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data),
                error : function(request) {
                    if (window.lang = 'cn') {
                        $('#js-userinfo-error').text('保存失败');
                    } else {
                        $('#js-userinfo-error').text('Save error');
                    }
                    setTimeout("$('#js-userinfo-error').text('')", 2000);
                },
                success: function(data) {
                    if (data=="密码错误") {
                        alert(data);
                    }
                    if (data=="密码修改成功") {
                        $('.usercenter-option > .user-state').css('background-position', '20px -174px');
                        if (window.lang = 'cn') {
                            $('#js-userinfo-error').text('保存成功').css('color', '#2fa900');
                            $('.usercenter-option > .user-state').text('未更改');
                        } else {
                            $('#js-userinfo-error').text('Save success');
                            $('.usercenter-option > .user-state').text('Unchanged');
                        }
                        setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
                        setTimeout("location.href='/"+window.lang+"/aduser/info'", 1000);
                    }
                }
            });
        }
    });

</script>