@import play.i18n._
@(lang:String="cn",pageSize:Integer,countNum:Integer,pageCount:Integer,pinSkuList:List[Array[Object]],url:String,user:entity.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker1.css"/>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>
<script src="/assets/js/search.js"></script>
<script>window.url = "@url"</script>

<!-- 此为调用分页所提供的函数名前缀 -->
<script>window.search_args = 'pinlist'</script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"拼购查询")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span>拼购管理</span>
        <span class="icon-path">&gt;</span>
        <span>拼购查询</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">拼购查询</span>
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <!--主题id-->
            <label class="col-sm-2 control-label">活动ID:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="pin_id"/>
            </div>
            <!--主商品id-->
            <label class="col-sm-1 control-label">状态</label>
            <div class="col-sm-4">
                <select class="form-control" id="status">
                    <option value=""></option>
                    <option value="Y">正常</option>
                    <option value="D">下架</option>
                    <option value="N">删除</option>
                    <option value="K">售空</option>
                    <option value="P">预售</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <!--开始-->
            <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.condition3")</label>

            <div class="col-sm-4">
                <div id="datetimepicker-starttime" class="input-group date">
                    <input id = "topic-form-starttime" class="form-control col-sm-2"  type="text">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <!--结束-->
            <label class="col-sm-1 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.condition4")</label>
            <div class="col-sm-4">
                <div id="datetimepicker-endtime" class="input-group date">
                    <input id = "topic-form-endtime" class="form-control col-sm-2"  type="text">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>

        <div class="btn-s">
            <input type="reset" class="btn btn-primary btn-s-2" value='@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.reset.bt")'/>
            <a id="topic-search-bt" href="javascript:void(0)" class="btn btn-primary btn-s-2">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.search.bt")</a>
        </div>
    </form>
    <div class="table-content">
        <table id="tb-topic" class="table table-bordered table-hover">
            <thead>
            <th>活动ID</th>
            <th style="width:350px">商品标题</th>
            <th>拼购图片</th>
            <th>最低价格(元)</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>状态</th>
            <th>已开团数</th>
            <th>操作</th>
            </thead>
            <tbody>
            @for(pinSku <- pinSkuList){
            <tr class = "tb-list-data">
                <td>
                    <a href="/@lang/pin/getPinById/@pinSku(0)">@pinSku(0)</a>
                </td>
                <td>@pinSku(1)</td>
                <td>
                    <img class="main-img" src="@url@pinSku(6)" alt="" width="50">
                </td>
                <td>@pinSku(7)</td>
                <td>@(pinSku(2).toString().substring(0,16))</td>
                <td>@(pinSku(3).toString().substring(0,16))</td>
                <td>@pinSku(4)</td>
                <td><a href="/@lang/pin/activity/list/@pinSku(0)">@pinSku(5)</a></td>
                <td>
                    <a href="/@lang/pin/activityAdd/@pinSku(0)">手动开团</a>
                </td>
            </tr>
            }
            <!---公用模块,id不能改变,只需要改变合并行数-->
            <tr id="nodata-td" style="display:none;"><td colspan="6">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.nodata")</td></tr>
            </tbody>
        </table>
        <!-- 公用分页模块,直接拷贝,传入相应的字段即可-->
        <span class="page-toolbar-title">@Messages.get(new Lang(Lang.forCode(lang)), "themes.search.table.page.toolbar", countNum, pageSize, pageCount)</span>
        <div class="paging">
            <ul class="pagination">
                <li class="prev"><a href="javascript:void(0)">&laquo;</a></li>
                <li class="page-num page-first active"><a href="javascript:void(0)">1</a></li>
                @for(count <- 1 until pageCount){
                <li class="page-num"><a href="javascript:void(0)">@(count+1)</a></li>
                }
                <li class="next"><a href="javascript:void(0)">&raquo;</a></li>
            </ul>
        </div>
        <!-- 公用模块,直接拷贝-->

    </div>
</div>
<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}