@import play.i18n._
@(lang:String="cn",pinSku:entity.pingou.PinSku,pinActivityList:List[entity.pingou.PinActivity],user:entity.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link href="/assets/css/bootstrap-datetimepicker1.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/pinSku.css">
<!--<script src="/assets/js/jquery.min.js"></script>-->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/rili.js"></script>
<script src="/assets/js/pinSku.js"></script>
<script>
    $(function(){
    $("#status").val("@pinSku.getStatus()");
    })
</script>
}
@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"已开的团")

@layout(lang=lang,title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span>拼购管理</span>
        <span class="icon-path">&gt;</span>
        <span>已开的团</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">已开的团</span>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <h4 class="h4-custom-hmm">拼购信息</h4>
                <div class="form-group">
                    <label class="col-sm-2 control-label">拼购ID:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="pinId" value="@pinSku.getPinId()" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">开始时间:</label>
                    <div class="col-sm-8">
                        <div class="input-group" id='datetimepicker1'>
                            <input class="form-control col-sm-2"  type="text"  id="onShelvesAt" name="onShelvesAt" value="@pinSku.getStartAt()" disabled>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">结束时间:</label>
                    <div class="col-sm-8">
                        <div class="input-group date" id='datetimepicker2'>
                            <input class="form-control col-sm-2"  type="text"  id="offShelvesAt" name="offShelvesAt" value="@pinSku.getEndAt()" disabled>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <hr/>
                <h4 class="h4-custom-hmm">已开的团</h4>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <table class="table table-bordered pingou">
                            <tr>
                                <th>团ID</th>
                                <th>人数</th>
                                <th>价格(元)</th>
                                <th>已参团人数</th>
                                <th>发起时间</th>
                                <th>状态</th>
                            </tr>
                            @for(activity <- pinActivityList){
                            <tr>
                                <td><a href="/@lang/pin/activity/geActivityById/@activity.getPinActiveId()">@activity.getPinActiveId()</a></td>
                                <td>@activity.getPersonNum()</td>
                                <td>@activity.getPinPrice()</td>
                                <td>@activity.getJoinPersons()</td>
                                <td>@(activity.getCreateAt().toString().substring(0,19))</td>
                                <td>@activity.getStatus()</td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}