<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.AdminUserMapper">

    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <sql id="adminUserColumns">
        ${alias}.user_id,
        ${alias}.en_nm,
        ${alias}.ch_nm,
        ${alias}.user_type,
        ${alias}.email,
        ${alias}.passwd,
        ${alias}.reg_ip::text,
        ${alias}.reg_dt,
        ${alias}."active_YN",
        ${alias}.alter_dt,
        ${alias}.last_login_dt,
        ${alias}.last_login_ip::text,
        ${alias}.last_pwd_chg_dt,
        ${alias}.status
    </sql>

    <!-- 录入一条用户信息 -->
    <insert id="insertUser" parameterType="entity.AdminUser" useGeneratedKeys="true" keyColumn="user_id">
        insert into "ADMIN_USER"
        (en_nm,ch_nm,user_type,email,passwd,reg_ip,reg_dt,"active_YN",alter_dt,last_login_dt,last_login_ip,last_pwd_chg_dt,status)
        values
        (#{enNm},#{chNm},#{userType},#{email},user_passwd(currval('"ADMIN_USER_user_id_seq"'::regclass),#{passwd}),#{regIp}::cidr,CURRENT_TIMESTAMP(0),#{activeYN},CURRENT_TIMESTAMP(0),CURRENT_TIMESTAMP(0),#{lastLoginIp}::cidr,#{lastPwdChgDt},#{status})
    </insert>

    <!-- 修改一条用户信息 -->
    <update id="updateUser" parameterType="entity.AdminUser">
        update "ADMIN_USER"
        set
        ch_nm=#{chNm},user_type=#{userType},email=#{email},"active_YN"=#{activeYN},alter_dt=CURRENT_TIMESTAMP(0),last_login_dt=#{lastLoginDt},last_login_ip=#{lastLoginIp}::cidr,status=#{status}
        where user_id = #{userId}
    </update>

        <!-- 修改密码 -->
    <update id="chgPwd" parameterType="entity.AdminUser">
        update "ADMIN_USER"
        set
            passwd = user_passwd(user_id,#{passwd}),last_pwd_chg_dt = #{lastPwdChgDt}
        where user_id = #{userId}
    </update>


    <!-- 查询一条用户信息 -->
    <select id="getUserBy" resultType="entity.AdminUser" parameterType="entity.AdminUser">
        select
        user_id,en_nm,ch_nm,user_type,email,passwd,reg_ip,reg_dt,"active_YN",alter_dt,last_login_dt,last_login_ip,last_pwd_chg_dt,status
        from "ADMIN_USER" t where 1=1
        <if test="userId!=null and userId!=''">
            and t.user_id = #{userId}
        </if>
        <if test="email!=null and email!=''">
            and t.email = #{email}
        </if>
        <if test="enNm!=null and enNm!=''">
            and t.en_nm = #{enNm}
        </if>
        <if test="enNm!=null and enNm!='' and passwd!=null and passwd!=''">
            and t.en_nm = #{enNm} and t.passwd = user_passwd(user_id,#{passwd})
        </if>
    </select>

    <!-- 查询所有的用户信息 -->
    <select id="getAllUsers" resultType="entity.AdminUser">
        select
        <include refid="adminUserColumns">
            <property name="alias" value="t"/>
        </include>
        from "ADMIN_USER" t where 1=1
    </select>

    <!-- 由id删除一条用户信息 -->
    <delete id="delUserById" parameterType="java.lang.Long">
        delete from "ADMIN_USER" where user_id=#{id}
    </delete>

</mapper>
