<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CarriageMapper">

    <sql id="carriageColumns">
        ${alias}.id,
        ${alias}.model_code,
        ${alias}.model_name,
        ${alias}.first_num,
        ${alias}.first_fee,
        ${alias}.add_num,
        ${alias}.add_fee,
        ${alias}.city_code,
        ${alias}.delivery_code,
        ${alias}.delivery_name,
        ${alias}.store_area
    </sql>

    <!-- 录入一条运费信息 -->
    <insert id="insertCarriage" parameterType="domain.Carriage" useGeneratedKeys="true" keyProperty="id">
        insert into carriage
        (model_code,model_name,first_num,first_fee,add_num,add_fee,city_code,delivery_code,delivery_name,store_area)
        values
        (#{modelCode},#{modelName},#{firstNum},#{firstFee},#{addNum},#{addFee},#{cityCode},#{deliveryCode},#{deliveryName},#{storeArea})
    </insert>

    <!-- 由id删除一条运费信息 -->
    <delete id="delCarrById" parameterType="java.lang.Long">
        delete from carriage where id=#{id}
    </delete>

    <!-- 更新一条运费信息 -->
    <update id="updateCarriage" parameterType="domain.Carriage">
        update carriage
        set
        (model_code=#{modelCode},model_name=#{modelName},first_num=#{firstNum},first_fee=#{firstFee},add_num=#{addNum},add_fee=#{addFee},city_code=#{cityCode},delivery_code=#{deliveryCode},delivery_name=#{deliveryName},store_area=#{storeArea})
        where id = #{id}
    </update>

    <!-- 由modelCode获得运费模板名称 -->
    <select id="getModelName" resultType="java.lang.String" parameterType="java.lang.String">
        select DISTINCT model_name
        from carriage t where model_code = #{modelCode}
    </select>

    <!-- 获取所有的运费信息 -->
    <select id="getAllCarriage" resultType="domain.Carriage">
        select
        <include refid="carriageColumns">
            <property name="alias" value="t"/>
        </include>
        from carriage t where 1 =1
        ORDER BY id
    </select>

   <!-- 获取运费模板 -->
    <select id="getModels" resultType="domain.Carriage">
        select DISTINCT model_code, model_name FROM carriage
    </select>

    <!-- 由modelCode获取运费信息 -->
    <select id="getCarrsByModel" resultType="domain.Carriage" parameterType="java.lang.String">
        select
        <include refid="carriageColumns">
            <property name="alias" value="t"/>
        </include>
        from carriage t where model_code = #{modelCode}
    </select>

</mapper>
