<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CarriageMapper">

    <sql id="carriageColumns">
        ${alias}.id,
        ${alias}.model_code,
        ${alias}.model_name,
        ${alias}.first_num,
        ${alias}.first_fee,
        ${alias}.add_num,
        ${alias}.add_fee,
        ${alias}.city_code
    </sql>

    <insert id="insertCarriage" parameterType="entity.Carriage" useGeneratedKeys="true" keyProperty="id">
        insert into carriage
        (model_code,model_name,first_num,first_fee,add_num,add_fee,city_code)
        values
        (#{modelCode},#{modelName},#{firstNum},#{firstFee},#{addNum},#{addFee},#{cityCode})
    </insert>

    <update id="updateCarriage" parameterType="entity.Carriage">
        update carriage
        set
        (model_code=#{modelCode},model_name=#{modelName},first_num=#{firstNum},first_fee=#{firstFee},add_num=#{addNum},add_fee=#{addFee},city_code=#{cityCode})
        where id = #{id}
    </update>

    <select id="getCarriage" resultType="entity.Carriage" parameterType="java.lang.Long">
        select
        <include refid="carriageColumns">
            <property name="alias" value="t"/>
        </include>
        from carriage t where id = ${value}
    </select>

    <select id="getAllCarriage" resultType="entity.Carriage">
        select
        <include refid="carriageColumns">
            <property name="alias" value="t"/>
        </include>
        from carriage t where 1 =1
    </select>

    <select id="getModel" resultType="entity.Carriage">
        select DISTINCT model_code, model_name FROM carriage
    </select>


</mapper>
