<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="mapper.CategoryMapper">

        <sql id="categoryColumn">
            ${alias}.category_id,
            ${alias}.category_num,
            ${alias}.category_img,
            ${alias}.category_text,
            ${alias}.theme_id
        </sql>
    <select id="getAllCategory" resultType="domain.Category">
        select
        <include refid="categoryColumn">
            <property name="alias" value="t"/>
        </include>
        from category ORDER BY t.category_num ASC
    </select>

</mapper>