<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CouponsMapper">
    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <sql id="couponsColumns">
        ${alias}.coup_id,
        ${alias}.user_id,
        ${alias}.coup_cate_id,
        ${alias}.denomination,
        ${alias}.start_at,
        ${alias}.end_at,
        ${alias}.state,
        ${alias}.order_id,
        ${alias}.use_at,
        ${alias}.limit_quota,
        ${alias}.coup_cate_nm
    </sql>

    <!-- 录入一条优惠券信息 -->
    <insert id="insertCoupons" parameterType="domain.Coupons">
        insert into sp_coupons
        (coup_id,user_id,coup_cate_id,denomination,start_at,end_at,state,order_id,use_at,limit_quota,coup_cate_nm)
        values
        (#{coupId},#{userId},#{coupCateId},#{denomination},#{startAt}::timestamp,#{endAt}::timestamp,#{state},#{orderId},#{useAt},#{limitQuota},#{coupCateNm})
    </insert>

    <!-- 更新一条优惠券信息  Added by Sunny Wu 2016.04.05 -->
    <update id="updateCoupons" parameterType="domain.Coupons">
        update sp_coupons
        set
        user_id=#{userId},coup_cate_id=#{coupCateId},denomination=#{denomination},start_at=#{startAt}::timestamp,end_at=#{endAt}::timestamp,state=#{state},order_id=#{orderId},use_at=#{useAt},limit_quota=#{limitQuota},coup_cate_nm=#{coupCateNm}
        where coup_id = #{coupId}
    </update>

    <!-- 由coupId获取一条优惠券信息 -->
    <select id="getCoupons" resultType="domain.Coupons" parameterType="java.lang.String">
        select
        <include refid="couponsColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_coupons t where coup_id=#{value}
    </select>

    <!-- 由coupCateId获取该类别的优惠券信息 -->
    <select id="getCouponsByCateId" resultType="domain.Coupons" parameterType="java.lang.Long">
        select
        <include refid="couponsColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_coupons t where coup_id=#{value}
    </select>


    <!-- 获取所有已使用的优惠券信息 -->
    <select id="getAllUsedCoupons" resultType="domain.Coupons">
        select
        <include refid="couponsColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_coupons t where state='Y' and use_at NOTNULL ORDER BY t.use_at DESC
    </select>

    <!-- 分页获取所有已使用优惠券信息 -->
    <select id="getUsedCouponsPage" parameterType="domain.Coupons" resultType="domain.Coupons">
        select
        <include refid="couponsColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_coupons t where state='Y' and use_at NOTNULL
        <if test='coupId != null and coupId != "null" and coupId != "" '>
            and t.coup_id = #{coupId}
        </if>
        <if test='coupCateNm != null and coupCateNm != "null" and coupCateNm != "" '>
            and t.coup_cate_nm like '%${coupCateNm}%'
        </if>
        <if test='orderId != null and orderId != "" '>
            and t.order_id = #{orderId}
        </if>
        <if test='useStartAt != null'>
            and t.use_at &gt;= #{useStartAt} ::timestamp
        </if>
        <if test='useEndAt != null'>
            and t.use_at &lt;= #{useEndAt} ::timestamp
        </if>
        <if test="sort == null or sort == '' ">
            ORDER BY t.use_at DESC
        </if>
        <if test="sort != null">
            ORDER BY t.${sort}
            <if test="order != null">
                ${order}
            </if>
        </if>
        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>


    <!--优惠券类别-->
    <sql id="couponsCateColumns">
        ${alias}.coup_cate_id,
        ${alias}.coup_cate_nm,
        ${alias}.coupon_type,
        ${alias}.denomination,
        ${alias}.limit_quota,
        ${alias}.start_at,
        ${alias}.end_at
    </sql>

    <!-- 录入一条优惠券类别信息    Added by Sunny Wu 2016.08.18-->
    <insert id="insertCouponsCate" parameterType="domain.CouponsCate" useGeneratedKeys="true" keyColumn="coup_cate_id" keyProperty="coupCateId">
        insert into sp_coupons_cate
        (coup_cate_nm,coupon_type,denomination,limit_quota,start_at,end_at)
        values
        (#{coupCateNm},#{couponType},#{denomination},#{limitQuota},#{startAt}::timestamp,#{endAt}::timestamp)
    </insert>

    <!-- 更新一条优惠券类别信息    Added by Sunny Wu 2016.08.18 -->
    <update id="updateCouponsCate" parameterType="domain.CouponsCate">
        update sp_coupons_cate
        set
        coupon_type=#{couponType}
        <!--,coup_cate_nm=#{coupCateNm},denomination=#{denomination},limit_quota=#{limitQuota},start_at=#{startAt}::timestamp,end_at=#{endAt}::timestamp-->
        where coup_cate_id = #{coupCateId}
    </update>

    <!--由coupCateId查询一条优惠券类别信息      Added By Sunny Wu 2016.06.27-->
    <select id="getCouponsCate" resultType="domain.CouponsCate" parameterType="java.lang.Long">
        select
        <include refid="couponsCateColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_coupons_cate t where coup_cate_id=#{value}
    </select>

    <!-- 获取所有可后台发放的优惠券类别             Added By Sunny Wu 2016.06.27-->
    <select id="getSendCouponsCate" resultType="domain.CouponsCate">
        select
        <include refid="couponsCateColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_coupons_cate t where 1=1 and coupon_type=2  ORDER BY t.coup_cate_id
    </select>

    <!-- 获取所有的优惠券类别             Added By Sunny Wu 2016.08.19-->
    <select id="getAllCouponsCate" resultType="domain.CouponsCate">
        select
        <include refid="couponsCateColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_coupons_cate t where 1=1  ORDER BY t.coup_cate_id
    </select>

    <!--优惠券类别映射表        Added By Sunny Wu 2016.08.31-->
    <sql id="couponsMapColumns">
        ${alias}.id,
        ${alias}.coupon_cate_id,
        ${alias}.cate_type,
        ${alias}.cate_type_id,
        ${alias}.or_destroy
    </sql>

    <!-- 录入一条优惠券类别映射信息    Added by Sunny Wu 2016.08.31-->
    <insert id="insertCouponsMap" parameterType="domain.CouponsMap" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into sp_coupons_map
        (coupon_cate_id,cate_type,cate_type_id,or_destroy)
        values
        (#{couponCateId},#{cateType},#{cateTypeId},#{orDestroy})
    </insert>

    <!-- 更新一条优惠券类别映射信息    Added by Sunny Wu 2016.08.31-->
    <update id="updateCouponsMap" parameterType="domain.CouponsMap">
        update sp_coupons_map
        set
        coupon_cate_id=#{couponCateId},cate_type=#{cateType},cate_type_id=#{cateTypeId},or_destroy=#{orDestroy}
        where coup_cate_id = #{coupCateId}
    </update>

    <!-- 根据优惠券类别获取所有未删除的优惠券类别映射信息      Added By Sunny Wu 2016.08.31-->
    <select id="getCouponsMapByCateId" resultType="domain.CouponsMap" parameterType="java.lang.Long">
        select
        <include refid="couponsMapColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_coupons_map t where 1=1 and coupon_cate_id=#{value} and or_destroy = false;
    </select>

    <!--查询一条优惠券类别映射信息       Added By Sunny Wu 2016.09.01-->
    <!--<select id="getCouponsMap" resultType="domain.CouponsMap" parameterMap="domain.CouponsMap">-->
        <!--select-->
        <!--<include refid="couponsMapColumns">-->
            <!--<property name="alias" value="t"/>-->
        <!--</include>-->
        <!--from sp_coupons_map t where 1=1-->
        <!--<if test="couponCateId!=null">-->
            <!--and t.coupon_cate_id = #{couponCateId}-->
         <!--</if>-->
        <!--<if test="cateType!=null">-->
            <!--and t.cate_type = #{cateType}-->
         <!--</if>-->
        <!--<if test="cateTypeId!=null">-->
            <!--and t.cate_type_id = #{cateTypeId}-->
         <!--</if>-->
    <!--</select>-->


</mapper>
