<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CouponVoMapper">

    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <!--<cache type="util.cache.MemcachedCache"/>-->

    <sql id="couponColumns">
        ${alias}.coupon_number,
        ${alias}.used_place_code,
        ${alias}.used_place_name,
        ${alias}.brand_code,
        ${alias}.brand_name,
        ${alias}.maximum_expired_at,
        ${alias}.event,
        ${alias}.event_id,
        ${alias}.modified_at,
        ${alias}.id,
        ${alias}.coupon_name,
        ${alias}.code,
        ${alias}.status,
        ${alias}.standard_price,
        ${alias}.price,
        ${alias}.expired_at,
        ${alias}.issued_at,
        ${alias}.coupon_type
    </sql>

    <!-- 录入一条优惠券信息 -->
    <insert id="insertCoupon" parameterType="domain.CouponVo" useGeneratedKeys="true" keyColumn="coupon_number">
        insert into coupon
        (coupon_number,coupon_name,coupon_type,brand_code,brand_name,event,event_id,code,price,standard_price,issued_at,expired_at,max_expired_at,status)
        values
        (#{couponNumber},#{couponName},#{couponType},#{brandCode},#{brandName},#{event},#{eventId},#{code},#{price},#{standardPrice},#{issuedAt},#{expiredAt},#{maxExpiredAt},#{status})
    </insert>

    <!-- 更新一条优惠券信息 -->
    <update id="updateCoupon" parameterType="domain.CouponVo">
        update coupon
        set
        coupon_number=#{couponNumber},coupon_name=#{couponName},coupon_type=#{couponType},used_place_code=#{usedPlaceCode},used_place_name=#{usedPlaceName},brand_code=#{brandCode},
        brand_name=#{brandName},event=#{event},event_id=#{eventId},code=#{code},price=#{price},standard_price=#{standardPrice},issued_at=#{issuedAt},expired_at=#{expiredAt},
        maximum_expired_at=#{maximumExpiredAt},status=#{status},modified_at=#{modifiedAt}
        where id = #{id}
    </update>

    <!-- 获取优惠券信息 -->
    <select id="getCoupon" resultType="domain.CouponVo" parameterType="domain.CouponVo">
        select
        <include refid="couponColumns">
            <property name="alias" value="t"/>
        </include>
        from coupon t where 1=1
        <if test="couponNumber!=null and couponNumber!=''">
            and t.coupon_number = #{couponNumber}
        </if>
        <if test="couponType!=null and couponType!=''">
            and t.coupon_type = #{couponType}
        </if>
        <if test="brandCode!=null and brandCode!=''">
            and t.brand_code = #{brandCode}
        </if>
        <if test="code!=null and code!=''">
            and t.code = #{code}
        </if>
        <if test="issuedAt!=null and issuedAt!=''">
            and t.issued_at = #{issuedAt}
        </if>
        <if test="status!=null and status!=''">
            and t.status = #{status}
        </if>
    </select>

    <!-- 查询所有的优惠券信息 -->
    <select id="getAllCoupons" resultType="domain.CouponVo">
        select
        <include refid="couponColumns">
            <property name="alias" value="t"/>
        </include>
        from coupon t where 1=1
    </select>

    <!-- 分页获取优惠券信息 -->
    <select id="getCouponsPage" parameterType="domain.CouponVo" resultType="domain.CouponVo">
        select
        <include refid="couponColumns">
            <property name="alias" value="t"/>
        </include>
        from coupon t where 1=1
        <if test='couponNumber != null and couponNumber != "" '>
            and t.coupon_number = #{couponNumber}
        </if>
        <if test='couponName != null and couponName != "null" and couponName != "" '>
            and t.coupon_name like '%${couponName}%'
        </if>
        <if test='couponType != null and couponType != "null" and couponType != "" '>
            and t.coupon_type = #{couponType}
        </if>
        <if test='brandName != null and brandName != "null" and brandName != "" '>
            and t.brand_name = #{brandName}
        </if>
        <if test='usedPlaceName != null and usedPlaceName != "null" and usedPlaceName != "" '>
            and t.place_name like '%${usedPlaceName}%'
        </if>
        <if test='code != null and code != "null" and code != "" '>
            and t.code = #{code}
        </if>
        <if test='status != null and status != "null" and status != "" '>
            and t.status = #{status}
        </if>
        <if test='expiredAt != null and expiredAt != "null" and expiredAt != "" '>
            and t.expired_at like '%${expiredAt}%'
        </if>
        <if test='issuedAt != null and issuedAt != "null" and issuedAt != "" '>
            and t.issued_at like '%${issuedAt}%'
        </if>
        <if test="sort == null or sort == '' ">
            ORDER BY t.coupon_number DESC
        </if>
        <if test="sort != null">
            ORDER BY t.${sort}
            <if test="order != null">
                ${order}
            </if>
        </if>
        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

</mapper>
