<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.InventoryMapper">

    <sql id="inventoryColumns">
        ${alias}.id,
        ${alias}.item_id,
        ${alias}.item_color,
        ${alias}.item_size,
        ${alias}.amount,
        ${alias}.item_price,
        ${alias}.item_src_price,
        ${alias}.item_cost_price,
        ${alias}.item_discount,
        ${alias}.sold_amount,
        ${alias}.rest_amount,
        ${alias}.inv_img,
        ${alias}.item_preview_imgs::text,
        ${alias}.or_destroy,
        ${alias}.destroy_at,
        ${alias}.update_at,
        ${alias}.create_at,
        ${alias}.or_master_inv,
        ${alias}.state,
        ${alias}.ship_fee,
        ${alias}.inv_area,
        ${alias}.restrict_amount,
        ${alias}.inv_title
    </sql>

    <insert id="insertInventory" parameterType="entity.Inventory" useGeneratedKeys="true" keyProperty="id">
        insert into inventories
        (item_id,item_color,item_size,amount,item_price,item_src_price,item_cost_price,item_discount,sold_amount,rest_amount,inv_img,item_preview_imgs,or_destroy,destroy_at,update_at,create_at,or_master_inv,state,ship_fee,inv_area,restrict_amount,inv_title)
        values
        (#{itemId},#{itemColor},#{itemSize},#{amount},#{itemPrice},#{itemSrcPrice},#{itemCostPrice},#{itemDiscount},#{soldAmount},#{restAmount},#{invImg},#{itemPreviewImgs}::jsonb,#{orDestroy},#{destroyAt},#{updateAt},CURRENT_TIMESTAMP(0),#{orMasterInv},#{state},#{shipFee},#{invArea},#{restrictAmount},#{invTitle})
    </insert>

    <select id="getInventory" resultType="entity.Inventory" parameterType="java.lang.Long">
        select
        <include refid="inventoryColumns">
            <property name="alias" value="t"/>
        </include>
        from inventories t where id=${value}
    </select>

    <select id="getInventoriesByItemId" resultType="entity.Inventory" parameterType="java.lang.Long">
        select
        <include refid="inventoryColumns">
            <property name="alias" value="t"/>
        </include>
        from inventories t where item_id=${value}
    </select>

    <select id="getInventoryByItemId" resultType="entity.Inventory" parameterType="java.lang.Long">
        select
        <include refid="inventoryColumns">
            <property name="alias" value="t"/>
        </include>
        from inventories t where item_id=${value}
    </select>

    <select id="getAllInventories" resultType="entity.Inventory">
        select
        <include refid="inventoryColumns">
            <property name="alias" value="t"/>
        </include>
        from inventories t where 1=1
    </select>

</mapper>
