<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OrderMapper">

    <sql id="orderColumns">
        ${alias}.order_id,
        ${alias}.user_id,
        ${alias}.pay_total,
        ${alias}.pay_method,
        ${alias}.order_create_at,
        ${alias}.order_ip,
        ${alias}.pg_trade_no,
        ${alias}.order_status,
        ${alias}.error_str,
        ${alias}.discount,
        ${alias}.updated_at,
        ${alias}.order_desc,
        ${alias}.ship_fee,
        ${alias}.postal_fee,
        ${alias}.confirm_receive_at,
        ${alias}.total_fee,
        ${alias}.ship_time,
        ${alias}.client_type,
        ${alias}.order_type,
        ${alias}.pin_active_id
    </sql>
    <select id="getOrdersAll" resultType="domain.order.Order">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t where 1=1 order by t.order_create_at DESC
    </select>

    <select id="getOrderPage" parameterType="domain.order.Order" resultType="domain.order.Order">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t where 1=1
        <if test="orderId != null">
            and t.order_id = #{orderId}
        </if>
        <if test="userId != null">
            and t.user_id = #{userId}
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            <if test="orderStatus != 'TO'">
                and t.order_status = #{orderStatus}
            </if>

            <if test="orderStatus == 'TO'">
                and t.order_status = 'I' and t.order_create_at &lt;= CURRENT_TIMESTAMP - interval '1 day'
            </if>
        </if>
        order by t.order_create_at DESC
        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

    <select id="getOrderById" resultType="domain.order.Order" parameterType="java.lang.Long">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t where order_id = #{value}
    </select>

    <select id="getOutTimeOrders" resultType="domain.order.Order">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t where t.order_status = 'I' and t.order_create_at &lt;= CURRENT_TIMESTAMP - interval '1 day'
    </select>

    <select id="getOrderByPinAtvId" resultType="domain.order.Order" parameterType="java.lang.Long">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t where t.pin_active_id = #{value}
    </select>

    <update id="orderCancel" parameterType="java.util.Arrays">
        update sp_order set order_status = 'C' where order_id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updPinOrderToSuccess" parameterType="java.util.List">
        <foreach collection="list" item="order" separator=";">
            update sp_order set order_status = 'S'
            where order_id = #{order.orderId} and pin_active_id = #{order.pinActiveId} and order_status = 'PS'
        </foreach>
    </update>

    <!--   修改订单信息             Add By Sunny.Wu 2016/04/14-->
    <update id="updateOrder" parameterType="domain.order.Order">
        update sp_order
        set
        order_status=#{orderStatus},updated_at=CURRENT_TIMESTAMP(0)
        where order_id = #{orderId}
    </update>

    <select id="getSignedOrders" resultType="domain.order.Order">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t where 1=1 and t.order_status = 'D'
    </select>

    <update id="orderConfirmReceive" parameterType="java.util.Arrays">
        update sp_order set order_status = 'R' where order_id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="getOrderByIds" parameterType="java.util.List" resultType="domain.order.Order">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t where t.order_status = 'S' and t.order_id in
        <foreach collection="list" item="line" open="(" separator="," close=")">
            #{line.orderId}
        </foreach>
        order by t.order_create_at ASC
    </select>
    
    
    <select id="getOrder" parameterType="domain.order.Order" resultType="domain.order.Order">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t where 1=1
        <if test="orderCreateAt != null">
            and to_char(t.order_create_at,'YYYYMMDD') = to_char(#{orderCreateAt}::timestamp,'YYYYMMDD')
        </if>
        <if test="orderStatus != null">
            and t.order_status = #{orderStatus}
        </if>
    </select>

    <!--销售收入统计 成功付款订单 成功退款订单查询          Add By Sunny.Wu 2016.06.16-->
    <select id="getTradeOrder" parameterType="domain.order.Order" resultType="domain.order.Order">
        select order_create_at, order_id, pay_total, order_status, pg_trade_no
        from sp_order where (order_status='S' or order_status='R' or order_status='D' or order_status='J' or
        order_status='PS')
        <if test='startTime != null'>
            and order_create_at &gt;= #{startTime} ::timestamp
        </if>
        <if test='endTime != null'>
            and order_create_at &lt;= #{endTime} ::timestamp
        </if>
        union
        select r.create_at as order_create_at, r.order_id, r.pay_back_fee as pay_total, r.refund_type as order_status,
        r.pg_trade_no from sp_refund r, sp_order o where r.order_id=o.order_id and o.order_status='T'
        <if test='startTime != null'>
            and create_at &gt;= #{startTime} ::timestamp
        </if>
        <if test='endTime != null'>
            and create_at &lt;= #{endTime} ::timestamp
        </if>
        ORDER BY order_create_at DESC
        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

    <!--每日订单交易额,交易量统计   Add By Sunny.Wu 2016.06.17-->
    <select id="countTradeOrder" parameterType="domain.order.Order" resultType="domain.order.Order">
        select to_char(order_create_at, 'yyyy-mm-dd') as sort, sum(ol1.succ_amount) as pay_method,
        sum(pay_total) as pay_total, sum(ol2.return_amount) as order_type
        from sp_order o
        LEFT JOIN (select order_id, sum(amount) as succ_amount from sp_order_line group by order_id) ol1 on ol1.order_id=o.order_id and (o.order_status='S' or o.order_status='R' or o.order_status='D' or o.order_status='J' or o.order_status='PS')
        LEFT JOIN (select order_id, sum(amount) as return_amount from sp_order_line group by order_id) ol2 on ol2.order_id=o.order_id and o.order_status='T'
        where (o.order_status='S' or o.order_status='R' or o.order_status='D' or o.order_status='J' or o.order_status='PS' or o.order_status='T')
        <if test='startTime != null'>
            and order_create_at &gt;= #{startTime} ::timestamp
        </if>
        <if test='endTime != null'>
            and order_create_at &lt;= #{endTime} ::timestamp
        </if>
        GROUP BY sort ORDER BY sort DESC
        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

    <!--商品的销量排行             Add By Sunny.Wu 2016.06.17-->
    <select id="countTradeGoods" parameterType="domain.order.Order" resultType="domain.order.OrderLine">
        select ROW_NUMBER() OVER() as line_id, sku_id, sku_title, sku_color, sku_size, sum(pay_total) price, sum(amount)
        amount, sum((select amount from sp_order o, sp_order_line l
        where
        o.order_id=l.order_id and order_status='T')) as item_id from sp_order_line l, sp_order o
        where l.order_id=o.order_id and
        (order_status='S' or order_status='R' or order_status='D' or order_status='J' or order_status='PS')
        <if test='startTime != null'>
            and order_create_at &gt;= #{startTime} ::timestamp
        </if>
        <if test='endTime != null'>
            and order_create_at &lt;= #{endTime} ::timestamp
        </if>
        GROUP BY sku_id, sku_title, sku_color, sku_size ORDER BY amount DESC
        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

</mapper>