<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PinActivityMapper">
    <sql id="pinActivityColumns">
        ${alias}.pin_active_id,
        ${alias}.pin_url,
        ${alias}.pin_id,
        ${alias}.master_user_id,
        ${alias}.person_num,
        ${alias}.pin_price,
        ${alias}.join_persons,
        ${alias}.create_at,
        ${alias}.status,
        ${alias}.end_at
    </sql>


</mapper>