<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PinSkuMapper">
    <sql id="pinSkuColumns">
        ${alias}.pin_id,
        ${alias}.pin_img,
        ${alias}.share_url,
        ${alias}.status,
        ${alias}.create_at,
        ${alias}.update_at,
        ${alias}.pin_title,
        ${alias}.start_at,
        ${alias}.end_at,
        ${alias}.pin_price_rule,
        ${alias}.restrict_amount,
        ${alias}.floor_price,
        ${alias}.inv_id,
        ${alias}.pin_discount
    </sql>

    <insert id="insertPinSku" parameterType="entity.pingou.PinSku" useGeneratedKeys="true" keyProperty="pinId">
        insert into pin_sku(pin_img,share_url,status,create_at,pin_title,start_at,end_at,pin_price_rule,restrict_amount,floor_price,inv_id,pin_discount)
        values(#{pinImg},#{shareUrl},#{status},CURRENT_TIMESTAMP(0),#{pinTitle},#{startAt}::timestamp,#{endAt}::timestamp,#{pinPriceRule},#{restrictAmount},#{floorPrice},#{invId},#{pinDiscount})
    </insert>

    <update id="updatePinSku" parameterType="entity.pingou.PinSku">
        update pin_sku
        set pin_img=#{pinImg},share_url=#{shareUrl},status=#{status},update_at = CURRENT_TIMESTAMP(0),pin_title=#{pinTitle},start_at=#{startAt}::timestamp,
        end_at=#{endAt}::timestamp,pin_price_rule=#{pinPriceRule},restrict_amount=#{restrictAmount},floor_price=#{floorPrice},inv_id=#{invId},pin_discount=#{pinDiscount}
        where pin_id = ${pinId}
    </update>

    <select id="getPinSkuAll" resultType="entity.pingou.PinSku">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where 1=1
    </select>

    <select id="getPinSkuPage" parameterType="entity.pingou.PinSku" resultType="entity.pingou.PinSku">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where 1=1
        <if test="pinId != null">
            and t.pin_id = #{pinId}
        </if>
        <if test="status != null and status != '' ">
            and t.status = #{status}
        </if>
        <if test="startAt != null">
            and t.start_at &gt;= #{startAt} ::timestamp
        </if>
        <if test="endAt != null">
            and t.end_at &lt;= #{endAt} ::timestamp
        </if>

            ORDER BY t.create_at DESC

        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

    <select id="getPinSkuById" resultType="entity.pingou.PinSku" parameterType="java.lang.Long">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where pin_id = ${value}
    </select>


    <sql id="pinCouponColumns">
        ${alias}.id,
        ${alias}.member_coupon_end_at,
        ${alias}.member_coupon_quota,
        ${alias}.master_coupon,
        ${alias}.master_coupon_class,
        ${alias}.master_coupon_start_at,
        ${alias}.master_coupon_end_at,
        ${alias}.master_coupon_quota,
        ${alias}.member_coupon,
        ${alias}.member_coupon_class,
        ${alias}.member_coupon_start_at,
        ${alias}.pin_id
    </sql>

    <select id="getCouponByPinId" resultType="entity.pingou.PinCoupon" parameterType="java.lang.Long">
        select
        <include refid="pinCouponColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_coupon t where pin_id = ${value}
    </select>

    <insert id="insertPinCoupon" parameterType="entity.pingou.PinCoupon" useGeneratedKeys="true" keyProperty="id">
        insert into pin_coupon(member_coupon_end_at,member_coupon_quota,master_coupon,master_coupon_class,master_coupon_start_at,master_coupon_end_at,
                               master_coupon_quota,member_coupon,member_coupon_class,member_coupon_start_at,pin_id)
        values(#{memberCouponEndAt},#{memberCouponQuota},#{masterCoupon},#{masterCouponClass},#{masterCouponStartAt},#{masterCouponEndAt},
               #{masterCouponQuota},#{memberCoupon},#{memberCouponClass},#{memberCouponStartAt},#{pinId})

    </insert>
    <update id="updatePinCoupon" parameterType="entity.pingou.PinCoupon">
        update pin_coupon
        set member_coupon_end_at=#{memberCouponEndAt},member_coupon_quota=#{memberCouponQuota},master_coupon=#{masterCoupon},master_coupon_class=#{masterCouponClass},
            master_coupon_start_at=#{masterCouponStartAt},master_coupon_end_at=#{masterCouponEndAt},master_coupon_quota=#{masterCouponQuota},member_coupon=#{memberCoupon},
            member_coupon_class=#{memberCouponClass},member_coupon_start_at=#{memberCouponStartAt}
        where pin_id = #{pinId}
    </update>

    <delete id="delPinCoupon" parameterType="java.lang.Long">
        delete from pin_coupon where pin_id = ${value}
    </delete>

</mapper>