<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PinSkuMapper">
    <!--  拼购商品  -->
    <sql id="pinSkuColumns">
        ${alias}.pin_id,
        ${alias}.pin_img,
        ${alias}.share_url,
        ${alias}.status,
        ${alias}.create_at,
        ${alias}.update_at,
        ${alias}.theme_id,
        ${alias}.pin_title,
        ${alias}.start_at,
        ${alias}.end_at,
        ${alias}.restrict_amount,
        ${alias}.floor_price,
        ${alias}.inv_id,
        ${alias}.pin_discount,
        (select count(*) from pin_activity pa where pa.pin_id = t.pin_id) as activity_count
    </sql>

    <insert id="insertPinSku" parameterType="entity.pingou.PinSku" useGeneratedKeys="true" keyProperty="pinId">
        insert into pin_sku(pin_img,status,create_at,pin_title,start_at,end_at,restrict_amount,floor_price,inv_id,pin_discount)
        values(#{pinImg},#{status},CURRENT_TIMESTAMP(0),#{pinTitle},#{startAt}::timestamp,#{endAt}::timestamp,#{restrictAmount},#{floorPrice},#{invId},#{pinDiscount})
    </insert>

    <update id="updatePinSku" parameterType="entity.pingou.PinSku">
        update pin_sku
        set pin_img=#{pinImg},status=#{status},update_at = CURRENT_TIMESTAMP(0),pin_title=#{pinTitle},start_at=#{startAt}::timestamp,
        end_at=#{endAt}::timestamp,restrict_amount=#{restrictAmount},floor_price=#{floorPrice},inv_id=#{invId},pin_discount=#{pinDiscount}
        where pin_id = ${pinId}
    </update>

    <select id="getPinSkuAll" resultType="entity.pingou.PinSku">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where 1=1
    </select>

    <select id="getPinSkuPage" parameterType="entity.pingou.PinSku" resultType="entity.pingou.PinSku">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where 1=1
        <if test="pinId != null">
            and t.pin_id = #{pinId}
        </if>
        <if test="status != null and status != '' ">
            and t.status = #{status}
        </if>
        <if test="startAt != null">
            and t.start_at &gt;= #{startAt} ::timestamp
        </if>
        <if test="endAt != null">
            and t.end_at &lt;= #{endAt} ::timestamp
        </if>

            ORDER BY t.create_at DESC

        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

    <select id="getPinSkuById" resultType="entity.pingou.PinSku" parameterType="java.lang.Long">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where pin_id = ${value}
    </select>
    <update id="updPinThemeId" parameterType="entity.pingou.PinSku">
        update pin_sku
        set theme_id = #{themeId}
        where pin_id = #{pinId}
    </update>


    <!--  拼购阶梯价格  -->
    <sql id="tieredPriceColumns">
        ${alias}.id,
        ${alias}.master_coupon_class,
        ${alias}.master_coupon_start_at,
        ${alias}.master_coupon_end_at,
        ${alias}.master_coupon_quota,
        ${alias}.member_coupon,
        ${alias}.member_coupon_class,
        ${alias}.member_coupon_start_at,
        ${alias}.member_coupon_end_at,
        ${alias}.member_coupon_quota,
        ${alias}.pin_id,
        ${alias}.people_num,
        ${alias}.price,
        ${alias}.master_min_price,
        ${alias}.member_min_price,
        ${alias}.master_coupon
    </sql>

    <insert id="addTieredPrice" parameterType="java.util.List">

        insert into pin_tiered_price(master_coupon_class,master_coupon_start_at,master_coupon_end_at,master_coupon_quota,member_coupon,member_coupon_class,member_coupon_start_at,
                                    member_coupon_end_at,member_coupon_quota,pin_id,people_num,price,master_min_price,member_min_price,master_coupon)
        values
        <foreach collection="list" item="item" index="index"  separator="," >
             (#{item.masterCouponClass},#{item.masterCouponStartAt},#{item.masterCouponEndAt},#{item.masterCouponQuota},#{item.memberCoupon},#{item.memberCouponClass},#{item.memberCouponStartAt},
             #{item.memberCouponEndAt},#{item.memberCouponQuota},#{item.pinId},#{item.peopleNum},#{item.price},#{item.masterMinPrice},#{item.memberMinPrice},#{item.masterCoupon})
        </foreach>

    </insert>

    <select id="getTieredPriceByPinId" parameterType="java.lang.Long" resultType="entity.pingou.PinTieredPrice">
        select
        <include refid="tieredPriceColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_tiered_price t where pin_id = ${value}
    </select>

    <update id="updTieredPrice" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update pin_tiered_price
            set master_coupon_class=#{item.masterCouponClass},master_coupon_start_at=#{item.masterCouponStartAt},master_coupon_end_at=#{item.masterCouponEndAt},
                master_coupon_quota=#{item.masterCouponQuota},member_coupon=#{item.memberCoupon},member_coupon_class=#{item.memberCouponClass},member_coupon_start_at=#{item.memberCouponStartAt},
                member_coupon_end_at=#{item.memberCouponEndAt},member_coupon_quota=#{item.memberCouponQuota},pin_id=#{item.pinId},people_num=#{item.peopleNum},price=#{item.price},
                master_min_price=#{item.masterMinPrice},member_min_price=#{item.memberMinPrice},master_coupon=#{item.masterCoupon}
            where id = #{item.id}
        </foreach>
    </update>

    <delete id="delTieredPrice" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            delete from pin_tiered_price where id = #{item.id}
        </foreach>

    </delete>

    <select id="getTieredPriceByTieredId" parameterType="java.lang.Long" resultType="entity.pingou.PinTieredPrice">
        select
        <include refid="tieredPriceColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_tiered_price t where id = ${value}
    </select>
</mapper>