<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <sql id="shipColumns">
        ${alias}.ship_id,
        ${alias}.order_id,
        ${alias}.delivery_name,
        ${alias}.delivery_tel,
        ${alias}.delivery_city,
        ${alias}.delivery_address,
        ${alias}.state,
        ${alias}.express_num,
        ${alias}.confirm_at,
        ${alias}.update_at,
        ${alias}.split_id,
        ${alias}.express_code
    </sql>
    <select id="getShipByOrderId" resultType="entity.Ship" parameterType="java.lang.Long">
        select
        <include refid="shipColumns">
            <property name="alias" value="t" />
        </include>
        from sp_order_ship where ship_id=${value}
    </select>
</mapper>