<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserLogMapper">
    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <sql id="userLogColumns">
        ${alias}.id,
        ${alias}.operate_user,
        ${alias}.operate_ip ::text,
        ${alias}.operate_type,
        ${alias}.content,
        ${alias}.operate_time
    </sql>

    <!-- 录入一条用户日志 -->
    <insert id="insertUserLog" parameterType="domain.UserLog" useGeneratedKeys="true" keyProperty="id">
        insert into user_log
        (operate_user,operate_ip,operate_type,content,operate_time)
        values
        (#{operateUser},#{operateIp}::cidr,#{operateType},#{content},CURRENT_TIMESTAMP(0))
    </insert>

    <!-- 由id获取一条日志信息 -->
    <select id="getUserLog" resultType="domain.UserLog" parameterType="java.lang.Long">
        select
        <include refid="userLogColumns">
            <property name="alias" value="t"/>
        </include>
        from user_log t where id=#{value}
    </select>

    <!-- 获取所有的日志信息 -->
    <select id="getAllUserLogs" resultType="domain.UserLog">
        select
        <include refid="userLogColumns">
            <property name="alias" value="t"/>
        </include>
        from user_log t where 1=1 ORDER BY t.id DESC
    </select>

    <!-- 分页获取日志信息 -->
    <select id="getUserLogPage" parameterType="domain.UserLog" resultType="domain.UserLog">
        select
        <include refid="userLogColumns">
            <property name="alias" value="t"/>
        </include>
        from user_log t where 1=1
        <if test="id != null">
            and t.id = #{id}
        </if>
        <if test='operateUser != null and operateUser != "null" and operateUser != "" '>
            and t.operate_user like '%${operateUser}%'
        </if>
        <if test='operateType != null and operateType != "null" and operateType != "" '>
            and t.operate_type=#{operateType}
        </if>
        <if test="startAt != null">
            and t.operate_time &gt;= #{startAt} ::timestamp
        </if>
        <if test="endAt != null">
            and t.operate_time &lt;= #{endAt} ::timestamp
        </if>
        <if test="sort == null or sort == '' ">
            ORDER BY t.id DESC
        </if>
        <if test="sort != null">
            ORDER BY t.${sort}
            <if test="order != null">
                ${order}
            </if>
        </if>
        <if test="pageSize == -1 and offset >= -1">
            LIMIT ALL OFFSET 0
        </if>
        <if test="pageSize >= 1 and offset >= 0">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

</mapper>
