<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.VersioningMapper">

    <sql id="versioningColumns">
        ${alias}.id              ,
        ${alias}.release_number   ,
        ${alias}.product_type    ,
        ${alias}.download_link   ,
        ${alias}.admin_user_id   ,
        ${alias}.release_desc    ,
        to_char(${alias}.release_at, 'YYYY-MM-DD HH24:MI:SS') release_at,
        ${alias}.file_name         ,
        ${alias}.current_version   ,
        ${alias}.update_req_xml     ,
        ${alias}.app_store_download_link,
        ${alias}.release_number
    </sql>

    <!-- 录入一条 -->
    <insert id="insertVersioning" parameterType="entity.VersionVo" useGeneratedKeys="true" keyProperty="id">
        insert into versioning
        (release_number,product_type,download_link,admin_user_id,release_desc,release_at,file_name,update_req_xml,app_store_download_link,release_name)
        values
        (#{releaseNumber},#{productType},#{downloadLink},#{adminUserId},#{releaseDesc},CURRENT_TIMESTAMP(0),#{fileName},#{updateReqXml},#{appStoreDownloadLink},#{releaseName})
    </insert>

    <!-- -->
    <select id="getVersioning" resultType="entity.VersionVo" parameterType="entity.VersionVo">
        select
        <include refid="versioningColumns">
            <property name="alias" value="t"/>
        </include>
        from versioning t where 1=1
        <if test="productType!=null and productType!=''">
           and product_type=#{productType}
        </if>
        order by current_version DESC,release_number DESC
    </select>

    <update id="updateVersioning" parameterType="entity.VersionVo">
        update versioning set current_version =false where product_type=#{productType}
    </update>

</mapper>
