@import play.i18n._
@import domain.User

@(lang:String="cn", user:domain.User, userNum:Integer, orderNum:Integer, yes_order:Integer, unPaidOrder:Integer,deliverOrder:Integer, soldNum:Integer)
@scripts = {
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<link href="/assets/css/index.css" rel="stylesheet">
}

@body = {
    <div class="container">
        <div class="box clearfix">
            <div class="box-top clearfix">
                <ul>
                    <li>
                        <span class="one">432</span>
                        <span>流量(今日)</span>
                    </li>
                    <li class="sales">
                        <span class="one">@soldNum</span>
                        <span>销售量(今日)</span>
                    </li>
                    <li class="order">
                        <span class="one">@orderNum</span>
                        <span>新订单(今日)</span>
                    </li>
                    <li class="user">
                        <span class="one">@userNum</span>
                        <span>新用户(今日)</span>
                    </li>
                </ul>
            </div>

            <div class="box-left">
                <div class="box-t ">
                    <div class="icon">
                        <i class="icon-s"></i>
                        <i class="icon-x"></i>
                    </div>
                    <p>订单:</p>
                    <ul>
                        <li>
                            <a href="javascript:;" class="box-t-left">
                                <span class="f6">@orderNum</span>
                                <span class="f7">今日订单</span>
                            </a>
                            <a href="javascript:;" class="box-t-right">
                                <i class="number">98%</i>
                                <i class="upload"></i>
                            </a>

                        </li>
                        <li>
                            <a href="javascript:;" class="box-t-left">
                                <span class="f6">@yes_order</span>
                                <span class="f7">昨日订单</span>
                            </a>
                            <a href="javascript:;" class="box-t-right">
                                <i class="number">8%</i>
                                <i class="upload"></i>
                            </a>

                        </li>
                        <li>
                            <a href="javascript:;" class="box-t-left">
                                <span class="f6">@unPaidOrder</span>
                                <span class="f7">支付超时</span>
                            </a>
                            <a href="javascript:;" class="box-t-right">
                                <i class="number">98%</i>
                                <i class="upload"></i>
                            </a>

                        </li>
                        <li>
                            <a href="javascript:;" class="box-t-left">
                                <span class="f6">@deliverOrder</span>
                                <span class="f7">待收货</span>
                            </a>
                            <a href="javascript:;" class="box-t-right">
                                <i class="number">98%</i>
                                <i class="upload"></i>
                            </a>

                        </li>

                    </ul>
                </div>

            </div>

            <!--<div class="box-right">-->
                <!--<div class="box-t ">-->
                    <!--<div class="icon">-->
                        <!--<i class="icon-s"></i>-->
                        <!--<i class="icon-x"></i>-->
                    <!--</div>-->
                    <!--<p>商品:</p>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">今日订单</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">昨日订单</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">8%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">支付超时</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">待发货</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="box-left">-->
                <!--<div class="box-t ">-->
                    <!--<div class="icon">-->
                        <!--<i class="icon-s"></i>-->
                        <!--<i class="icon-x"></i>-->
                    <!--</div>-->
                    <!--<p>主题:</p>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">今日订单</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">昨日订单</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">8%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">支付超时</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">待发货</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="box-right">-->
                <!--<div class="box-t ">-->
                    <!--<div class="icon">-->
                        <!--<i class="icon-s"></i>-->
                        <!--<i class="icon-x"></i>-->
                    <!--</div>-->
                    <!--<p>拼购:</p>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">今日订单</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">昨日订单</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">8%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">支付超时</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;" class="box-t-left">-->
                                <!--<span class="f6">2345678</span>-->
                                <!--<span class="f7">待发货</span>-->
                            <!--</a>-->
                            <!--<a href="javascript:;" class="box-t-right">-->
                                <!--<i class="number">98%</i>-->
                                <!--<i class="upload"></i>-->
                            <!--</a>-->

                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
}
@layout(lang=lang,title="首页", user=user)(scripts) {

@body

}

<script>
    $(document).on("click", ".icon-x", function(e) {
        $(this).parent().parent().parent().remove();
    });

</script>