@import play.i18n._
@(start:String,end:Integer,lang:String="cn",url:String,pageSize:Integer,countNum:Integer,pageCount:Integer,currentPage:Integer,user:entity.User,prodsList:List[entity.Products])

@scripts = {


<!-- 日历-->
<link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css"/>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.zh-CN.min.js"></script>

<link rel="stylesheet" href="/assets/css/xspsc.css"/>
<link rel="stylesheet" href="/assets/css/list.css">
<link rel="stylesheet" href="/assets/css/theme-search.css">
<script src="/assets/js/list.js"></script>
<script src="/assets/js/search.js"></script>

<script>window.url = "@url"</script>
<script>window.lang = "@lang"</script>

}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsListTitle")

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="content">
    <input type="hidden" id ="start" value="@start">
    <input type="hidden" id="end" value="@end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>商品管理</h3>
                <table class="table table-bordered tbone">
                    <tr>
                        <th>商品ID</th>
                        <td>
                            <input type="text" class="form-control" style="border:1px solid #ccc; width:100%; height:34px;">
                        </td>
                        <th>商品名称</th>
                        <td>
                            <input type="text" id="productName" name="productName" class="form-control" style="border:1px solid #ccc; width:100%; height:34px;">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>商品状态</span>
                        </th>
                        <td>
                            <select class="form-control">
                                <option value="">全部</option>
                                <option value="Y">正常</option>
                                <option value="D">到期商品</option>
                                <option value="N">删除</option>
                                <option value="K">售空</option>
                            </select>
                        </td>
                        <th>
                            <span>销售起止日期</span>
                        </th>
                        <td>
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="input-sm form-control" name="start"/>
                                <span class="input-group-addon">to</span>
                                <input type="text" class="input-sm form-control" name="end"/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <a href="#">搜索</a>
                            <input type="reset" value="初始化"/>
                        </td>
                    </tr>
                </table>
                <div class="bgk">
                    <table class="table table-bordered tbtwo l">
                        <tr class="trone">
                            <th>商品ID</th>
                            <th>商品名称</th>
                            <th>供货商</th>
                            <th>品牌名称</th>
                            <th>商品类别</th>
                            <th>商品主图</th>
                            <th>颜色</th>
                            <th>尺寸</th>
                            <th >销售开始日期</th>
                            <th>销售结束日期</th>
                            <th>市场价</th>
                            <th>销售价</th>
                        </tr>
                        @for(p <- prodsList) {
                        <tr>
                            <td>@p.getId()</td>
                            <td>@p.getProductName()</td>
                            <td>@p.getMerchName()</td>
                            <td>@p.getBrandId()</td>
                            <td>@p.getCateId()</td>
                            <td><img src="http://172.28.3.18:3008@p.getMasterImg()" alt="" width="40" height="40"/></td>
                            <td>@p.getProductColor()</td>
                            <td>@p.getProductSize()</td>
                            <td>@p.getSellOnDate()</td>
                            <td>@p.getSellOffDate()</td>
                            <td>@p.getProductPrice()</td>
                            <td>@p.getRecommendPrice()</td>
                        </tr>
                        }
                    </table>
                    <span class="page-toolbar-title">总计:@(countNum)条/每页@(pageSize)条/ 当前@(currentPage)/@(pageCount)页</span>
                    <div class="paging">
                        <ul class="pagination">
                            <li class="prev"><a href="/prodsList/@(currentPage-1)">&laquo;</a></li>
                            <tbody id="data"></tbody>
                            <!--@for(i <- 1 until pageCount+1){-->

                                <!--<li class="page-num"><a href="/prodsList/@i">@i</a></li>-->
                            <!--}-->
                            <li class="next"><a href="/prodsList/@(currentPage+1)">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript">
$(function()  {
    var start = document.getElementById("start").value;
    var end = document.getElementById("end").value;
    var html = [];
	<!--for(var i=start; i<end; i++) {-->

	<!--}-->

});


</script>
