@import play.i18n._
@(prods:entity.Products, lang:String="cn",user:entity.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/prods.css">
<link rel="stylesheet" href="/assets/css/slider.css">
}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsDetailTitle")

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsDetailTitle")</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsDetailTitle")</span>
    </div>
    <div class="row">
        <div class="goods-pre form-horizontal">
            <!--基本信息-->
            <div class="base-info">
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.detail.basics")</h4>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productName")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.merchName")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.sourceArea")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.state")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.detail.startDate")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.detail.endDate")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.list.state")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                    <label class="col-sm-2 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.detail.createDate")</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control">
                    </div>
                </div>
            </div>
            <!-- 库存信息-->
            <div class="stock-info">
                <!--<h3>库存信息</h3>-->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.detail.stock")</h4>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <table class="table table-bordered col-sm-10">
                            <tr>
                                <td>颜色</td>
                                <td>尺寸</td>
                                <td>预览图</td>
                                <td>库存量</td>
                                <td>现价</td>
                                <td>原价</td>
                                <td>折扣</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td width="200">
                                    <img class="main-img" src="images/1.jpg" alt="" width="50">
                                    <img class="main-img" src="images/1.jpg" alt="" width="50">
                                    <img class="main-img" src="images/1.jpg" alt="" width="50">
                                    <img class="main-img" src="images/1.jpg" alt="" width="50">
                                    <img class="main-img" src="images/1.jpg" alt="" width="50">
                                    <img class="main-img" src="images/1.jpg" alt="" width="50">
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--详情-->
            <div class="detailed-info">
                <!--<h3>详情</h3>-->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.detail.details")</h4>
                <div class="form-group">
                    <label class="col-sm-2 control-label">主图</label>
                    <div class="col-sm-10">
                        <div class="table-bordered">

                        </div>
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">预览图</label>-->
                <!--<div class="col-sm-10">-->
                <!--<div class="table-bordered">-->
                <!--123-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品详细图</label>
                    <div class="col-sm-10">
                        <div class="table-bordered">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品描述</label>
                    <div class="col-sm-10">
                        <div class="table-bordered">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品属性</label>
                    <div class="col-sm-10">
                        <table class="table table-bordered">
                            <tr>
                                <td>属性名</td>
                                <td>属性值</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>456</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
}
<script>
$(function(){
    $(".glyphicon").click(function(){
        if($(this).hasClass("glyphicon-chevron-up")){
            $(this).removeClass("glyphicon-chevron-up");
            $(this).addClass("glyphicon-chevron-down");
        }else{
            $(this).removeClass("glyphicon-chevron-down");
            $(this).addClass("glyphicon-chevron-up");
        }
    });
    $(".main-img").click(function(){
        $(".goods-img-bg").css({"height":$(window).height(),"display":"block"});
        $(".goods-img").css("left",($(window).width()-1200)/2);
        $(this).clone().appendTo($(".goods-img")).css({"width":"100%","z-index":1000});
    });
    $(".goods-img-bg .close").click(function(){
        $(".goods-img-bg img").remove();
        $(".goods-img-bg").css({"display":"none"});
    });
    $(document).on("click",".goods-bg",function(){
        $(".goods-img-bg img").remove();
        $(".goods-img-bg").css({"display":"none"});
    })
});
</script>