@import play.i18n._
@(lang:String="cn", brandsList:List[entity.Brands], catesParentList:List[entity.Cates],user:entity.User)

@scripts = {

<link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/slider.css"/>
<link rel="stylesheet" href="/assets/css/prods.css"/>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/assets/js/bootstrap-datetimepicker.ko.js"></script>
<script src="/assets/js/rili.js"></script>
<script src="/assets/js/prods.js"></script>

}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsAddTitle")

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu2")</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsAddTitle")</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div  id="submitProducts" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post" action="/insertProducts" id="insertProducts" enctype="multipart/form-data">
            <div class="upinfo">
                <!-- 商品基本信息 -->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.basics")</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control" id="categorySelect">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                            @for(cates <- catesParentList) {
                            <option value="@cates.getCateId()">@cates.getCateNm()
                            </option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" id="divDynamicSubCates">
                        <select class="form-control" id='categorySubSelect' name="cateId">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r" style="padding:3px;"> *</div><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</div></label>
                    <div class="col-sm-2">
                        <select class="form-control" id="bandSelect" name="brandId">
                            <option value="">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.pleaseSelect")</option>
                            @for(b <- brandsList) {
                            <option value="@b.getBrandId()">@b.getBrandNm()
                            </option>
                            }
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.merchName")</div></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="merchNm" name="merchNm">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r">商品标题</div></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="itemTitle" name="itemTitle">
                    </div>
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">销售期限</div></label>
                    <div class="col-sm-2">
                        <div class="input-group date form_datetime" data-date-format="dd-mm-yyyy hh:ii" data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" readonly="" id="sellOnDate" name="sellOnDate">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-1" style="font-size: 24px;width:40px;margin-left:40px;">~</div>
                    <div class="col-sm-2">
                        <div class="input-group date form_datetime" data-date-format="dd-mm-yyyy hh:ii" data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" readonly="" id="sellOffDate" name="sellOffDate">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                    <div id="warn-ate" style="color:red; margin-top:-50px; "></div>
                </div>
                <!-- 商品库存信息-->
                <h4 class="h4-custom-hmm">商品库存信息</h4>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="goods-info1">
                            <table class="table table-bordered qubian inv" id="inventory">
                                <tr>
                                    <th width="80">设为主商品</th>
                                    <th width="60">颜色分类</th>
                                    <th width="60">尺寸分类</th>
                                    <th width="60">库存数量</th>
                                    <th width="60">成本价(￥)</th>
                                    <th width="60">原价(￥)</th>
                                    <th width="60">现价(￥)</th>
                                    <th width="60">折扣</th>
                                    <!--<th width="100">主图(一张)</th>-->
                                    <th width="280">详情页预览图(最多6张)</th>
                                    <th width="60" class="add-goods add">添加商品</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="masterInvId" checked="checked"/>
                                    </td>
                                    <td>
                                        <input type="text" name="itemColor">
                                    </td>
                                    <td>
                                        <input type="text" name="itemSize">
                                    </td>
                                    <td>
                                        <input type="text" name="amount">
                                    </td>
                                    <td>
                                        <input type="text" name="itemPrice">
                                    </td>
                                    <td>
                                        <input type="text" name="itemSrcPrice">
                                    </td>
                                    <td>
                                        <input type="text" name="itemCostPrice">
                                    </td>
                                    <td>
                                        <input type="text" name="itemDiscount">
                                    </td>
                                    <!--<td class="list-img">-->
                                    <!--<div id="galleryM">-->
                                    <!--&lt;!&ndash;<div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<img class="main-img" src="/assets/images/1.jpg" alt=""  name="invImg">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<span class="add" id="masterImgAdd">＋-->
                                    <!--<input type="file" id="M" name="image" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>-->
                                    <!--</span>-->
                                    <!--</td>-->
                                    <td width="146" class="preview-img">
                                        <div id="galleryP1">
                                            <!--<div>-->
                                            <!--<img class="main-img" src="/assets/images/1.jpg" alt=""  name="itemPreviewImgs">-->
                                            <!--<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                            <!--</div>-->
                                            <!--<div>-->
                                            <!--<img class="main-img" src="/assets/images/1.jpg" alt=""  name="itemPreviewImgs">-->
                                            <!--<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                            <!--</div>-->
                                            <!--<div>-->
                                            <!--<img class="main-img" src="/assets/images/1.jpg" alt=""  name="itemPreviewImgs">-->
                                            <!--<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                            <!--</div>-->
                                            <!--<div>-->
                                            <!--<img class="main-img" src="/assets/images/1.jpg" alt=""  name="itemPreviewImgs">-->
                                            <!--<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                            <!--</div>-->
                                            <!--<div>-->
                                            <!--<img class="main-img" src="/assets/images/1.jpg" alt=""  name="itemPreviewImgs">-->
                                            <!--<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                            <!--</div>-->
                                            <!--<div>-->
                                            <!--<img class="main-img" src="/assets/images/1.jpg" alt=""  name="itemPreviewImgs">-->
                                            <!--<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                            <!--</div>-->
                                        </div>
                                        <div class="add" id="preImgAddP1">＋
                                            <input type="file" id="P1" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png">
                                        </div>
                                    </td>
                                    <td class="del">删除</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="warn-amount" style="color:red; margin-top:-110px;float:right;"></div>
                <div id="warn-price" style="color:red; margin-top:-90px;float:right;"></div>
                <h4 class="h4-custom-hmm">商品设置</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label">是否包邮</label>
                    <div class="col-sm-2">
                        <div class="radio-border">
                            <label class="radio-inline">
                                <input type="radio" name="orFreeShip" value="true"> 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="orFreeShip" value="false"> 否
                            </label>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r">是否分享</div></label>
                    <div class="col-sm-2">
                        <div class="radio-border">
                            <label class="radio-inline">
                                <input type="radio" name="orShare" value="true"> 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="orShare" value="false"> 否
                            </label>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r">分享次数</div></label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="shareCount" name="shareCount">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">是否限购</label>
                    <div class="col-sm-2">
                        <div class="radio-border">
                            <label class="radio-inline">
                                <input type="radio" name="orRestrictBuy" value="true"> 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="orRestrictBuy" value="false"> 否
                            </label>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label" ><div class="r">限购数量</div></label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="restrictAmount" name="restrictAmount">
                    </div>
                    <label class="col-sm-1 control-label">是否支持拼购</label>
                    <div class="col-sm-2">
                        <div class="radio-border">
                            <label class="radio-inline">
                                <input type="radio" name="orShoppingPoll" value="true"> 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="orShoppingPoll" value="false"> 否
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">发货区域</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="deliveryArea" name="deliveryArea">
                    </div>
                    <label class="col-sm-1 control-label">发货时间</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="deliveryTime" name="deliveryTime">
                    </div>
                    <div class="col-sm-2">
                        <span style="line-height: 34px">(多久可以发货)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">分享图片</label>
                    <div class="col-sm-3">
                        <div class="detail-main">
                            <div class="img-rongqi">
                                <img src="/assets/images/1.jpg" alt="">
                                <div class="btn-main">
                                    <button class="btn btn-primary active btn-xs" role="button" style="position: relative;background:#00B7EE;border:0px;" >
                                        编辑
                                        <input type="file">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" ><div class="r">重要通告</div></label>
                    <div class="col-sm-5">
                        <textarea rows="6"  class="form-control" id="itemNotice" name="itemNotice"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">优惠信息</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="publicity" id="publicity">
                    </div>
                    <div class="col-sm-1">
                        <span class="add1">添加</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <table class="table table-bordered" id="publicityTab">
                            <tr><td>优惠信息</td></tr>
                        </table>
                    </div>
                </div>
                <!-- 商品详细信息-->
                <h4 class="h4-custom-hmm">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.details")</h4>


                <div class="form-group">
                    <label class="col-sm-1 control-label"><div class="r" style="padding:3px;"> *</div><div class="r">商品主图片</div><div style="margin-top:20px;margin-right:30px;">(一张)</div></label>
                    <div class="col-sm-2">
                        <div id="galleryM">
                        </div>
                        <div class="master-img" style="border:1px solid #ccc; height:80px;">
                            <div class="add" id="masterImgAdd" style="margin-top:30px;margin-left:10px;">＋
                                <input type="file" id="M" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                            </div>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</label>
                    <div class="col-sm-5">
                        <div class="detail-img" style="border:1px solid #ccc;">
                            <div id="galleryD">
                            </div>
                            <div class="add" style="margin:30px 5px;;">＋
                                <input type="file" id="D" class="hidden1" value="" accept="image/gif, image/jpeg, image/webp, image/png"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productDesc")</label>

                    <div class="col-sm-7">
                        <textarea class="form-control" id="itemDesc" rows="6" name="itemDesc"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">商品参数</label>

                    <div class="col-sm-7">
                        <input type="hidden" class="form-control" id="features" name="features">
                        <input type="hidden" id="del" value='@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")'>
                        <table class="table table-bordered qubian feature" id="tabFea">
                            <tr>
                                <td >@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureName")</td>
                                <td width=380px>@Messages.get(new Lang(Lang.forCode(lang)),"item.add.featureValue")</td>
                                <td class="add">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.add")</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="attrN"/></td>
                                <td><input type="text" name="attrV"/></td>
                                <td class="del" >@Messages.get(new Lang(Lang.forCode(lang)),"item.add.delete")</td>
                            </tr>
                        </table>
                    </div>
                    <div id="warn-attr" style="color:red; margin-left:0px;margin-top:15px;"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>

}


<script type="text/javascript">
$(function()  {
    /* 一级类别改变重新加载二级类别*/
    $('#categorySelect').change(function() {
        var pcid = $("#categorySelect").val();
        $.ajax({
            type: "get",
            data: "pcid="+ pcid,
            url: "/getSubcates",
            success: function(data) {
                if (typeof data != undefined && data.length > 0 && data != null) {
                    $('#categorySubSelect').empty();
                    $('#categorySubSelect').append('<option value=""></option>');
                    $.each(data, function (i, item) {
                        if (window.lang == 'cn') {
                             $('#categorySubSelect').append("<option value=" + item.cateId + ">" + item.cateNameCn + "</option>");
                        } else if (window.lang == 'en') {
                             $('#categorySubSelect').append("<option value=" + item.cateId + ">" + item.cateNameEn + "</option>");
                        } else if (window.lang == 'kr') {
                             $('#categorySubSelect').append("<option value=" + item.cateId + ">" + item.cateNameKr + "</option>");
                        }
                    });
                }
                else {
                    $("#categorySubSelect").empty();
                }
            }
        });
    });
});

/** 上传图片 **/

$(document).on('change','.hidden1',function() {
    var id=window.event.srcElement.id;
    var files = this.files;
    for (var i = 0; i < files.length; i++) {
        previewImage(this.files[i], id);
    }
});

function previewImage(file, id) {
    var galleryId = "gallery" + id;
  	var gallery = document.getElementById(galleryId);
    var imageType = /image.*/;

    if (!file.type.match(imageType)) {
        throw "File Type must be an image";
    }

    var thumb = document.createElement("div");
    var img = document.createElement("img");
    img.classList.add('main-img');
    var button = document.createElement("button");
    button.classList.add('close');
    $(button).append('<span>&times;</span>');
    img.file = file;
    thumb.appendChild(img);
    thumb.appendChild(button);
    gallery.appendChild(thumb);

     //添加商品主图主图后,添加图片按钮置为不可点击且颜色变为灰色
     if (document.getElementById("galleryM").getElementsByTagName("div").length>0) {
         $("#M").attr({"disabled":true});
         document.getElementById('masterImgAdd').style.background="#ccc";
     }

     //商品预览图最多为6张
     if (id.indexOf("P")>=0 && document.getElementById("gallery"+id).getElementsByTagName("div").length==2) {
         $("#"+id).attr({"disabled":true});
         document.getElementById("preImgAdd"+id).style.background="#ccc";
     }

     upload(thumb, file, id);

    // Using FileReader to display the image content
    var reader = new FileReader();
    reader.onload = (function(aImg) {
        return function(e) {
            aImg.src = e.target.result;
        };
    })(img);
    reader.readAsDataURL(file);
}

function upload(thumb, file, id) {
    var formdata = new FormData();
    formdata.append("photo", file);
    formdata.append("params", "minify");
    var http = new XMLHttpRequest();
    var url = "http://172.28.3.18:3008/upload";
    http.open("POST", url, true);
    http.onreadystatechange = function() {
        if (http.readyState == 4 && http.status == 200) {
            var data = JSON.parse(http.responseText);
            var input= document.createElement("input");
            imgName = data.imgid;
            input.id = imgName.substr(0,imgName.lastIndexOf("."));
            input.type="hidden";
            input.name=data.imgid;
            input.value=data.path;
            thumb.appendChild(input);
            alert(data.message);
        }
    }
    http.send(formdata);
}

</script>