@import play.i18n._
@(prods:entity.Products, lang:String="cn",user:entity.User)

@scripts = {

<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/assets/css/xspsc.css"/>
}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsDetail")

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="content">
    <div class="container">
        <div class="row">
            <form class="form-horizontal">
                <div class="upinfo">
                    <h1 class="tit1">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.prodsDetail")</h1>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.cate")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="cateName" name="cateName" value="@prods.getCateId" disabled style="border:0">
                        </div>
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.brand")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="brandName" name="brandName" value="@prods.getBrandId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productName")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="productName" name="productName" value="@prods.getProductName">
                        </div>
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.merchName")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="merchName" name="merchName" value="@prods.getMerchName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productColor")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="productColor" name="productColor" value="@prods.getProductColor">
                        </div>
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productSize")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="productSize" name="productSize" value="@prods.getProductSize">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.sourceArea")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="sourceArea" name="sourceArea" value="@prods.getSourceArea">
                        </div>
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productAmount")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="productAmount" name="productAmount" value="@prods.getProductAmount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.sellDate")</div></label>
                        <div class="col-sm-3">
                            <input class="form-control" size="16" type="text" value="@prods.getSellOnDate" readonly id="sellOnDate" name="sellOnDate">
                        </div>
                        <label class="col-sm-1 control-label" style="margin-left:-100px;" >~</label>
                        <div class="col-sm-3">
                            <input class="form-control" size="16" type="text" value="@prods.getSellOffDate" readonly id="sellOffDate" name="sellOffDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productPrice")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="productPrice" name="productPrice" value="@prods.getProductPrice">
                        </div>
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.recommendPrice")</div></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="recommendPrice" name="recommendPrice" value="@prods.getRecommendPrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.productDesc")</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="productDesc" name="productDesc" value="@prods.getProductDesc">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.features")</label>
                        <div class="col-sm-7">
                            <!--<input type="text" class="form-control" id="features" name="features" value="@prods.getFeatures">-->
                            <table class="table table-bordered qubian">
                                <tr>
                                    <td><input type="text" name="attrN"/></td>
                                    <td><input type="text" name="attrV"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.masterImg")</div></label>
                        <div class="col-sm-3">
                            <div class="sctp" style="width:350px">
                                    <img src="http://172.28.3.18:3008@prods.getMasterImg()" alt="" width="40" height="40"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.previewImgs")</div></label>
                        <div class="col-sm-3">
                            <div class="sctp" style="width:350px">
                                <div class="sctp1 l">
                                    <img src="http://172.28.3.18:3008@prods.getMasterImg()" alt="" width="40" height="40"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" ><div class="r">@Messages.get(new Lang(Lang.forCode(lang)),"item.add.detailImgs")</div></label>
                        <div class="col-sm-3">
                            <div class="sctp" style="width:350px">
                                <div class="sctp1 l">
                                    <img src="http://172.28.3.18:3008@prods.getMasterImg()" alt="" width="40" height="40"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

}


<script type="text/javascript">

</script>