@import play.i18n._
@(lang:String="cn",user:domain.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/screenshot.css">
<script>
$(function() {
	/**	上传 **/
	$(document).on('click', '#upbn', function() {
		$('#fileinput').click();
	});

	$(document).on('change', '#fileinput', function() {
		var file = $(this);
		var files = $(this)[0].files;
		var fileName = files[0].name;
        var fileExt = files[0].name.match(/^(.*)(\.)(.{1,8})$/)[3].toLowerCase();;
		var allowedFileTypes = ["zip"];

		if (allowedFileTypes.indexOf(fileExt) > -1) {
            $('#js-userinfo-error').text('文件类型匹配').css('color', '#2fa900');
			setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);

			$('#file_area').find('span').remove();
			$('#file_area').append('<span style="margin-left: 20px;line-height: 31px;">'+fileName+'</span>');
		}else {
		    // alert("文件类型不匹配");
			file.after(file.clone().val(""));
			file.remove();
            $('#js-userinfo-error').text('文件类型不匹配');
			setTimeout("$('#js-userinfo-error').text('')", 2000);

			$('#file_area').find('span').remove();
			$('#file_area').append('<span style="margin-left: 20px;line-height: 31px;">'+fileName+'</span>');
			setTimeout("$('#file_area').find('span').remove()", 2000);
		}
	})

	$(document).on('change', '.form-data-area', function() {
		$('.usercenter-option > .user-state').css('background-position', '20px -73px');
		$('.usercenter-option > .user-state').text('已更改');
	})

	$(document).on('click', '#js-usercenter-submit', function() {

		var formdata = new FormData();

		if(!$('input[name=productType]').is(':checked')){
            $('#js-userinfo-error').text('请选择类型');
			setTimeout("$('#js-userinfo-error').text('')", 2000);
		}else if($('input[name=releaseNumber]').val()===null || $('input[name=releaseNumber]').val()===''){
            $('#js-userinfo-error').text('请输入版本号');
			setTimeout("$('#js-userinfo-error').text('')", 2000);
		}else if($('textarea[name=releaseDesc]').val()===null || $('textarea[name=releaseDesc]').val()===''){
            $('#js-userinfo-error').text('请输入版描述');
			setTimeout("$('#js-userinfo-error').text('')", 2000);
		}else if($('#fileinput').val()===null || $('#fileinput').val()===''){
            $('#js-userinfo-error').text('请上传文件');
			setTimeout("$('#js-userinfo-error').text('')", 2000);
		}else{
			$("#release").serializeArray().map(function(x){
				if(x.value!=='' && x.value!==null){
					console.log(x.name+ ' '+x.value)
					formdata.append(x.name, x.value);
				}
			});
			formdata.append('file', $('#fileinput')[0].files[0]);
			$.ajax({
				url: "/release/api/public",
				data: formdata,
				cache: false,
				contentType: false,
				processData: false,
				type: 'POST',
				success: function(data) {
					//console.log(data);
					if(data==='success'){
					alert("success");
						$('.usercenter-option > .user-state').css('background-position', '20px -174px');
						$('.usercenter-option > .user-state').text('未更改');
						$('#js-userinfo-error').text('保存成功').css('color', '#2fa900');
						setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 1000);
						<!--setTimeout(function(){-->
							<!--window.location.href='/release/view';-->
						<!--}, 2000);-->
					}else{
						alert('Server Error.')
					}
				}
			});
			// $('#release').submit();
		}
	})
})
</script>


}

@import java.lang.String; val title="API发布版本"

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">应用管理</span>
        <span class="icon-path">&gt;</span>
        <span class="current">API发布版本</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">API发布版本</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="js-usercenter-submit" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="js-usercenter-cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" id="release" action="/release/public" method="POST" enctype="multipart/form-data">
                <h4 class="h4-custom-hmm">版本信息</h4>
                <div class="form-group">
                    <label class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value='id' class="form-data-area" name="productType"> style-id
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value='imgProcess' class="form-data-area" name="productType"> style-imgProcess
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" value='promotion' class="form-data-area" name="productType"> style-promotion
                        </label>
                    </div>
                    <div class="col-sm-offset-2 col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value='service' class="form-data-area" name="productType"> style-service
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value='shopping' class="form-data-area" name="productType"> style-shopping
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value='web' class="form-data-area" name="productType"> style-web
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">版本号</label>
                    <div class="col-sm-8">
                        <input type="number" name="releaseNumber"  class="form-control form-data-area">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">版本名称</label>
                    <div class="col-sm-8">
                        <input type="text" name="releaseName"  class="form-control form-data-area">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">版本描述</label>
                    <div class="col-sm-8">
                        <textarea id="desc" name='releaseDesc' class="form-control form-data-area" style="resize: vertical"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">文件</label>
                    <div id="file_area" class="col-sm-8">
                        <input style="display:none;" class='form-data-area' type="file" id="fileinput" name="file" accept="application/zip" />
                        <button type="button" id="upbn" class="btn btn-primary btn-sm">上传</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
}
