@import play.i18n._
@(lang:String="cn",user:entity.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/screenshot.css">
<script>
$(function() {
	$(document).on('change', '#fileinput', function() {
	    var file = $(this);
        file.after(file.clone().val(""));
        file.remove();
		
	    var files = $(this)[0].files;

	    var allowedFileTypes = ["image/jpeg", "application/ipa", "application/apk", ];

	    console.log(files[0].type);
	    if (allowedFileTypes.indexOf(files[0].type) > -1) {
	    	alert("文件类型不匹配");
	    }
	})
})
</script>
}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.title")

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu1")</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.title")</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="js-usercenter-submit" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="js-usercenter-cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" id="release" action="/release/public" method="POST">
                <h4 class="h4-custom-hmm">版本信息</h4>
                <!--<div class="form-group">-->
                    <!--<ul class="rec_sku-title">-->
                        <!--<li>-->
                            <!--<p><label class="radio"><input type="radio" data-xr="A" class="set-main temp_radio_class " name="setMain">安卓</label></p>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<p><label class="radio"><input type="radio" data-xr="I" class="set-main temp_radio_class" name="setMain">IOS</label></p>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">系统</label>
                    <div class="col-sm-3">
                        <label class="radio-inline">
                            <input type="radio" name="system" checked> android
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="system"> ios
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">版本号</label>
                    <div class="col-sm-8">
                        <input type="text"class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">版本描述</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" style="resize: vertical"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">上传</label>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-primary btn-sm">上传</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
}
