@import play.i18n._
@(lang:String="cn",user:entity.User,androidVersion:List[entity.VersionVo],iosVersion:List[entity.VersionVo])

@scripts = {
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/screenshot.css">
<script>
$(function() {
    /**	上传 **/
	$(document).on('click', '#upbn', function() {
		$('#fileinput').click();
	});

	$(document).on('change', '#fileinput', function() {
	    var file = $(this);
        file.after(file.clone().val(""));
        file.remove();
		
	    var files = $(this)[0].files;

	    var allowedFileTypes = ["image/jpeg", "application/ipa", "application/apk", ];

	    console.log(files[0].type);
	    if (allowedFileTypes.indexOf(files[0].type) > -1) {
	    	alert("文件类型不匹配");
	    }
	})

	$('#release').submit(function(eventObj) {
    $(this).append('<input type="hidden" name="field_name" value="value" /> ');
    return true;
});
})
</script>
}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.title")

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">应用管理</span>
        <span class="icon-path">&gt;</span>
        <span>版本历史</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">版本历史</span>
    </div>
    <div class="container-fluid table-content">
        <h4 class="h4-custom-hmm">Android版本列表</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <th style="width: 5%;text-align: center;vertical-align: middle;">主键</th>
                <th style="width: 6%;text-align: center;vertical-align: middle;">版本号</th>
                <th style="text-align: center;vertical-align: middle;">类型</th>
                <th style="width: 7%;text-align: center;vertical-align: middle;">下载链接</th>
                <th style="width: 10%;text-align: center;vertical-align: middle;">发布版本人员</th>
                <th style="text-align: center;vertical-align: middle;">版本描述</th>
                <th style="width: 8%;text-align: center;vertical-align: middle;">发版时间</th>
                <th style="width: 7%;text-align: center;vertical-align: middle;">配置文件</th>
                <th style="width: 8%;text-align: center;vertical-align: middle;">是否最新版</th>
            </thead>

            <tbody>
                @for(android <- androidVersion) {
                    <tr class = "tb-list-data">
                        <td style="text-align: center;vertical-align: middle;">@android.getId()</td>
                        <td style="text-align: center;vertical-align: middle;">@android.getReleaseNumber()</td>
                        @if(android.getProductType().equals("A")){<td style="text-align: center;vertical-align: middle;">Android</td>}
                        @if(android.getProductType().equals("I")){<td style="text-align: center;vertical-align: middle;">IOS</td>}
                        <td style="width: 11%;text-align: center;vertical-align: middle;"><a href="@android.getDownloadLink()" target="_blank">@android.getFileName()</a></td>
                        <td style="width: 10%;text-align: center;vertical-align: middle;">@android.getAdminUserNm()</td>
                        <td style="text-align: left;vertical-align: inherit;">@android.getReleaseDesc()</td>
                        <td>@android.getReleaseAt()</td>
                        <td style="text-align: center;vertical-align: middle;"><a href="@android.getUpdateReqXml()" target="_blank">点击查看</a></td>
                        @if(android.getCurrentVersion()){<td style="color: red;">是</td>}
                        @if(!android.getCurrentVersion()){<td>否</td>}
                    </tr>
                }
                <!---公用模块,id不能改变,只需要改变合并行数-->
                <tr id="nodata-td" style="display:none;"><td colspan="6">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.nodata")</td></tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid table-content">
        <h4 class="h4-custom-hmm">IOS版本列表</h4>
        <table class="table table-bordered table-hover">
            <thead>
            <th style="width: 5%;text-align: center;vertical-align: middle;">主键</th>
            <th style="width: 6%;text-align: center;vertical-align: middle;">版本号</th>
            <th style="text-align: center;vertical-align: middle;">类型</th>
            <th style="width: 7%;text-align: center;vertical-align: middle;">下载链接</th>
            <th style="width: 10%;text-align: center;vertical-align: middle;">发布版本人员</th>
            <th style="text-align: center;vertical-align: middle;">版本描述</th>
            <th style="width: 8%;text-align: center;vertical-align: middle;">发版时间</th>
            <th style="width: 7%;text-align: center;vertical-align: middle;">配置文件</th>
            <th style="width: 13%;text-align: center;vertical-align: middle;">AppStore下载地址</th>
            <th style="width: 8%;text-align: center;vertical-align: middle;">是否最新版</th>
            </thead>

            <tbody>
            @for(android <- iosVersion) {
            <tr class = "tb-list-data">
                <td style="text-align: center;vertical-align: middle;">@android.getId()</td>
                <td style="text-align: center;vertical-align: middle;">@android.getReleaseNumber()</td>
                @if(android.getProductType().equals("A")){<td style="text-align: center;vertical-align: middle;">Android</td>}
                @if(android.getProductType().equals("I")){<td style="text-align: center;vertical-align: middle;">IOS</td>}
                <td style="width: 11%;text-align: center;vertical-align: middle;"><a href="@android.getDownloadLink()" target="_blank">@android.getFileName()</a></td>
                <td style="width: 10%;text-align: center;vertical-align: middle;">@android.getAdminUserNm()</td>
                <td style="text-align: left;vertical-align: inherit;">@android.getReleaseDesc()</td>
                <td>@android.getReleaseAt()</td>
                <td style="text-align: center;vertical-align: middle;"><a href="@android.getUpdateReqXml()" target="_blank">点击查看</a></td>
                <td style="text-align: center;vertical-align: middle;"><a href="@android.getAppStoreDownloadLink()" target="_blank">点击查看</a></td>
                @if(android.getCurrentVersion()){<td style="color: red;">是</td>}
                @if(!android.getCurrentVersion()){<td>否</td>}
            </tr>
            }
            <!---公用模块,id不能改变,只需要改变合并行数-->
            <tr id="nodata-td" style="display:none;"><td colspan="6">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.nodata")</td></tr>
            </tbody>
        </table>
    </div>
</div>
}