@import play.i18n._
@(lang:String="cn",uploadUrl:String,ctripUrl:String,user:domain.User)
@scripts = {
<link rel="stylesheet" href="/assets/css/jquery-ui.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/screenshot.css">
<link rel="stylesheet" href="/assets/css/upload.css">
<link rel="stylesheet" href="/assets/css/button.css">
<link rel="stylesheet" href="/assets/css/font-face.css">
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/Math.uuid.js"></script>
<script src="/assets/js/upload.style.js"></script>
<script src="/assets/js/shot.style.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/image-upload.js"></script>
<script>window.uploadUrl = "@uploadUrl" + "/upload"</script>
<script>window.ctripUrl = "@ctripUrl"</script>
<script>
    $(function(){
        pageEditStatus = true;

    })

</script>


}

@import java.lang.String; val title=Messages.get(new Lang(Lang.forCode(lang)),"上传图片")

@layout(lang=lang,title=title,user=user)(scripts) {

<div style="width: 50%;margin: 10px auto;display:none;" class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    @if(flash.containsKey("success")) {
    @flash.get("success")
    }
    <span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>
</div>

<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/summary"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"优惠券系统")</span>
        <span class="icon-path">&gt;</span>
        <span>@Messages.get(new Lang(Lang.forCode(lang)),"上传图片")</span>
    </div>
</div>
<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">@Messages.get(new Lang(Lang.forCode(lang)),"上传图片")</span>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-sm-2">
            <a href="javascript:void(0)" class="upload-label btn-primary btn-xs">
                上传图片
                <input type="file" id="upload-label" accept="image/gif, image/jpeg, image/webp, image/png" multiple="multiple">
            </a>
        </div>
        <div class="col-sm-9" style="height: 300px;border: 1px solid #ccc" id="galleryD"></div>
    </div>
</div>
}

