@import play.i18n._
@(lang:String="cn",user:entity.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/slider.css">
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
}

@import java.lang.String; var title="新增用户"

@layout(lang=lang,title=title,user=user)(scripts) {

<div class="mbread" style="width:60%">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.users.menu1")</span>
        <span class="icon-path">&gt;</span>
        <span>新增用户</span>
    </div>
</div>

<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">新增用户</span>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="submit" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="upinfo">
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-1 control-label" >类别</label>-->
                    <!--<div class="col-sm-3">-->
                        <!--<select class="form-control" id="cateId" name="cateId">-->
                            <!--<option value="">请选择</option>-->
                            <!--<option value="153">化妆品类商品适用券</option>-->
                            <!--<option value="172">配饰类商品适用券</option>-->
                            <!--<option value="165">服饰类商品适用券</option>-->
                            <!--<option value="555">全场通用券</option>-->
                            <!--<option value="777">新人优惠券</option>-->
                            <!--<option value="211">指定商品适用券</option>-->
                            <!--<option value="999">免邮券</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<label class="col-sm-1 control-label" >限额(￥)</label>-->
                    <!--<div class="col-sm-3">-->
                        <!--<input type="text" class="form-control" id="limitQuota" name="limitQuota">-->
                    <!--</div>-->
                    <!--<label class="col-sm-1 control-label" >面值(￥)</label>-->
                    <!--<div class="col-sm-2">-->
                        <!--<input type="text" class="form-control" id="denomination" name="denomination">-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </form>
    </div>
</div>
}

<script>

    /** 数据提交 **/
    $("#submit").click(function(){
        if (isPost) {
            $.ajax({
                type :  "POST",
                url : "/aduser/save",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(coupon_list),
                error : function(request) {
                    if (window.lang = 'cn') {
                        $('#js-userinfo-error').text('保存失败');
                    } else {
                        $('#js-userinfo-error').text('Save error');
                    }
                    setTimeout("$('#js-userinfo-error').text('')", 2000);
                },
                success: function(data) {
                    $('.usercenter-option > .user-state').css('background-position', '20px -174px');
                    if (window.lang = 'cn') {
                        $('#js-userinfo-error').text('保存成功').css('color', '#2fa900');
                        $('.usercenter-option > .user-state').text('未更改');
                    } else {
                        $('#js-userinfo-error').text('Save success');
                        $('.usercenter-option > .user-state').text('Unchanged');
                    }
                    setTimeout("$('#js-userinfo-error').text('').css('color','#c00')", 2000);
                    setTimeout("location.href='/"+window.lang+"/aduser/add'", 3000);
                }
            });
        }

    });

</script>