@(title: String, headopts: Html = Html(""))(content: Html)
<!DOCTYPE html>
<html>
	<head>
	<title>
			@title
	</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		@headopts
	</head>
	<body>
		@content
	</body>
<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?120c8fd6d308dd087515684ba29c321a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>


