<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
<div class="ser-bg">
    <img src="/assets/images/404-bg.jpg" alt="">
    <div class="zhezhao"></div>
    <div class="not-500">
        <img src="/assets/images/500.png" alt="">
        <h4>服务器出现问题:</h4>
        <a href="#">GO BACK TO HOME</a>
    </div>
</div>
</body>
</html>