<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
<div class="not-bg">
    <img src="/assets/images/404-bg.jpg" alt="">
    <div class="zhezhao"></div>
    <div class="not-404">
        <img src="/assets/images/404.png" alt="">
        <h4>PACE NOT FOUND</h4>
        <a href="#">GO BACK TO HOME</a>
    </div>
</div>
</body>
</html>