<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
<div class="not-bg">
    <div class="content">
        <div class="content-left pull-left">
            <div class="logo"></div>
            <h3>404.<small>页面不存在</small></h3>
            <h4>错误信息:<small>......</small></h4>
            <a href="#">返回首页</a>
        </div>
        <div class="content-right pull-right">
        </div>
    </div>
</div>
</body>
</html>