<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误:500</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
<div class="not-bg">
    <div class="content">
        <div class="content-left pull-left">
            <div class="logo"></div>
            <h3>500.<small>服务器异常</small></h3>
            <h4>服务器异常:<small>......</small></h4>
            <a href="/cn/summary">返回首页</a>
        </div>
        <div class="content-right pull-right">
        </div>
    </div>
</div>
</body>
</html>