@import play.i18n._
@(lang:String)
<div class="footer">
    <ul class="website_info_ul">
        <li>@Messages.get(new Lang(Lang.forCode(lang)),"footer.menu1")</li>
        <li>@Messages.get(new Lang(Lang.forCode(lang)),"footer.menu2")</li>
        <li>@Messages.get(new Lang(Lang.forCode(lang)),"footer.menu3")</li>
        <li>@Messages.get(new Lang(Lang.forCode(lang)),"footer.menu4")</li>
        <li class="info_ul_last">@Messages.get(new Lang(Lang.forCode(lang)),"footer.menu5")</li>
    </ul>
</div>