@import play.i18n._
@(user:entity.User, lang:String)

<header id="js-header" class="header else">
    <div class="main clearfix">
        <a href="javascript:void(0)" class="header-logo fl"></a>
        <span class="logo-span">@Messages.get(new Lang(Lang.forCode(lang)),"nav.logo.span")</span>
        <div class="fr">
            <nav class="nav pr fl">
                
                <ul class="header-navi-list clearfix">
                    <li class="header-navi-item fl">
                        <a href="/@lang/front" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
						<i class="header-nav-border-relative"></i>
                    </li>
                    @if(user.role==entity.User_Type.ADMIN) {
                        <li class="header-navi-item fl">
                            <div class="user-info fl js-header-dropmenu">
                                <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                                <ul class="header-dropdown-list fs13 js-header-list">
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/topic/add" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu2")</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/topic/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu3")</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/topic/slider" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu1")</a>
                                    </li>
                                </ul>
                                <i class="header-nav-border"></i>
                            </div>
                        </li>

                        <li class="header-navi-item fl">
                            <div class="user-info fl js-header-dropmenu">
					    		<span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                                <ul class="header-dropdown-list fs13 js-header-list">
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/comm/add" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu2")</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/comm/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu1")</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/carr/search" class="info-link">运费模板</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/carr/search" class="info-link">订单查询</a>
                                    </li>
                                </ul>
					    		<i class="header-nav-border"></i>
                            </div>
                        </li>

                        <li class="header-navi-item fl">
                            <div class="user-info fl js-header-dropmenu">
                                <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                                <ul class="header-dropdown-list fs13 js-header-list">
                                    <li class="header-dropdown-item">
                                        <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell.menu1")</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell.menu2")</a>
                                    </li>
                                </ul>
                                <i class="header-nav-border"></i>
                            </div>
                        </li>

                        <li class="header-navi-item fl">
                            <div class="user-info fl js-header-dropmenu">
                                <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.users")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                                <ul class="header-dropdown-list fs13 js-header-list">
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/prodCreate" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.users.menu1")</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="/@lang/prodsList" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.myproducts.menu2")</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.myproducts.menu3")</a>
                                    </li>
                                </ul>
                                <i class="header-nav-border"></i>
                            </div>
                        </li>



                    <!--@if(user.role==entity.User_Type.TRANSLATION || user.role==entity.User_Type.ADMIN) {-->
                    <!--<li class="header-navi-item fl">-->
                        <!--<a href="javascript:void(0)" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.translate")</a>-->
                        <!--<i class="header-nav-border-relative"></i>-->
                    <!--</li>-->
                    <!--}-->
                        <li class="header-navi-item fl">
                            <a href="javascript:void(0)" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.app")</a>
					    	<i class="header-nav-border-relative"></i>
                        </li>
                    }
                    <!--@if(user.role==entity.User_Type.SYSTEM || user.role==entity.User_Type.ADMIN) {-->
                        <!--<li class="header-navi-item fl">-->
                            <!--<a href="javascript:void(0)" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.system")</a>-->
					    	<!--<i class="header-nav-border-relative"></i>-->
                        <!--</li>-->
                    <!--}-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
							<span class="info-inner db">@user.nickname<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.user.info")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)"class="info-link ">@Messages.get(new Lang(Lang.forCode(lang)),"nav.user.message")&nbsp;<span id="header-drop-count"></span></a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/logout" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"login.quit")</a>
                                </li>
                            </ul>
							<i class="header-nav-border"></i>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>