<link rel="stylesheet" href="/assets/css/header.css">
<header id="js-header" class="header else">
    <div class="main clearfix">
        <a href="javascript:void(0)" class="header-logo fl"></a>
        <span class="logo-span">后台管理</span>
        <div class="fr">
            <nav class="nav pr fl">
                
                <ul class="header-navi-list clearfix">
                    <li class="header-navi-item fl">
                        <a href="javascript:void(0)" class="header-link tdn">首页</a>
						<i class="header-nav-border-relative"></i>
                    </li>
                    <li class="header-navi-item fl">
                        <a href="javascript:void(0)" class="header-link tdn">翻译列表</a>
						<i class="header-nav-border-relative"></i>
                    </li>
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
							<span class="info-inner db">商品管理<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">商品录入</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">商品列表</a>
                                </li>
                            </ul>
							<i class="header-nav-border"></i>
                        </div>
                    </li>
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
							<span class="info-inner db">主题管理<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">主题录入</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">主题列表</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">滚动条管理</a>
                                </li>
                            </ul>
							<i class="header-nav-border"></i>
                        </div>
                    </li>
                    <li class="header-navi-item fl">
                        <a href="javascript:void(0)" class="header-link tdn">应用管理</a>
						<i class="header-nav-border-relative"></i>
                    </li>
                    <li class="header-navi-item fl">
                        <a href="javascript:void(0)" class="header-link tdn">系统管理</a>
						<i class="header-nav-border-relative"></i>
                    </li>
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
							<span class="info-inner db">eagle2088<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link active">个人中心</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)"class="info-link ">消息&nbsp;<span id="header-drop-count"></span></a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">退出</a>
                                </li>
                            </ul>
							<i class="header-nav-border"></i>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>