@import play.i18n.Messages,play.i18n.Lang
@(user:domain.User, lang:String)

<header id="js-header" class="header else">
    <div class="main clearfix">
        <a href="javascript:void(0)" class="header-logo fl"></a>
        <span class="logo-span">@Messages.get(new Lang(Lang.forCode(lang)),"nav.logo.span")</span>

        <div class="fr">
            <nav class="nav pr fl">
                <ul class="header-navi-list clearfix">
                    <!--超级管理员的菜单项-->
                    @if(user.userType.get=="ROOT") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/summary" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--供应管理-->
                    <!--<li class="header-navi-item fl">-->
                        <!--<a href="/supply/admin" class="header-link tdn">供应商管理</a>-->
                        <!--<i class="header-nav-border-relative"></i>-->
                    <!--</li>-->
                    <!--主题管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/add" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/h5Add" class="info-link">H5主题录入</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu3")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/sort " class="info-link">主题排序</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/slider" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu1")</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--拼购管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">拼购管理<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/add" class="info-link">添加拼购商品</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/search" class="info-link">拼购商品查询</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/activity/search" class="info-link">拼购团查询</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--商品管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/add" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu1")</a>
                                </li>
                                <!--<li class="header-dropdown-item">-->
                                    <!--<a href="/itemInfo/search" class="info-link">商品导入</a>-->
                                <!--</li>-->
                                <li class="header-dropdown-item">
                                    <a href="/coup/add" class="info-link">发放优惠券</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/coup/search" class="info-link">已使用优惠券</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/carr/search" class="info-link">运费模板</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/cate/search" class="info-link">商品类别</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/brand/search" class="info-link">品牌管理</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--订单管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"订单管理")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu4")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/unpaidOrders" class="info-link">超时订单</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/signedOrders" class="info-link">已签收订单</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/refundTempList" class="info-link">退款查询</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--数据中心-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell.menu1")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/data/config/search" class="info-link">系统参数</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/log/search" class="info-link">操作日志</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/userlog/search" class="info-link">用户行为记录</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--用户管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.users")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.users.menu1")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/aduser/add" class="info-link">新增用户</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/aduser/search" class="info-link">用户管理</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/appUser/search" class="info-link">APP用户</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.myproducts.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.myproducts.menu3")</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--应用管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.app")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/release/view" class="info-link">发布版本</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/list" class="info-link">版本历史</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/apiView" class="info-link">API发布版本</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/apiVersionList" class="info-link">API版本历史</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/log/view" class="info-link">日志查看</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>

                    <!--优惠券系统的菜单项-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">优惠券系统<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/coupon/import" class="info-link">优惠券导入</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/coupon/search" class="info-link">优惠券查询</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>

                    <!--超级管理员的菜单项-->
                    }

                    <!--系统管理员的菜单项(用户,版本)-->
                    @if(user.userType.get=="SYSTEM") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/summary" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--用户管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.users")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.users.menu1")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/aduser/add" class="info-link">新增用户</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/aduser/search" class="info-link">用户管理</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/appUser/search" class="info-link">APP用户</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.myproducts.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.myproducts.menu3")</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--应用管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.app")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/release/view" class="info-link">发布版本</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/list" class="info-link">版本历史</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/apiView" class="info-link">API发布版本</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/apiVersionList" class="info-link">API版本历史</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/log/view" class="info-link">日志查看</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--系统管理员的菜单项(用户,版本)-->
                    }

                    <!--管理员的菜单项(除供应管理,用户,版本)-->
                    @if(user.userType.get=="ADMIN") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/summary" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--主题管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/add" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/h5Add" class="info-link">H5主题录入</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu3")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/sort " class="info-link">主题排序</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/slider" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu1")</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--拼购管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">拼购管理<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/add" class="info-link">添加拼购商品</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/search" class="info-link">拼购商品查询</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/activity/search" class="info-link">拼购团查询</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--商品管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/add" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu1")</a>
                                </li>
                                <!--<li class="header-dropdown-item">-->
                                    <!--<a href="/itemInfo/search" class="info-link">商品导入</a>-->
                                <!--</li>-->
                                <li class="header-dropdown-item">
                                    <a href="/coup/add" class="info-link">发放优惠券</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/coup/search" class="info-link">已使用优惠券</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/carr/search" class="info-link">运费模板</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/cate/search" class="info-link">商品类别</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/brand/search" class="info-link">品牌管理</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--订单管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"订单管理")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu4")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/unpaidOrders" class="info-link">超时订单</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/signedOrders" class="info-link">已签收订单</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/refundTempList" class="info-link">退款查询</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--数据中心-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell.menu1")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.data.sell.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/data/config/search" class="info-link">系统参数</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/log/search" class="info-link">操作日志</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/userlog/search" class="info-link">用户行为记录</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--管理员的菜单项(除供应管理,用户,版本)-->
                    }

                    <!--运营人员的菜单项(主题,拼购,商品,订单)-->
                    @if(user.userType.get=="OPERATE") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/summary" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--主题管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/add" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/h5Add" class="info-link">H5主题录入</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu3")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/sort " class="info-link">主题排序</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/topic/slider" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.themes.menu1")</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--拼购管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">拼购管理<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/add" class="info-link">添加拼购商品</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/search" class="info-link">拼购商品查询</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/pin/activity/search" class="info-link">拼购团查询</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--商品管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/add" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu2")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu1")</a>
                                </li>
                                <!--<li class="header-dropdown-item">-->
                                    <!--<a href="/itemInfo/search" class="info-link">商品导入</a>-->
                                <!--</li>-->
                                <li class="header-dropdown-item">
                                    <a href="/coup/add" class="info-link">发放优惠券</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/coup/search" class="info-link">已使用优惠券</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/carr/search" class="info-link">运费模板</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/cate/search" class="info-link">商品类别</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/brand/search" class="info-link">品牌管理</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--订单管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"订单管理")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/search" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.products.menu4")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/unpaidOrders" class="info-link">超时订单</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/signedOrders" class="info-link">已签收订单</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/comm/order/refundTempList" class="info-link">退款查询</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--运营人员的菜单项(主题,拼购,商品,订单)-->
                    }

                    <!--财务人员的菜单项(财务,审核)-->
                    @if(user.userType.get=="FINANCE") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/summary" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--财务人员的菜单项(财务,审核)-->
                    }

                    <!--客服人员的菜单项(客服)-->
                    @if(user.userType.get=="SERVICE") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/summary" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--客服人员的菜单项(客服)-->
                    }

                    <!--版本发布人员的菜单项(版本发布)-->
                    @if(user.userType.get=="PUBLISH") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/summary" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--应用管理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.app")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/release/view" class="info-link">发布版本</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/list" class="info-link">版本历史</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/apiView" class="info-link">API发布版本</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/release/apiVersionList" class="info-link">API版本历史</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/log/view" class="info-link">日志查看</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--版本发布人员的菜单项(版本发布)-->
                    }

                    <!--供应管理系统 管理员 的菜单项-->
                    @if(user.userType.get=="SADMIN") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/front" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--供应管理-->
                    <li class="header-navi-item fl">
                        <a href="/supply/admin" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.supply.menu1")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--供应管理系统 管理员 的菜单项-->
                    }

                    <!--供应管理系统 供应商 的菜单项-->
                    @if(user.userType.get=="SUPPLIER") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/front" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--供应管理 订单处理-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@Messages.get(new Lang(Lang.forCode(lang)),"nav.supply")<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/supply/my" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.supply.menu1")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/@lang/supply/order/process" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.supply.menu2")</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--供应管理系统 供应商 的菜单项-->
                    }

                    <!--供应管理系统 翻译人员 的菜单项-->
                    @if(user.userType.get=="TRANSLATION") {
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/front" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--供应管理 翻译 -->
                    <li class="header-navi-item fl">
                        <a href="/supply/list" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.supply.menu1")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <!--供应管理系统 翻译人员 的菜单项-->
                    }

                    <!--其他类型用户的菜单项 销售报表处理 -->
                    @if(user.userType.get=="OTHER"){
                    <!--销售报表-->
                    <!--首页-->
                    <li class="header-navi-item fl">
                        <a href="/front" class="header-link tdn">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</a>
                        <i class="header-nav-border-relative"></i>
                    </li>
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">销售报表<i class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/sales/import" class="info-link">数据导入</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/sales/search" class="info-link">销售数据</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/sales/order/search" class="info-link">订单查询</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/sales/statistics/view" class="info-link">销售汇总</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/sales/import/excel" class="info-link">导入Excel</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--其他类型用户的菜单项 销售报表处理 -->
                    }


                    <!--个人中心-->
                    <li class="header-navi-item fl">
                        <div class="user-info fl js-header-dropmenu">
                            <span class="info-inner db">@user.enNm<i
                                    class="ml5 caret caret-down caret-b-9b"></i></span>
                            <ul class="header-dropdown-list fs13 js-header-list">
                                <li class="header-dropdown-item">
                                    <a href="/aduser/info" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"nav.user.info")</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="javascript:void(0)" class="info-link ">@Messages.get(new Lang(Lang.forCode(lang)),"nav.user.message")&nbsp;<span id="header-drop-count"></span></a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a href="/logout" class="info-link">@Messages.get(new Lang(Lang.forCode(lang)),"login.quit")</a>
                                </li>
                            </ul>
                            <i class="header-nav-border"></i>
                        </div>
                    </li>
                    <!--消息-->
                    <li class="header-navi-item fl">
                        <a href="javascript:;" class="news">
                            <i>10</i>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="new">
                <ul>
                    <li class="first"><span>你有3个通知</span> <i>X</i></li>
                    <li><a href="javascript:;"><i class="left"><img src="/assets/images/img01.png"/></i><span
                            class="middle">谁谁谁给您发送电子邮件</span><b class="right">1分钟前</b></a></li>
                    <li><a href="javascript:;"><i class="left"><img src="/assets/images/img01.png"/></i><span
                            class="middle">谁谁谁给您发送电子邮件</span><b class="right">1分钟前</b></a></li>
                    <li><a href="javascript:;"><i class="left"><img src="/assets/images/img01.png"/></i><span
                            class="middle">谁谁谁给您发送电子邮件</span><b class="right">1分钟前</b></a></li>
                    <li class="last"><a href="javascript:;"><span>查看所有通知</span><b><img src="/assets/images/img02.png"/>
                    </b></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>