@import play.i18n._

@(username:String ="Admin", lang:String = "cn", level: String = "homepage", title: String = "Seller Admin")(scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">
    <script src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    @scripts
</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            @header(username,lang)
        </div>
        <div class="wrap-content">
            @content
        </div>
        <div class="wrap-footer">
            @footer()
        </div>
    </div>
</body>
</html>