@import play.i18n._

@(lang:String, title: String = "HMM Admin",user:entity.User = null)(scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/header.css">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
    @scripts
</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            @header(user,lang)
        </div>
        <div class="wrap-content">
            @content
        </div>
        <div class="wrap-footer">
            @footer(lang)
        </div>
    </div>
</body>
</html>