@import play.i18n._
@(lang:String,pageSize:Integer,countNum:Integer,pageCount:Integer,productList:List[entity.sale.SaleProduct],user:entity.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker1.css"/>
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/search.js"></script>
<!-- 此为调用分页所提供的函数名前缀 -->
<script>window.search_args = 'saleslist'</script>
<script>
    $(function(){
        $(function () {
            $('#datetimepicker-starttime').datetimepicker({
                locale: 'zh-cn',
                format:'YYYY-MM-DD HH:mm:ss'
            });
            $('#datetimepicker-endtime').datetimepicker({
                locale: 'zh-cn',
                format:'YYYY-MM-DD HH:mm:ss'
            });
        });
    })
</script>
}
@import java.lang.String; val title="销售数据"

@layout(lang="cn",title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">销售报表</span>
        <span class="icon-path">&gt;</span>
        <span>销售数据</span>
    </div>
</div>
<div class="content-1">
    <div class="page-title">
        <span class="title-name">销售产品数据</span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <!--订单号-->
            <label class="col-sm-2 control-label">订单号</label>
            <div class="col-sm-4">
                <input id = "sku-id" type="number" min="10000" max="99999999" class="form-control"/>
            </div>
            <!--品名-->
            <label class="col-sm-2 control-label">品名</label>
            <div class="col-sm-4">
                <input id = "sku-title" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <!--开始时间-->
            <label class="col-sm-2 control-label">开始时间</label>
            <div class="col-sm-4">
                <div id="datetimepicker-starttime" class="input-group date">
                    <input id="item-form-starttime" class="form-control col-sm-2"  type="text">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <!--结束时间-->
            <label class="col-sm-2 control-label">结束时间</label>
            <div class="col-sm-4">
                <div id="datetimepicker-endtime" class="input-group date">
                    <input id="item-form-endtime" class="form-control col-sm-2"  type="text">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>

        <div class="btn-s">
            <input type="reset" class="btn btn-primary btn-s-2" value='@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.reset.bt")'/>
            <a id="topic-search-bt" href="javascript:void(0)" class="btn btn-primary btn-s-2">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.search.bt")</a>
        </div>
    </form>
    <div class="table-content">
        <!--id必须为tb-topic 公用js需要使用-->
        <table id="tb-topic" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>商品名称</th>
                <th>SKU编码</th>
                <th>货品编码</th>
                <th>规格</th>
                <th>保税区</th>
                <th>总销量</th>
                <th>库存量</th>
                <th>库存商品成本</th>
                <th>库存商品价值</th>
                <th>进货量</th>


            </tr>
            </thead>
            <tbody>
                @for(product <- productList){
                <tr class = "tb-list-data">
                    <td><a href="/@lang/topic/updateById/@product.getId()">@product.getId()</a></td>
                    <td>@product.getName()</td>
                    <td>@product.getSkuCode()</td>
                    <td>@product.getProductCode()</td>
                    <td>@product.getSpec()</td>
                    <td>@product.getInvArea()</td>
                    <td>@product.getSaleCount()</td>
                    <td>@product.getInventory()</td>
                    <td>@product.getProductCost()</td>
                    <td>@product.getStockValue()</td>
                    <td>@product.getPurchaseCount()</td>


                </tr>
                }
            <tr id="nodata-td" style="display:none;"><td colspan="9">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.nodata")</td></tr>
            </tbody>
        </table>

        <!-- 公用分页模块,直接拷贝,传入相应的字段即可-->

        <!-- 公用模块,直接拷贝-->
    </div>
</div>

<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
}

