@import play.i18n._
@(lang:String,pageSize:Integer,countNum:Integer,pageCount:Integer,orderList:List[domain.sale.SaleOrder],user:domain.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker1.css"/>
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/search.css">
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/sale.js"></script>
<!-- 此为调用分页所提供的函数名前缀 -->
<script>window.search_args = 'saleOrderlist'</script>
<script>
    $(function () {
        $('#datetimepicker-starttime').datetimepicker({
            locale: 'zh-cn',
            format:'YYYY-MM-DD'
        });
        $('#datetimepicker-endtime').datetimepicker({
            locale: 'zh-cn',
            format:'YYYY-MM-DD'
        });
    });
</script>
}
@import java.lang.String; val title="销售数据"

@layout(lang="cn",title=title,user=user)(scripts) {
<div class="mbread">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">销售报表</span>
        <span class="icon-path">&gt;</span>
        <span>销售数据</span>
    </div>
</div>
<div class="content-1">
    <div class="page-title">
        <span class="title-name">销售订单数据</span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <!--订单号-->
            <label class="col-sm-2 control-label">订单号</label>
            <div class="col-sm-4">
                <input id = "orderId" type="number" min="10000" max="99999999" class="form-control"/>
            </div>
            <!--品名-->
            <label class="col-sm-2 control-label">品名</label>
            <div class="col-sm-4">
                <input id = "productName" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <!--开始时间-->
            <label class="col-sm-2 control-label">开始时间</label>
            <div class="col-sm-4">
                <div id="datetimepicker-starttime" class="input-group date">
                    <input id="starttime" class="form-control col-sm-2"  type="text">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <!--结束时间-->
            <label class="col-sm-2 control-label">结束时间</label>
            <div class="col-sm-4">
                <div id="datetimepicker-endtime" class="input-group date">
                    <input id="endtime" class="form-control col-sm-2"  type="text">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">商店</label>
            <div class="col-sm-4">
                <select class="form-control form-data-area" id="shop">
                    <option value="-1">全部</option>
                    <option value="1">韩秘美专营店</option>
                    <option value="2">韩秘美化妆品店</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">商品ID</label>
            <div class="col-sm-4">
                <input id = "saleProductId" type="text" class="form-control"/>
            </div>
        </div>

        <div class="btn-s">
            <input type="reset" class="btn btn-primary btn-s-2" value='@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.reset.bt")'/>
            <a id="topic-search-bt" href="javascript:void(0)" class="btn btn-primary btn-s-2">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.search.bt")</a>
        </div>
    </form>
    <div class="table-content" style="height: 667px">
        <!--id必须为tb-topic 公用js需要使用-->
        <div style="overflow: scroll;white-space:nowrap;">
        <table id="tb-topic" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>日期</th>
                <th>订单号</th>
                <th>品名</th>
                <th>单价</th>
                <th>数量</th>
                <th>优惠额</th>
                <th>总销售额</th>
                <th>京东费率</th>
                <th>京东费用</th>
                <th>成本	</th>
                <th>国内快递费</th>
                <th>国际物流费</th>
                <th>包装费</th>
                <th>仓储服务费</th>
                <th>行邮税</th>
                <th>行邮税率</th>
                <th>利润</th>
                <th>保税区</th>
                <th>标记</th>
                <th>商店</th>
                <!--<th>最后更新</th>-->
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr id="nodata-td" style="display:none;"><td colspan="9">@Messages.get(new Lang(Lang.forCode(lang)),"themes.search.nodata")</td></tr>
                @for(order <- orderList){
                <tr class = "tb-list-data" id="orderTr@order.getId()">
                    <td><a href="/sales/order/find/@order.getId()">@order.getId()</a></td>
                    <td>@order.getSaleAt().format("yyyy-MM-dd")</td>
                    <td>@order.getOrderId()</td>
                    <td>@order.getProductName()</td>
                    <td>@order.getPrice()</td>
                    <td>@order.getSaleCount()</td>
                    <td>@order.getDiscountAmount()</td>
                    <td>@order.getSaleTotal()</td>
                    <td>@order.getJdRate()%</td>
                    <td>@order.getJdFee()</td>
                    <td>@order.getCost()</td>
                    <td>@order.getShipFee()</td>
                    <td>@order.getInteLogistics()</td>
                    <td>@order.getPackFee()</td>
                    <td>@order.getStorageFee()</td>
                    <td>@order.getPostalFee()</td>
                    <td>@order.getPostalTaxRate()%</td>
                    <td>@order.getProfit()</td>
                    <td>@order.getInvArea()</td>
                    <!--<td>@order.getRemarkStatus()</td>-->
                    @if(order.getRemarkStatus() == 1){
                    <td><img src="/assets/images/biaoji1.png" alt="" width="20"></td>
                    }
                    @if(order.getRemarkStatus() == 2){
                    <td><img src="/assets/images/biaoji2.png" alt="" width="20"></td>
                    }
                    @if(order.getRemarkStatus() == 3){
                    <td><img src="/assets/images/biaoji3.png" alt="" width="20"></td>
                    }
                    @if(order.getRemarkStatus() == 4){
                    <td><img src="/assets/images/biaoji4.png" alt="" width="20"></td>
                    }
                    @if(order.getRemarkStatus() == 5){
                    <td><img src="/assets/images/biaoji5.png" alt="" width="20"></td>
                    }
                    <td>@order.getShop()</td>
                    <!--<td>@order.getUpdateAt().toString().substring(0,16)</td>-->
                    <td><a onclick="delOrder(@order.getId())">删除</a></td>
                </tr>
                }

            </tbody>
        </table>
        </div>

        <!-- 公用分页模块,直接拷贝,传入相应的字段即可-->
        <span class="page-toolbar-title">@Messages.get(new Lang(Lang.forCode(lang)), "themes.search.table.page.toolbar", countNum, pageSize, pageCount)</span>
        <div class="paging">
            <ul class="pagination">
                <li class="prev"><a href="javascript:void(0)">&laquo;</a></li>
                <li class="page-num page-first active"><a href="javascript:void(0)">1</a></li>
                @for(count <- 1 until pageCount){
                <li class="page-num"><a href="javascript:void(0)">@(count+1)</a></li>
                }
                <li class="next"><a href="javascript:void(0)">&raquo;</a></li>
            </ul>
        </div>
        <!-- 公用模块,直接拷贝-->
    </div>
</div>

<!-- 点击图片预览-->
<div class="goods-img-bg">
    <div class="goods-bg"></div>
    <div class="goods-img">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
}

