@import play.i18n._
@(lang:String, user:domain.User)

@scripts = {
<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker1.css"/>
<link rel="stylesheet" href="/assets/css/slider.css">
<link rel="stylesheet" href="/assets/css/screenshot.css">
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/moment-with-locales.js"></script>
<script src="/assets/js/bootstrap-datetimepicker1.js"></script>
<script src="/assets/js/sale.js"></script>
<script>
    $(function () {
        $('#datetimepicker-starttime').datetimepicker({
            locale: 'zh-cn',
            format:'YYYY-MM-DD HH:mm:ss'
        });
    });
</script>
}

@import java.lang.String; var title="数据导入"

@layout(lang="cn",title=title,user=user)(scripts) {

<div class="mbread" style="width:65%">
    <div class="bread-path">
        <span class="index">@Messages.get(new Lang(Lang.forCode(lang)),"page.head.path.title")</span>
        <a href="/@lang/front"><span class="current">@Messages.get(new Lang(Lang.forCode(lang)),"nav.home")</span></a>
        <span class="icon-path">&gt;</span>
        <span class="current">销售报表</span>
        <span class="icon-path">&gt;</span>
        <span>数据导入</span>
    </div>
</div>

<div class="wrap-slider">
    <div class="page-title">
        <span class="title-name">更新订单</span>
    </div>
    <div>
        <h4 class="h4-custom-hmm"></h4>
    </div>
    <div class="usercenter-option">
        <div class="user-state fl">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.state1")</div>
        <div id="submitSaleOrder" class="btn-blue btn-form fr ml15">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.save")</div>
        <div id="cancel" class="btn-white btn-form fr ml20">@Messages.get(new Lang(Lang.forCode(lang)),"themes.slider.cancel")</div>
        <span id="js-userinfo-error" class="mt20 alt fr"></span>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="upinfo">
                <input type="hidden" class="form-control" id="id" value=""/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商店</label>
                    <div class="col-sm-2">
                        <select class="form-control form-data-area" id="shop">
                            <option selected value="1">韩秘美专营店</option>
                            <option value="2">韩秘美化妆品店</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">日期*</label>

                    <div class="col-sm-4">
                        <div id="datetimepicker-starttime" class="input-group date">
                            <input id="saleAt" class="form-control col-sm-2"  type="text" value=''>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">订单号*</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="orderId" value=""/>
                    </div>
                </div>

                <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">单价*</label>-->

                <!--<div class="col-sm-8">-->
                <!--<input type="text" class="form-control" id="price" value=""/>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">数量*</label>-->

                <!--<div class="col-sm-8">-->
                <!--<input type="text" class="form-control" id="saleCount" value=""/>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-sm-2 control-label">优惠额总和</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="discountAmount" value=""/>
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">京东费率,单位百分比</label>-->

                <!--<div class="col-sm-8">-->
                <!--<input type="text" class="form-control" id="jdRate" value=""/>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-sm-2 control-label">国内快递费</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="shipFee" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">国际物流</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inteLogistics" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">包装</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="packFee" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">仓储服务费</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="storageFee" value=""/>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">行邮税税率，单位百分比，例如填入3，表示3%</label>-->

                    <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" id="postalTaxRate" value=""/>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">标记</label>
                    <div class="col-sm-8">
                        <input type="radio" name="remarkStatus" value="1" checked />&nbsp;<img src="/assets/images/biaoji1.png" alt="" width="20">&nbsp;&nbsp;
                        <input type="radio" name="remarkStatus" value="2"/>&nbsp;<img src="/assets/images/biaoji2.png" alt="" width="20">&nbsp;&nbsp;
                        <input type="radio" name="remarkStatus" value="3"/>&nbsp;<img src="/assets/images/biaoji3.png" alt="" width="20">&nbsp;&nbsp;
                        <input type="radio" name="remarkStatus" value="4"/>&nbsp;<img src="/assets/images/biaoji4.png" alt="" width="20">&nbsp;&nbsp;
                        <input type="radio" name="remarkStatus" value="5"/>&nbsp;<img src="/assets/images/biaoji5.png" alt="" width="20">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="remark" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">订单状态</label>
                    <div class="col-sm-8">
                        <input type="radio" name="orderStatus" value="S" checked />正常&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="orderStatus" value="T"/>退货
                    </div>

                </div>
                <input type="hidden" class="form-control" id="inputType" value="1"/>
            </div>

            <button type="button" class="btn btn-primary btn-xs add-goods" onclick="addSaleOrderLine()">添加商品</button>
            <div class="bgk">
                <table class="table table-bordered table-hover grid" id="sort" title="Kurt Vonnegut novels">
                    <thead>
                    <tr>
                        <th>
                            商品ID(商品查询中有)
                        </th>
                        <th>
                            商品标题
                        </th>
                        <th>
                            单价
                        </th>
                        <th>
                            数量
                        </th>
                        <th>
                            京东费率如8%填8
                        </th>
                        <th>
                            成本
                        </th>
                        <th>
                            优惠额
                        </th>
                        <th>
                            删除
                        </th>
                    </tr>
                    </thead>
                    <tbody class="ui-sortable" id="orderLinetbody">
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
}

